* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1178px;
  margin: 0 auto;
  padding-right: 36px;
  padding-left: 32px;
}

.grab-left {
  float: left;
}

.grab-right {
  float: right;
}

.post a::after,
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

header {
  padding: 40px 10px 46px 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

a:visited {
  color: #0f0101;
}

.navigation {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  list-style: none;
}

.navigation li {
  float: left;
  padding: 0 10px 0;
  text-align: left;
}

.navigation a:hover,
.navigation a:focus {
  color: #1abc9c;
}

.navigation a {
  padding-right: 4px;
  padding-left: 4px;
}


h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  margin-bottom: 88px;
  line-height: 1;
  letter-spacing: -1px;
}

h2:after {
  content: "";
  display: block;
  width: 165px;
  background: #1abc9c;
  height: 7px;
  text-align: center;
  margin: 26px auto 0;
}

.block {
  padding-top: 52px;
  padding-bottom: 16px;
}

.post {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 255px;
  text-transform: uppercase;
  font-size: 18px;
}

.post:focus,
.post:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.post a {
  display: block;
}

.post:nth-of-type(4n) {
  margin-right: 0;
}

.post span {
  display: block;
  margin: 0;
  color: white;
}

.title {
  width: 200px;
  background: #323232;
  padding: 10px;
}

.price {
  background: #8c8c8c;
  width: 55px;
  text-align: center;
  padding: 10px;
}

.post a:hover .title,
.post a:focus .title {
  background: #1abc9c;
}

.post a:hover .price,
.post a:focus .price {
  background: #7fd9c7;
}

.info {
  width: 350px;
  float: left;
  margin-right: 30px;
  color: #555252;
}

.info:nth-of-type(3n) {
  margin-right: 0;
}

.info img {
  margin-bottom: 10px;
}

.info span {
  display: block;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  margin-bottom: 20px;
}

.info span::after {
  content: '';
  width: 135px;
  height: 3px;
  display: block;
  background: #4ec6ab;
  margin-top: 10px;
}

.info p {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 12px;
  line-height: 26px;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border: none;
  padding: 14px 40px;
  color: #f3fbf9;
  background: #4ec6ab;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
