* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.header {
  background: #4cb1ca;
  padding: 15px 0;
}

.header-info-links {
  color: #fff;
  font-size: 13px;
  font-family: serif;
}

.header-additional-info {
  float: left;
  position: relative;
  margin-right: 30px;
}



.header-additional-itemm::after {
content:'';
position: absolute;
right: -12%;
top: 2;
height: 6px;
width: 6px;
border-bottom: 2px solid white;
border-right: 2px solid white;
transform: rotate(45deg);
}

.header-login {
  float: right;
}

.header-additional-item {
  float: left;
  margin-right: 30px;
}

.header-login-item {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.header-login-item:last-child {
  padding-right: 0;
}

.header-login-item:last-child::after {
  display: none;
}

.header-login-item::after {
  content: '';
  width: 1px;
  height: 100%;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.colored-text {
  color: #bff2ff;
  padding-right: 10px;
}


main{
  padding: 50px;
}
.block{
  width: 236px;
  padding: 10px;
  padding-bottom: 16px;
  border: 2px solid #eff1f0;
}

img{
  width: 217px;
  height: auto;
}

.block img {
  display: block;
  max-width: 100%;
}

span{
  display: block;
}

.info{
  position: relative;
  padding-right: 50px;
}
.title {
  margin-top: 16px;
  margin-bottom: 8px;
}

.price{
  color: #7db122;
  font-size: 20px;

}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.info::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7db122;
}
