.customers{
	display: block;
	overflow: hidden;
	width: 100%
	h2 {
		width: 100%;
		display: block;
		overflow: hidden;
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		color: #555555;
		margin: 0 0 0 0;
	}
	p {
		width: 100%;
		display: block;
		overflow: hidden;
		font-size: 20px;
		font-weight: 400;
		text-align: center;
		color: #555555;
		margin: 20px 0 30px 0;
	}
	li {
		width: 100%;
		display: block;
		overflow: hidden;
		text-align: center;
		a {
			margin: 0 0 0 40px;
		}
	}
}