.end{
	width: 100%;
	display: block;
	overflow: hidden;
	line-height: 71px;
	margin: 20px 0 0 0;
	height: 71px;
	border-color: #24272a;
	border-style: solid;
	border-top-width: 1px;
	background-color: #2f3235;
	p {
		font-size: 13px
		font-weight 400;
		color: #bfbfbf;
	}
	a{
		color: #7494a8;
	}
	.link {
		display: inline-block;
		overflow: hidden;
		float: right;
		margin-left: 6px;
	}
}