#header {
	width:100%;
	display:block;
	position:relative;
	background: #3a3d40;
	height: 95px;
	width: 100%;
	box-sizing: border-box;
	border-bottom-style: solid;
	border-color: #4a4d50;
	border-width: 6px;
	.logo {	
		padding-top: 29px;
		float: left;
		cursor: pointer;	
	}
	ul {
		float: right;
		li {
			text-transform: uppercase;
			float: left;
			font-size: 14px;
			height: 95px;
			padding-left: 21px;
			padding-right: 21px;
			border-right: 1px solid #4a4d50;
			cursor: pointer;
		}
		li:first-child {
			border-left: 1px solid #4a4d50;
		}
		li:hover {
			background-color: #35373a;
		}
		li:active {
			background-color: #35373a;
			a {
				color: #fff;
				line-height: 95px;
			}
			a:hover {
				color: #7a9cb2;
			}
			a:active {
				color: #7a9cb2;
			}
		}
	}
}