
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:978px;
}
#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}
#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}
#header {
	width:100%;
	display:block;
	position:relative;
}
/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin:0 auto;
		position:relative;
		width:768px;
	}
}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}
}
#main{
	width: 100%;

}




/*content page ABOUT*******************************/



#main{
	display: flex;
	align-items: stretch;
}


#content {
	background-image: 
	background-repeat: x y
	float: right;
	display: block;
	overflow: hidden;
	width: 77%;
	background-color: #2a2a2a;

}
#content h1{
	font-size: 49px;
	color: #f39c12;
	font-family: Myriad Pro Regular;
	margin-top: 52px;
	margin-left: 31px;
}
#content h2{
	font-size: 35px;
	font-family: Myriad Pro Regular;
	color: #f5f5f5;
	margin-top: 18px;
	margin-left: 31px;
}
#content .biograhy{
	width: 601px;
	display: block;
	overflow: hidden;
}
#content .biograhy img{
	float: left;
	margin-top: 38px;
	margin-left: 31px;
}
#content .biograhy .paragraf1 p{
	margin-top: 43px;
	margin-left: 249px;
	color: #a9a9a9;
	font-size: 14px;
	font-family: Myriad Pro Regular;
	width: 310px;
}
#content .biograhy .paragraf2{
	margin-top: 40px;
	margin-left: 249px;
	color: #cd8519;
	font-size: 14px;
	font-family: Myriad Pro Regular;
	width: 310px;
	text-transform: uppercase;
}
#content .biograhy .paragraf3{
	margin-top: 18px;
	margin-left: 249px;
	color: #f2f2f2;
	font-size: 14px;
	font-family: Myriad Pro Regular;
	width: 310px;
}
#content .biograhy .paragraf4{
	margin-top: 11px;
	margin-left: 249px;
	color: #a9a9a9;
	font-size: 14px;
	font-family: Myriad Pro Regular;
	width: 310px;
}
#content .statistic{
	display: block;
	overflow: hidden;
}
#content .statistic h3{
	font-size: 21px;
	text-transform: uppercase;
	font-family: Myriad Pro Regular;
	margin-top: 41px;
	margin-left: 31px;
	color: #f2f2f2;
}
#content .statistic .row{
	display: block;
	overflow: hidden;
	width: 90%;
}
#content .statistic .row1{
	width: 441px;
	height: 44px;
	margin-top: 25px;
	margin-left: 31px;
	margin-bottom: 18px;
	background-color: #f39c12;
	border-radius: 6px;
	z-index: 10;
	position: relative;
	float: left;
}
#content .statistic .row1 p{
	float: left;
	line-height: 44px;
	font-size: 14px;
	margin-left: 16px;
}
#content .statistic .row1 .row11{
	z-index: 20;
	position: absolute;
	width: 140px;
	height: 44px;
	background-color: #202020;
	border-radius: 6px;
	margin-left: 431px;
}
#content .statistic .row1 .row11 p{
	float: left;
	line-height: 44px;
	font-size: 14px;
	margin-left: 91px;
	color: #f2f2f2;

}
#content .statistic .row2{
	width: 491px;
	height: 44px;
	margin-top: 25px;
	margin-left: 31px;
	margin-bottom: 18px;
	background-color: #f39c12;
	border-radius: 6px;
	z-index: 10;
	position: relative;
	float: left;
}
#content .statistic .row2 p{
	float: left;
	line-height: 44px;
	font-size: 14px;
	margin-left: 16px;
}
#content .statistic .row2 .row22{
	z-index: 30;
	position: absolute;
	width: 90px;
	height: 44px;
	background-color: #202020;
	border-radius: 6px;
	margin-left: 481px;
}
#content .statistic .row2 .row22 p{
	float: left;
	line-height: 44px;
	font-size: 14px;
	margin-left: 41px;
	color: #f2f2f2;
}
#content .statistic .row3{
	width: 351px;
	height: 44px;
	margin-top: 25px;
	margin-left: 31px;
	margin-bottom: 18px;
	background-color: #f39c12;
	border-radius: 6px;
	z-index: 10;
	position: relative;
	float: left;
}
#content .statistic .row3 p{
	float: left;
	line-height: 44px;
	font-size: 14px;
	margin-left: 16px;
}
#content .statistic .row3 .row33{
	z-index: 20;
	position: absolute;
	width: 230px;
	height: 44px;
	background-color: #202020;
	border-radius: 6px;
	margin-left: 341px
}
#content .statistic .row3 .row33 p{
	float: left;
	line-height: 44px;
	font-size: 14px;
	margin-left: 91px;
	color: #f2f2f2;
}




/*END CONTENT PAGE ABOUT******************************/






/*CONTENT PAGE MANY FOTO************************/




#content .manyFoto{
	overflow: hidden;
	width: 77%;
	background-color: #2a2a2a;
	margin: 50px 0 335px 30px;

}



/*END CONTENT PAGE MANY FOTO*********************/






/**CONTENT PAGE SINGLE*****************************/




#content{
	display: block;
	overflow: hidden;
	width: 77%;
}
#content .single_head{
	display: block;
	overflow: hidden;
	width: 77% ;
}
#content .single_head h1{
	font-size: 49px;
	color: #f39c12;
	font-family: Myriad Pro Regular;
	margin: 53px 0 0 31px;
	text-transform: uppercase;
}
#content .single_head h2{
	font-size: 36px;
	color: #f2f2f2;
	font-family: Myriad Pro Regular;
	margin: 18px 0 0 31px;
	text-transform: uppercase;
}
#content .single_head h3{
	font-size: 21px;
	font-family: OpenSans Bold;
	color: #f39c12;
	margin: 44px 0 0 30px;
	font-weight: 700;
}
#content .single_content{
	display: block;
	overflow: hidden;
}
#content .single_content .fotoColi{
	margin: 26px 0 0 28px;
}
#content .single_content ul{
	margin: 26px 0 0 29px;
}
#content .single_content li{
	float: left;
}
#content .single_content li:nth-child(2){
	margin-left: 21px;
}
#content .single_content li:nth-child(3){
	margin-left: 17px;
}
#content .single_content li:last-child{
	margin-left: 18px;
}
#content .single_content p{
	font-size: 14px;
	color: #848484;
}
#content .single_content p img{
	margin-right: 7px;

}
#content .single_content p a{
	color: #f39c12;
}
#content .single_text{
	display: block;
	overflow: hidden;
}
#content .single_text ul{
	display: block;
	overflow: hidden;
}
#content .single_text li{
	display: block;
	overflow: hidden;
	width: 618px;
	margin: 0px 0 0 27px;
}
#content .single_text li:first-child{
	margin-top: 29px;
	margin-bottom: 30px;
	color: #f2f2f2;
}
#content .single_text li:nth-child(2){
	color: #fff;
}
#content .single_text li:nth-child(3){
	margin: 54px 0 14px 47px;
	text-transform: uppercase;
	color: #f39c12;
	font-size: 16px;
	width: 553px;
}
#content .single_text li:last-child{
	color: #f2f2f2;
	margin-top: 16px;
}
#content .single_text li p{
	font-size: 14px;
}
#content .single_text .border{
	width: 623px;
	height: 1px;
	background-color: #505050;
	margin: 73px 0 0 27px;
}
#content .single_comments{
	display: block;
	overflow: hidden;
}
#content .single_comments h3{
	font-size: 21px;
	color: #f39c12;
	text-transform: uppercase;
	margin: 55px 0 34px 29px;
}
#content .single_comments .firstComments{
	display: block;
	overflow: hidden;
	width: 645px;
}
#content .single_comments .firstComments img{
	float: left;
	margin: 0 21px 74px 30px;
}
#content .single_comments .firstComments h6{
	font-size: 14px;
	color: #f2f2f2;
}
#content .single_comments .firstComments h6 a{
	color: #f39c12;
}
#content .single_comments .firstComments p{
	color: #f2f2f2;
	margin-top: 9px;
}
#content .single_comments .secondComments{
	display: block;
	overflow: hidden;
	width: 645px;
}
#content .single_comments .secondComments img{
	float: left;
	margin: 0 21px 25px 30px;
}
#content .single_comments .secondComments h6{
	font-size: 14px;
	color: #f2f2f2;
}
#content .single_comments .secondComments h6 a{
	color: #f39c12;
}
#content .single_comments .secondComments p{
	color: #f2f2f2;
	margin-top: 9px;
}
#content .leaveComment{
	display: block;
	overflow: hidden;
}
#content .leaveComment h3{
	font-size: 21px;
	color: #f39c12;
	margin: 61px 0 0 29px;
	text-transform: uppercase;
}
#content .leaveComment li{
	display: block;
	overflow: hidden;
	margin: 14px 0 0 30px;
}
#content .leaveComment li input{
	width: 380px;
	height: 36px;
	background-color: #202020;
	color: #fff;
	font-size: 14px;
	border: none;
	color: #848484;


}
#content .leaveComment li textarea{
	width: 380px;
	height: 167px;
	background-color: #202020;
	border: none;
	color: #848484;
}
#content .leaveComment li button{
	border: none;
	width: 128px;
	height: 42px;
	background-color: #f39c12;
	font-size: 14px;
	margin-bottom: 179px;
	cursor: pointer;
}



/*END CONTENT PAGE SINGLE***********************/


/*PAGE CONTACT*************************/

#content .head_contact{
	display: block;
	overflow: hidden;
}
#content .head_contact h1{
	font-size: 49px;
	color: #f39c12;
	font-weight: 600;
	margin: 53px 0 0 31px;
	text-transform: uppercase;
	height: 43px;
}
#content .head_contact h2{
	font-size: 36px;
	color: #f2f2f2;
	font-family: Myriad Pro Regular;
	margin: 11px 0 0 33px;
	text-transform: uppercase;
	height: 31px;
}
#content .head_contact p{
	font-size: 14px;
	color: #f2f2f2;
	margin: 34px 0 36px 31px;
	width: 602px;
}
#content .send_message li{
	display: block;
	overflow: hidden;
	margin: 14px 0 0 30px;
}
#content .send_message li:first-child{
	margin: 0 0 0 30px;
}
#content .send_message li input{

	width: 380px;
	height: 36px;
	background-color: #202020;
	
	font-size: 14px;
	border: none;
	color: #848484;
}
#content .send_message li textarea{
	width: 380px;
	height: 167px;
	background-color: #202020;
	border: none;
	color: #848484;
}
#content .send_message li button{
	border: none;
	width: 128px;
	height: 42px;
	background-color: #f39c12;
	font-size: 14px;
	margin-bottom: 179px;
	cursor: pointer;
}





/*END PAGE CONTACT**************************/



/*sidebar***********************************/




#sidebar{
	
	width: 23%;
	background-color: #202020;
}
#sidebar .head{
	display: block;
	overflow: hidden;
}
#sidebar .head img{
	margin: 41px 0 0 28px;
}
#sidebar .head p{
	font-size: 12px;
	color: #f2f2f2;
	font-family: Myriad Pro Regular;
	margin-top: 11px;
	margin-left: 28px;
	margin-bottom: 43px;
}
#sidebar .menu{
	display: block;
	overflow: hidden;
}
#sidebar .menu ul{
	display: block;
	overflow: hidden;

}
#sidebar .menu ul li{
	margin-bottom: 6px;
	margin-left: 28px;
}
#sidebar .menu ul li a{
	color: #fff;
	font-size: 15,44px;
	text-transform: uppercase;	
}
#sidebar .menu ul li:nth-child(5){
	margin-top: 25px;
}
#sidebar .menu ul li:nth-child(6){
	margin-bottom: 25px;
}
#sidebar .menu ul li:nth-child(7){
	margin-bottom: 0px;
}
#sidebar .menu ul li a:hover{
	color: #f39c12;
}
#sidebar .menu ul li a:active{
	color: #f39c12;
}
#sidebar .twitter{
	display: block;
	overflow: hidden;
}
#sidebar .twitter img{
	display: block;
	overflow: hidden;
	margin-top: 30px;
	margin-left: 28px;
	float: left;
}
#sidebar .twitter p{
	font-size: 15,14px;
	margin-top: 30px;
	color: #fff;
	margin-left: 52px;
	text-transform: uppercase;
	font-family: Myriad Pro Regular;
}
#sidebar .text{
	display: block;
	overflow: hidden;
	width: 200px;
}
#sidebar .text p{
	color: #a9a9a9;
	margin-left: 28px;
	margin-top: 11px;
	font-size: 12px;
	font-family: Myriad Pro Regular;
}
#sidebar .text p a{
	color: #888888;
}
#sidebar .social{
	display: block;
	overflow: hidden;
}
#sidebar .social p{
	color: #fff;
	font-size: 15,14px;
	margin: 40px 0 0 28px;
}
#sidebar .social ul{
	display: inline-block;
	overflow: hidden;
	margin-left: 28px;
}
#sidebar .social li{
	float: left;
	margin: 15px 12px 0 0px;
}
#sidebar .end{
	display: block;
	overflow: hidden;
}
#sidebar .end p{
	font-size: 12px;
	font-family: Myriad Pro Regular;
	margin: 36px 0 180px 28px;
	color: #a8a8a8;
	width: 178px;
}

/*END SIDBAR******************/