#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	.top {
		margin-top: 30px;
	}
	.dark_grey_1 {
		background: #2f3235;
		position: relative;
		width: 100%;
		height: 5px;
		display: block;
		overflow: hidden;
	}
	.dark_grey_2 {
		background: #3a3d40;
		position: relative;
		width: 100%;
		height: 385px;
		display: block;
		overflow: hidden;
	}
	.dark_grey_3 {
		background: #24272a;
		position: relative;
		width: 100%;
		height: 1px;
		display: block;
		overflow: hidden;
	}
	.dark_grey_4 {
		background: #2f3235;
		position: relative;
		width: 100%;
		height: 70px;
		display: block;
		overflow: hidden;
	}
	.column {
		display: flex;
		overflow: hidden;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		align-content: space-between;
		text-align: center;
		width: 970px;
		height: 365px;
		margin-top: 20px;
		li {
			text-align: left;
			align-items: flex-start;
			width: 24%;
		}
		h6 {
			margin-top: 20px;
			width: 99%;
			color: #e3e3e3;
			font-family: 'allerbold',sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: #e3e3e3;
			text-transform: uppercase;
		}
		p {
			color: #e3e3e3;
			width: 96%;
			margin: 5px;
			font-family: 'allerbold',sans-serif;
			font-size: 13px;
			color: #e3e3e3;
			line-height: 1.5;
		}
	}
	#date_footer {
		color: #81878d;
	}
	#time_footer {
		color: #7c9eb3;
	}
	#dots_b {
		margin-top: 15px;
		margin-bottom: 15px;
		width: 95%;
		display: block;
		overflow: hidden;
		height: 3px;
		background-position: 0 0;
		background-repeat: repeat-x;
		background-image: url(../images/img-dots_b.png);
	}
	.mini {
		margin-top: 10px;
		padding-left: 8px;
		padding-top: 9px;
		width: 212px;
		height: 26px;
		display: block;
		resize: none;
		background-color: #282b2d;
		border-color:#282b2d;
	}
	.maxi {
		margin-top: 10px;
		padding-left: 8px;
		padding-top: 9px;
		width: 212px;
		height: 131px;
		display: block;
		resize: none;
		background-color: #282b2d;
		border-color:#282b2d;
	}
	.buttonsubmit {
		margin-top: 10px;
		width: 110px;
		height: 31px;
		color: #c7ced3;
		border-color:#2f3235;
		border-radius: 5px;
		background: linear-gradient(#718fa2 50%, #597689 50%);
		-webkit-gradient: (linear, left top, left bottom, color-stop(50%, #718fa2), color-stop(50%, #597689))
	}
	.by {
		margin-top: 25px;
		color: #bfbfbf;
		display: inline-flex;
		p {
			font-family: 'allerbold',sans-serif;
			font-size: 13px;
			color: #e3e3e3;
		}
	}
	#elemis {
		margin-left: 5px;
		color: #86acc4;
	}
	.sn {
		width: 100%;
		text-align: right;
		margin-top: -45px
	}
	a {
		img {
			margin-top: 22px;
		}
	}
}
