#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	background-color: #303646;
	img {
		float: right;
		z-index: 30;
		position: relative;
		margin-bottom: -62px;
	}	
}