.right {
  display: block;
  overflow: hidden;
  width: 411px;
  h4 {
    font-family: Myriad Pro Regular;
    font-size: 14px;
    color: #020304;
    float: left;
    z-index: 20;
    position: relative;
    float: left;
    margin-left: 32px;
  }
  .line {
    width: 131px;
    height: 1px;  
    margin: 6px 0 15px 29px;
    float: left;
    background-color: #4e4d4d;
    z-index: 20;  
    float: left;
  }
  .network { 
    display: block;
    overflow: hidden;
    margin: 20px 0 0 32px;
    width: 100%;
    li {
      display: inline-block;
      overflow: hidden;
    }
    img {
      margin: 17px 5px 0 0;
      float: left;
    }
  }
  .info {
    float: left;
    display: block;
    overflow: hidden;
    margin: 30px 0 0 0;
    width: 100%;
    h4 {
      font-family: Myriad Pro Regular;
      font-size: 14px;
      color: #020304;
      float: left;
    }
    .line1 {
      width: 72px;
      height: 1px;
      float: left;
      margin: 8px 0 0px 23px;
      background-color: #4e4d4d;  
    }
    .contact {
      width: 100%;
      margin: 18px 0 0 32px;
      float: left;
      li {
        display: block;
        overflow: hidden;
      }
      img {
        float: left;
        margin: 6px 14px 0 0;
      }
      p {
        margin: 10px 0px 0 0;
        color: #4e4d4d;
        font-size: 14px;
      }
    }
  }
}