@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url(../fonts/Raleway/Raleway-MediumItalic.ttf);
}


@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway-ThinItalic';
    src: url(../fonts/Raleway/Raleway-ThinItalic.ttf);
}


@font-face {
    font-family: 'crasivo';
    src: url("../fonts/crasivo.ttf");
}


@font-face {
    font-family: 'decor';
    src: url("../fonts/decor.ttf"); :
}

html {
    scroll-behavior: smooth;
}

.block-greeting {
    background-color: #0f0101;
    background: url("../img/cover.jpg") no-repeat center center;
    background-attachment:fixed;
    width: 100%;
    height: 721px;
    background-size: cover;
    position: relative;
}
.block-greeting-overlay {
    background: url("../img/pattern.png");
    background-color: rgba(44, 62, 80, 0.3);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.info{
    color: #fefefe;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
    font-family:'Raleway-Light', sans-serif;
}

.info-h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 12px;
    font-size: 60px;
    font-family: "Raleway-MediumItalic",sans-serif;
}

.info-span{
    display: inline-block;
    margin: 0 0 18px;

}

.info-name{
    color: red;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'crasivo', sans-serif;
    position: relative;
}

.scroll {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white ;
    overflow: hidden;
}

.scroll:hover {
    border-color: red;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefefe;
    animation: timing 1.5s infinite linear ;
}

.scroll:hover .arrow{
    color: red;
}



/*header*/


.container {
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.text-design{
    text-transform: uppercase;
    color: #0f0101;
    letter-spacing: 3px;
    font-family: "Raleway-Medium",sans-serif;
}

.header{
    position:sticky;
    top: 0;
    z-index: 100;
    background: #fefefe;
}

.header::after{
    display: block;
    background: red;
    height:1px;
    width: 100%;
    content: "";
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 ;
}

.logo{
    font-family: "crasivo", sans-serif;
    color: red;
    font-size: 30px;
}

.navigation{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navigation-item{
    font-size: 11px;
    padding: 4px;
}

.navigation-item:hover{
    color: red;
}

/*main*/

.wrapper{
    padding: 8% 0 4%;
    /*background: #f5f5f5;*/
}


.wrapper-h2{
    text-transform: uppercase;
    font-family: "Raleway-MediumItalic",sans-serif;
    font-size:27px;
    text-align: center;
    margin: 0 0 7px;
}

.decor-caffee{
    background: url("../img/caffe-2.png");
    background-size: cover;
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0  auto 40px;
}


.decor-caffee:before{
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    bottom: 18px;
    transform: translateY(-50%);
    width: 115px;
    height: 2px;
    background: red;

}

.decor-caffee:after{
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    bottom: 18px;
    transform: translateY(-50%);
    width: 115px;
    height: 2px;
    background: red;

}

.about-me {
    display: flex;
    justify-content: center;
}

.img-about-me {
    width: 30%;
    padding-right: 6%;
}

.about-me-description{
    font-size: 18px;
    font-family:"Raleway-ThinItalic",sans-serif;
    line-height: 33px;
    width: 45%;
}

.main-text{
    margin: 0 0 18px;
}

.main-text:last-of-type{
    margin:0 0 35px;
}

.link-portfolio{
    color: red;
}


.tool-list{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.tool-list-item {
    display: inline-block;
    width: 15%;
    padding: 4px;
}


.tool-list-img {
    width: 75px;
    height: 75px;
    object-fit: contain;

}

/*section 2*/
.portfolio{
    padding: 5% 0 4%;
}

.gallery{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    min-height:1350px;
    padding: 3% 0;
}
.gallery-item{
    width: 330px;
    height: 380px;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    box-shadow: -2px 6px 19px 0 rgba(0,0,0,0.46);
    position: relative;
}

.gallery-item:nth-of-type(2n){
    transform: rotate(5deg);
}

.gallery-item:nth-of-type(2n+1){
    transform: rotate(-8deg);
}

.gallery-item:before{
    background: url("../img/pin.png") no-repeat center;
    position: absolute;
    content: "";
    display: block;
    width: 11%;
    height: 11%;
    background-size: contain;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item-overlay{
    height: 78%;
    width: 100%;
    display: block;
    background: black;
    margin: 0 0 3%;
}

.gallery-img{
    width: 100%;
    height: 100%;
    border:  thin solid black;
    animation: opacity;
    animation-duration: 5s;
    animation-timing-function: linear;
    opacity:1;
}

.gallery-item .tool-list{
    /*height: 22%;*/
    display: flex;
    align-items: center;
}

.gallery-item .tool-list-img {
    width: 40px;
    height: 40px;
}

.decor-text{
    font-family:'decor';
    
}




@keyframes opacity{
    0%{opacity:0;}
    100%{opacity:1;}
}

/*.skills{*/
    /*list-style: none;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*align-content:space-around;*/
    /*margin: 0;*/
    /*padding: 0;*/

/*}*/

/*.skills-item {*/
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0), 0 4px 8px rgba(0, 0, 0, 0.3);*/
    /*width: 20%;*/
    /*padding: 4% 1.5%;*/
    /*background:white;*/
/*}*/


/*.skills-h3{*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*letter-spacing: 1px;*/
    /*text-align: center;*/
    /*margin: 0 0 15px;*/
/*}*/

/*.skills-description{*/
    /*text-align: center;*/
    /*margin: 0 0 10px;*/

/*}*/

/*.works{*/
    /*background: white;*/
/*}*/

/*.gallery-works{*/
    /*min-height: 800px;*/
/*}*/

/*.skill-gallery{*/
    /*text-align: center;*/
    /*width: 25%;*/
    /*!*height: 50%;*!*/
    /*background: #f5f5f5;*/
    /*border-radius: 5%;*/
    /*padding: 25px 15px;*/
/*}*/

/*!*.skill-gallery:hover {*!*/
    /*!*transform: scale(1.2);*!*/
/*!*}*!*/

/*.img-works{*/
    /*width: 250px;*/
    /*height: 300px;*/
    /*object-fit: cover;*/
/*}*/



@keyframes timing {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 80%;
        opacity: 0;
    }
}

/*@keyframes shake {*/
    /*0% { transform: translate(1px, 1px) rotate(0deg); }*/
    /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
    /*20% { transform: translate(-3px, 0px) rotate(1deg); }*/
    /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
    /*40% { transform: translate(1px, -1px) rotate(1deg); }*/
    /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
    /*60% { transform: translate(-3px, 1px) rotate(0deg); }*/
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    /*80% { transform: translate(-1px, -1px) rotate(1deg); }*/
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    /*100% { transform: translate(1px, -2px) rotate(-1deg); }*/
/*}*/
