
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:960px;
	display: block;
	overflow: hidden;
}
#footer {
	

	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	background: #3a3d40;
	
	margin: 50px 0 0 0;
	
}
#main {

	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	
}
#header {
	width:100%;
	display:block;
	position:relative;
	background: #3a3d40;
	height: 95px;
	width: 100%;
	box-sizing: border-box;
	border-bottom-style: solid;
	border-color: #4a4d50;
	border-width: 6px;
	
	/*border-bottom-style: solid;
	border-color: #000000;
	border-width: 1px;*/

}
/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin:0 auto;
		position:relative;
		width:768px;
	}
}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}
}
#header .logo{	
	padding-top: 29px;
	float: left;
	cursor: pointer;	
}




#header .nav{
	height: 95px;
	float: right;
}
#header .nav li{
	display: inline-block;
	margin: 0 0 0 0px;
	overflow: hidden;
	height: 95px;
}
#header .nav li a {
	color: #d4d4d4;
	display: block;
	overflow: hidden;
	cursor: pointer;
	line-height: 95px;
}
#header .nav .button1{
	background-color: #35373a;
	border-style: none solid;
	border-color: #4a4d50;
	border-width: 1px;
	width: 76px;
	text-align: center;

	/*padding: 0 0 5px 0;*/
}
#header .nav .button2{
	border-right: solid;
	border-color: #4a4d50;
	border-width: 1px;
	width: 87px;
	text-align: center;
}
#header .nav .button3{
	border-style: none solid;
	border-color: #4a4d50;
	border-width: 1px;
	width: 104px;
	text-align: center;
	margin: 0 -5px;
}
#header .nav .button4{
	border-style: none solid;
	border-color: #4a4d50;
	border-width: 1px;
	width: 82px;
	text-align: center;
}
#header .nav .button5{
	border-style: none solid;
	border-color: #4a4d50;
	border-width: 1px;
	width: 70px;
	text-align: center;
	margin: 0 -5px;

}
#header .nav .button6{
	border-style: none solid;
	border-color: #4a4d50;
	border-width: 1px;
	width: 94px;
	text-align: center;
	box-sizing: border-box;
}

#header .nav .button1 a{
	color: #7596ab;
	

}
#content{
	display: block;
	overflow: hidden;
	width: 100%
}
#content .slider{
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 50px 0 0 0;

}
#content .services{
	width: 100%;
	display: block;
	overflow: hidden;
}
#content .services h2{
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 50px 0 0 0;
	color: #555555;
	font-size: 30px;
	font-weight: 700;
}
#content .services p {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 20px;
	font-weight: 400;
	margin: 25px 0 0 0;
	color: #555555;
	text-align: center;
	margin-bottom: 40px;
}
#content .tabs{
	width: 100%;
	
	display: block;
	overflow: hidden;

}
#content .tabs li{
	
	display: inline-block;
	overflow: hidden;
	/*margin: 47px 0 30px 0px;*/
	
}
#content .tabs li a{
	display: inline-block;
	overflow: hidden;
	width: 100%;
	font-size: 13px;
	font-weight: 400;
}
#content .tabs .button1{
	border-style: none  none solid none;
	border-color: #c5c5c5;
	border-width: 1px;
	width: 302px;
	box-sizing: border-box;
	margin: 0 -2px;
}

#content .tabs .button2{
	border-style: solid solid none solid;
	border-color: #c5c5c5;
	border-width: 1px;
	width: 120px;
	height: 34px;
	text-align: center;
	box-sizing: border-box;
	line-height: 34px;
	margin: 0 -2px;

}
#content .tabs .button3{
	border-style: solid solid solid none;
	border-color: #d7d7d7;
	border-width: 1px;
	width: 119px;
	height: 34px;
	text-align: center;
	box-sizing: border-box;
	line-height: 34px;
	margin: 0 -2px;
	background-color: #f8f8f8; 
}
#content .tabs .button4{
	border-style: solid solid solid none;
	border-color: #d7d7d7;
	border-width: 1px;
	width: 119px;
	height: 34px;
	text-align: center;
	box-sizing: border-box;
	line-height: 34px;
	background-color: #f8f8f8; 
	margin: 0 -2px;
}
#content .tabs .button5{
	
	border-bottom: solid;
	border-color: #c5c5c5;
	border-width: 1px;
	width: 302px;
	margin: 0 -2px;
	box-sizing: border-box;
}


#content .tabs .button2 a{
	color: #6b99b6;
	font-weight: 700;
}
#content .tabs .button3 a{
	color: #555555;
	font-weight: 700;
}
#content .tabs .button4 a{
	color: #555555;
	font-weight: 700;
}
#content .tabs-content{
	width: 100%;
	display: block;
	overflow: hidden;
	margin-top: 30px;
}
#content .tabs-content .left{
	width: 40%;
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 0 0px 0;
}
#content .tabs-content .left img{
	
}
#content .tabs-content .right{
	width: 60%;
	display: block;
	overflow: hidden;
	float: right;
	
}
#content .tabs-content .right h3{
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 17px;
	font-weight: 700;
	margin:0 0 15px 30px;
	color: #555555;

	}
#content .tabs-content .right .text1 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 30px 30px;
	color: #555555;
}
#content .tabs-content .right .text2{
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 30px 30px;
	color: #555555;
}
#content .tabs-content .right li{
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 15px;
	font-weight: 400;
	margin: 7px 7px 5px 30px;
	color: #555555;
}
/*#content .tabs-content .right li p {
	padding-left: 5px;
	display: block;
	overflow: hidden;*/

}

#content .tabs-content .dotted {
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0px 0 0 0;
}
#main .dotted{
	margin: 50px 0;
}

#content .projects{
	width: 100%;
	display: block;
	overflow: hidden;
}
#content .projects h2{
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	font-style: 30px;
	font-weight: 700;
	color: #555555;
	margin: 0px 0 0 0;
}
#content .projects p{
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #555555;
	margin: 25px 0 30px 0;
}
#content .projects li{
	display: inline-block;
	overflow: hidden;

	
}

}
#content .blog{
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0 0 0 0;
}
#content .blog h2{
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #555555;
}
#content .blog p {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #555555;
	margin: 20px 0 30px 0;
}
#content .blog ul{
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
}
#content .blog li{
	display: inline-block;
	overflow: hidden;
	width: 478px;
	margin: 0px 0 0 0;	
}
#content .blog li .date{
	float: left;
	background: #ececec;
	height: 55px;
	width: 55px;
	border-radius: 50px;
	text-align: center;
	margin: 0 0 0px 0;
	padding: 0px 0 0 0;
}
#content .blog .date .day{
	display: block;
	overflow: hidden;
	font-size: 24px;
	font-weight: 400;
	margin-top: 7px;
	color: #555555;
}
#content .blog .date .month{
	display: block;
	overflow: hidden;
	font-size: 13px;
	font-weight: 500;
	margin: -35px 3px 0 0;
	color: #555555;
}
#content .blog li .text{
	float: right;
	width: 410px;
	margin-bottom: 25px;
	
}
#content .blog li .text h4{
	display: block;
	overflow: hidden;
	width: 100%;
	font-size: 17px;
	font-weight: 700;
	color: #555555;
	
	
}
#content .blog li .text p{
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: left;
	font-size: 15px;
	color: #555555;
	margin: 10px 0 10px 0; 
}
#content .blog li .text .bottom{
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	font-size: 13px;
}




#content .customers{
	display: block;
	overflow: hidden;
	width: 100%
	
}
#content .customers h2{
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #555555;
	margin: 0 0 0 0;
}
#content .customers p{
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #555555;
	margin: 20px 0 30px 0;
}	
#content .customers li{
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
}
#content .customers li a{
	margin: 0 0 0 40px;
}
#footer .list{
	width: 100%;
	display: block;
	overflow: hidden;

	
}
#footer .list li{
	display: inline-block;
	overflow: hidden;
	width: 22.8%;
	vertical-align: top;
	padding-left: 15px;
}
#footer .list li h4{
	width: 100%;
	overflow:hidden;
	display: block;
	color: #e3e3e3;
	font-size: 14px;
	font-weight: 400;
	margin: 40px 0 30px 0;
}
#footer .list li p{
	color: #a6a8a9;
	font-size: 13px;
	font-weight: 400;
}
#footer .list .day{
	font-size: 11px;
	font-weight: 400;
	margin: 20px 0 0px 0;
	color: #899096;
	
}
#footer .list .dotted{
	margin: 20px 0 20px 0;
}

#footer .end{
	width: 100%;
	display: block;
	overflow: hidden;
	line-height: 71px;
	margin: 20px 0 0 0;
	height: 71px;
	border-color: #24272a;
	border-style: solid;
	border-top-width: 1px;
	background-color: #2f3235;

}
#footer .end p{
	font-size: 13px
	font-weight 400;
	color: #bfbfbf;
}
#footer a{
	color: #7494a8;
}
#footer .end .link{
	display: inline-block;
	overflow: hidden;
	float: right;
	margin-left: 6px;

}
#footer{
	width: 100%;
	border-color: #24272a;
	border-style: solid;
	border-top-width: 5px;
}
#footer .end{
	
	
}
