.tab {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #f3f3f3; }
  .tab ul {
    display: block;
    margin-left: 300px; }
    .tab ul li {
      display: block;
      padding: 12px 23px;
      text-align: center;
      color: #a7a7a7;
      font-weight: bold;
      font-family: 'allerregular';
      font-size: 13px;
      border-left: 1px solid #f3f3f3;
      border-top: 1px solid #f3f3f3;
      float: left; }
      .tab ul li:last-child {
        border-right: 1px solid #f3f3f3; }
      .tab ul li:hover {
        color: #b5cad9;
        border-bottom: none;
        margin-top: 1px; }
  .tab .tab-content {
    display: block;
    width: 100%; }
    .tab .tab-content .t1 {
      display: block;
      padding-top: 30px; }
      .tab .tab-content .t1 img {
        width: 398px;
        height: 295px;
        display: block;
        float: left;
        position: relative; }
      .tab .tab-content .t1 .text {
        display: block;
        margin-left: 30px; }
        .tab .tab-content .t1 .text h5 {
          display: block;
          font-family: 'allerregular';
          color: #969696; }
        .tab .tab-content .t1 .text .1 {
          display: block;
          margin-bottom: 15px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7; }
        .tab .tab-content .t1 .text .2 {
          display: block;
          margin-bottom: 30px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7; }
        .tab .tab-content .t1 .text .3 {
          display: block;
          margin-bottom: 35px;
          font-family: 'droid_sansregular';
          font-size: 11px;
          color: #c7c7c7; }
          .tab .tab-content .t1 .text .3 img {
            display: block;
            float: left;
            padding-right: 10px;
            width: 12px;
            height: 9px; }
    .tab .tab-content .t2 {
      display: block;
      width: 100%;
      padding-top: 30px; }
      .tab .tab-content .t2 .text {
        display: block;
        margin-left: 30px;
        float: left; }
        .tab .tab-content .t2 .text h5 {
          display: block;
          font-family: 'allerregular';
          color: #969696; }
        .tab .tab-content .t2 .text p.1 {
          display: block;
          margin-bottom: 15px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7; }
        .tab .tab-content .t2 .text p.2 {
          display: block;
          margin-bottom: 30px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7; }
        .tab .tab-content .t2 .text p.3 {
          display: block;
          margin-bottom: 35px;
          font-family: 'droid_sansregular';
          font-size: 11px;
          color: #c7c7c7; }
          .tab .tab-content .t2 .text p.3 img {
            display: block;
            float: left;
            padding-right: 10px;
            width: 12px;
            height: 9px; }
      .tab .tab-content .t2 img {
        width: 398px;
        height: 295px;
        display: block;
        position: relative; }
    .tab .tab-content .t3 {
      display: block;
      width: 100%;
      padding-top: 30px; }
      .tab .tab-content .t3 img {
        width: 398px;
        height: 295px;
        display: block;
        margin: 0 auto; }
