// $tablet-min: 768px;
// $tablet-max: 1010px;

//* Reponsive Variables ---------------------------------------*/

//* Reponsive Variables ---------------------------------------*/

$wdl: 1408px;
/*width-desktop-medium*/
$wdm: 1248px;
/*width-desktop-medium*/
$wds: 1010px;
/*width- desktop-small*/
$wt: 768px;
/*width-tablet*/
$wml: 736px;
/*width-tablet*/
$wm: 320px;
/*width-mobile*/


@mixin breakpoint($class) {

	@if $class == desktop-medium {
		@media (max-width: $wdl) {
			@content;
		}
	}

	@if $class == desktop-small {
		@media (max-width: $wdm) {
			@content;
		}
	}

	@if $class == tablet {
		@media (max-width: $wds) {
			@content;
		}
	}

	@if $class == mobile-large {
		@media (max-width: $wt) {
			@content;
		}
	}

	@if $class == mobile {
		@media (max-width: $wml) {
			@content;
		}
	}

}
