
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	vertical-align:middle;
	color:#212331;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1,h3,h4,h5,h6 {font-family: 'Open Sans', sans-serif; font-weight: bold;}
p {font-family: 'Open Sans', sans-serif; font-weight: normal;}
/*********************header******************/
.top{
	padding-left: 95%;
	position: fixed;
	margin: auto;
	bottom: 20px;
	z-index: 10;
}
.topmob{
	display: none;
}
#header{
	height: 80px;
	width: 100%;
	background: #0d0b11;
}

.layout{
	width: 1175px;
	margin: 0 auto;
	position: relative;
}
.logo{
	position: absolute;
	margin-top: 30px;
}
#header ul{
	padding-top: 35px;
	float: right;
}
#header li{
	float: left;
	padding-left: 50px;
	font-size: 14px;
}
#header li a{
	padding: 25px 0;
}
#header li a:hover{
	color: #db5a2d;
	font-size: 16px;
	transition: 1s;
}

/**************************Kalau************************/

.kalau {
	position: relative;
	width: 100%;
	background: #161828;
	height: 470px;
}
.sliderb{
	position: absolute;
	padding: 45px 0 0 5px;
}
.article{
	position: absolute;
	padding-top: 120px;
	z-index: 10;
}
.article h1{
	padding-bottom: 50px;
	font-size: 36px;
	overflow: hidden;
}
.article p{
	padding-bottom: 70px;
	font-size: 24px;
}
.more{
	border-radius: 5px;
	height: 55px;
	width: 145px;
	background: #ea5b58;
}
.more a{
	padding: 13.75px 45px;
	display: block;
	text-align: center;
	font-size: 18px;
}
.more:hover{
	background: #d421ef;
	transition: 1s;
}
.sliders{
	position: absolute;
	padding-top: 55px;
	right: 0;
}
/**********************Our services**********************/
.bluestyle{
	width: 100%;
	background: #475a85;
	position: relative;
}
.services{
	height: 555px;
}
.bluestyle{
	display: block;
	text-align: center;
}
.bluestyle h1{
	font-size: 36px;
	padding-top: 70px;
}
.bluestyle p{
	font-size: 14px;
	padding-top: 20px;
}
.wrapper li{
	float: left;
	width: 215px;
	padding-top: 75px;
	padding-left: 85px;
}
h4{
	font-size: 18px;
	padding: 30px 0 20px 0;
}
.wrapper li:first-child{
	padding-left: 30px;
}
.bluestyle li p{
	height: 55px;
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 35px;
}
.wrapper li img{
	height: 35px;

}
.wrapper .more{
	height: 33px;
	width: 88px;
	display: inline-block;
}
.wrapper .more:hover{
	background: #d421ef;
	transition: 1s;
}
.wrapper .more a{
	padding: 10px 20px;
	font-size: 11px;
}
/************************Our greatest work*********************/

.holder{
	height: 425px;
	background: url(../images/bg.png);
}
.holder  h1{
	text-align: center;
	font-size: 48px;
	padding-top: 195px;
	padding-bottom: 22px;

}
 .holder>p{
	text-align: center;
	font-size: 24px;
	color: #fff;
}
/*******************portfolio******************/
.works{
	width: 100%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}
h3{
	font-size: 30px;
	padding-top: 100px;
	text-align: center;
	color: #000;
	padding-bottom: 20px;
}
.works>p, .testimonials p{
	padding-bottom: 15px;
	font-size: 18px;
	color:#000;
	text-align: center;
}
.works img{
	display: block;
	margin: 0 auto;
	padding-bottom: 85px;
}

.works ul{
	padding-bottom: 50px;
	display: block;
	margin: 0 auto;
	width: 140px;
}
.works li{
	display: inline-block;
}
.works li a{
	font-size: 18px;
	color: #b3b3b3;
}
.works li a:hover{
	color: #323232;
}
/***********************flip***********************/


.maincontainer:nth-child(3n){
	margin-right: 0;
	overflow: hidden;
}
.maincontainer{
	position: relative;
	width:369px;
	height: 290px;

}
.card{
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 1s;
	background: #777
}
.card:hover{
	transform: rotateY(180deg);
}
.front{
	position: absolute;
	background: #7b7b7b;
	backface-visibility: hidden;
	width: 100%;
	height: 100%
}
.back{
	position: absolute;
	background: #506083;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
}
h5{
	font-size: 24px;
	padding-bottom: 30px;
	text-align: center;
	margin-top: 80px;
}
.back p{
	padding-left: 54px;
	font-size: 14px;
	height: 75px;
	width: 270px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 30px;
}
.maincontainer{
	display: inline-block;
	margin-right:  29px;
	margin-bottom: 38px;
}

.load p{
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: #000;
	padding-bottom: 15px;
}
.load img{
	display: block;
	padding-bottom: 0px;
}
/**************What our customers say**************/
.testimonials .line {
	display: block;
	margin: 0 auto;
	padding-bottom: 45px;
}
.slider_resp{
	overflow: hidden;
}
.responce{
	width: 730px;
	float: right;
}
.responce p{
	float: left;
	padding-top: 35px;
	font-size: 24px;

}
blockquote{
	padding-top: 70px;
	line-height: 30px;
	color: #323232;
	font-size: 18px;
	font-style: italic;
}

.slider_resp img{
	float: left;
	margin-bottom: 60px;
}
.testimonials ul{
	display: block;
	margin: 0 auto 100px auto;
	width: 200px;
}
.testimonials li{
	height: 23px;
	width:  23px;
	background-image: url(../images/slider_pic.png) ;
	float: left;
	margin-right: 13px;
}
.testimonials li:hover{
	background-image: url(../images/slider_pic2.png) ;
	transition: 0.3s;
}
/**************holder bottom**************/
#holder{
	height: auto;
}
#holder h1{
	padding-top: 170px;
}
#holder p{
	padding-bottom: 170px;
}
/***************Map*************************/
.map iframe{
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
	height: 510px;
}

/******************Contact*****************************/
.info{
	float: left;
	display: block;
	width: 455px;
}
.info h6{
	text-align: left;

}
.info p{
	text-align: left;
	padding-bottom: 20px;
	padding-top: 20px;
}
.info p:nth-child(3){
	background-image: url(../images/location.png) ;
	background-position:left center;
	background-repeat: no-repeat;
	padding-left: 25px;

}
.info p:nth-child(4){
	background-position:left center;
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	padding:0 0 0 25px;
}
	.info p:nth-child(5){
		background-position:left center;
		background-image: url(../images/mail.png);
		background-repeat: no-repeat;
		padding-left: 25px;
}
/************************social*********************/
.info li{
	float: left;
	margin-top: 40px;
	padding-right: 18px;
	background-repeat: no-repeat;
}
.info li:nth-child(1){
background-image: url(../images/twit.png);
background-repeat: no-repeat;
}
.info li:nth-child(2){
background-image: url(../images/fb.png);
}
.info li:nth-child(3){
background-image: url(../images/google.png);
}

.info li:nth-child(1):hover{
background-image: url(../images/twit1.png);
}
.info li:nth-child(2):hover{
background-image: url(../images/fb1.png);
}
.info li:nth-child(3):hover{
background-image: url(../images/google1.png);
}
form{
	float: right;
}
.contactwrap p{
	padding-bottom: 20px;
}

.contact{
	height: 670px;
}
.contactwrap{
	margin: 0 auto 70px auto;

}

input[type="text"]{
	border: none;
	height: 60px;
	width: 225px;
	border-radius: 5px;
	padding:0 25px;
}
input[type="email"]{
	border: none;
	height: 60px;
	width: 225px;
	border-radius: 5px;
	margin-left: 20px;
	padding:0 25px;
}
textarea{
	width:520px;
	height: 110px;
	margin-top: 20px;
	resize: none;
	border-radius: 5px;
	padding: 25px;
}
input[type="submit"]{
	width: 155px;
	height: 55px;
	background: #ea5b58;
	color:#fff;
	border: none;
	border-radius: 5px;
	float: left;
	margin-top: 20px;
}
/**************************footer***********************/
.footer{
	background: #161828;
	width: 100%;
	height: 175px;
}
.footer p{
	text-align: center;
	padding-top: 60px;
	color: #76777f;
	font-size: 14px;
	padding-bottom: 30px;
}
.footer img{
	display:block;
	margin: 0 auto;
}

/************************       PC     **************/
@media (min-width: 978px) and (max-width: 1217px) {
	.top{
		width: 40px;
	}
	.layout {
		width:948px;
	}
.article h1{
	font-size: 28px;
}
.article p{
	font-size: 18px;
}
.sliderb{
	width: 720px;
}
.sliders {
	width:394px;
	position: absolute;
	right: 0;
}
.kalau{
	height: 375px;
}
.wrapper li{
	width: 172px;
	padding-left: 68px;
}
.bluestyle li p{
	height: 80px;

}
.services{
	height: 650px;
}
.maincontainer{
	width: 295px;
	height: 232px;
	margin-right:  23px;
	margin-bottom: 30px;
}
h5{
	padding-bottom: 20px;
	text-align: center;
	margin-top: 50px;
}
.back p{
	padding: 0;
	display:block;
	margin: 0 auto;
	height: 55px;
	width: 210px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 30px;
}
blockquote{
	padding-top: 70px;
	line-height: 20px;
	color: #323232;
	font-size: 14px;
	font-style: italic;
}
.responce{
	width: 584px;
}
input[type="text"]{
	height: 48px;
	width: 180px;
}
input[type="email"]{
	height: 48px;
	width: 180px;
}
textarea{
	width:435px;
	height: 88px;
}
input[type="submit"]{
	width: 124px;
	height: 44px;
}
}

/***********************   TABLET    *************/
@media (min-width: 768px) and (max-width: 977px) {
	.top{
		width: 30px;
	}
	#header li{
		padding-left: 20px;
	}

	.layout {
		width:728px;
	}
.article h1{
	font-size: 20px;
}
.article p{
	font-size: 14px;
}
.sliderb{
	width: 650px;
}
.sliders {
	width:354px;
	position: absolute;
	right: 0;
}
.kalau{
	height: 355px;
}
.wrapper ul{
	width: 600px;
	margin: 0 auto;
}
.wrapper li:nth-child(odd){
	padding-left: 0px;
}
.wrapper li{
	width: 250px;
}
.wrapper li:nth-child(2n){
float: right;
}
.services{
	height: 950px;
}
.maincontainer{
	width: 320px;
	height: 250px;
}
.maincontainer:nth-child(odd){
	margin: 0 15px 15px 30px;
}
.maincontainer:nth-child(2n){
	margin: 0 30px 15px 0;
	float: right;
}
h5{
	padding-bottom: 20px;
	text-align: center;
	margin-top: 50px;
}
.back p{
	padding: 0;
	display:block;
	margin: 0 auto;
	height: 55px;
	width: 210px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 30px;
}
blockquote{
	padding-top: 70px;
	line-height: 20px;
	color: #323232;
	font-size: 14px;
	font-style: italic;
}
.slider_resp img{
 width: 200px;
 margin-left: 20px;
}
.responce{
	width: 450px;
}
#holder h1{
	padding-top: 50px;
	font-size: 24px;
}
#holder p{
	padding-bottom: 50px;
	font-size: 14px;
}
.map {
	height: 250px;
}
.info{
	width:300px;
}
input[type="text"]{
	height: 48px;
	width: 140px;
	font-size: 14px;
}
input[type="email"]{
	height: 48px;
	width: 140px;
	font-size: 14px;
}
textarea{
	width:350px;
	height: 88px;
	font-size: 14px;
}
input[type="submit"]{
	width: 124px;
	height: 44px;
}
.holder{
	height: 250px;
}
.holder h1{
	padding-top: 80px;
	font-size: 30px;
}
}
/*****************     MOBILE   **************/
@media (min-width: 320px) and (max-width:767px) {
.layout{
		width: 100%;
	}
.top{
	display: none;
}
.topmob a{
	display: block;
	margin: 0 auto;
text-indent: 999999px;
}
.topmob{
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background:url(../images/top.png) 50% 50% no-repeat, rgb(194,194,194);
	z-index: 10;
	border-radius:  40px 40px 0 0 / 20px 20px 0 0;
	cursor:  pointer ;
}
.topmob:hover{
	background:url(../images/top1.png) 50% 50% no-repeat, rgb(110,108,108);
}

	.logo{
		float:  none;
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.logo a{
		display: block;
		width: 150px;
		margin: 0 auto;
		padding-top: 15px;
	}
	#header ul{
		float:  none;
		display: block;

		padding: 0;

	}
	#header li{
		height: 35px;
		display: block;
		width:100%;
		border: 1px solid #555;
		padding: 0 0;
	}
	#header li a{
		display: block;
		margin: 0 auto;
		font-size: 18px;
		text-align: center;
		padding: 5px 50px;
		margin: 0 auto;
	}
	#header{
		height: 310px;
	}
	#header li:hover{
		background: #030306;
	}
	.sliderb{
		width: 70%;
	}
	.sliders{
		width: 40%;
	}
	.article h1{
		padding-left: 20px;
		font-size: 14px;
		width: 80%;
		padding-bottom: 15px;
	}
	.article{
		padding-top: 50px;
	}
	.article p{
		padding-left: 20px;
		font-size: 12px;
		width: 95%;
	}
	.kalau{
		height: 300px;
	}
	.kalau .more{
		margin-left: 30px;
		width: 70px;
		height: 30px;
	}
	.kalau .more a{
		font-size: 14px;
		padding:5px 0;
		width:20px;
		display: block;
	}
	.services{
		height: 1350px;
	}
	.services h1{
		padding-top: 20px;
		font-size: 20px;
	}
	.services p{
		font-size: 14px;
	}
	.wrapper ul{
		width: 100%;
	}
	.wrapper li:first-child{
		padding: 30px 0;
	}
	.wrapper li{
		float: none;
		padding:  15px 0;
		display: block;
		margin: 15px auto;
		border: 3px  inset #253863;
	}
	.wrapper li p{
		font-size: 12px;
		padding: 0px;
	}
	.holder{
		height: 170px;
	}
	.holder h1{
		font-size: 20px;
		padding: 40px 0;
	}
	.holder>p{
 	text-align: center;
 	font-size: 14px;
 }
 h3{
 	font-size: 20px;
 	padding-top: 40px;
 }
 .works>p, .testimonials p{
 	padding-bottom: 15px;
 	font-size: 14px;
 }
 .works img{
 	padding-bottom: 50px;
 }
 .maincontainer{
	 display: block;
 	width:270px;
 	height: 230px;
	margin: 10px auto;
 }
 .maincontainer:nth-child(3n){
 	margin: 10px auto;
 }
 h5{
 	font-size: 18px;
 	padding-bottom: 15px;
 	margin-top: 30px;
 }
 .back p{
	padding: 0;
 	font-size: 12px;
 	height: 70px;
 	width: 230px;
	display: block;
	margin: 0 auto;
 	overflow: hidden;
 	text-align: center;
 	margin-bottom: 15px;
 }
 .slider_resp img{
 	float: none;
	width: 150px;
	display: block;
	margin: 0 auto;
 }
 .responce{
	float: none;
	display: block;
 	margin: 0 auto;
 	width: 90%;
 }
 blockquote{
	padding-top: 30px;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;

 }
 .testimonials ul{
 	display: block;
 	margin: 0 auto 50px auto;
 	width: 150px;
 }
 #holder h1{
 	padding-top: 40px;
 }
 #holder p{
 	padding-bottom: 40px;
 }
 .map iframe{
 	height: 310px;
 }
 .info{
	padding-left: 20px;
 	width: 90%;
}
 .info h6{
 	font-size: 18px;
 }
 .info p{
 	font-size: 14px;
 	padding-bottom: 10px;
 	padding-top: 10px;
 }
 .info ul{
	 width: 200px;
	 display: block;
	 margin: 0 auto;
 }
 .info li{
 	display:block;
 	margin: 20px 0;
 	padding-right: 18px;
 	background-repeat: no-repeat;
 }
 .contact{
 	height: 900px;
 }
 .contactwrap h1{
	 padding-top: 20px;
	 font-size: 20px;
 }
 .contactwrap p{
	 font-size: 14px;
 }
 input[type="text"]{
	 height: 40px;
	 width: 270px;
	 margin-bottom: 10px;
 }
 input[type="email"]{
 	height: 40px;
 	width: 270px;
	margin-bottom: 10px;
	margin-left: 0;
 }
 textarea{
 	width:270px;
 	height: 110px;
	margin-bottom: 10px;
 }
 input[type="submit"]{
 	width: 155px;
 	height: 55px;
 	background: #ea5b58;
 	color:#fff;
 	border: none;
 	border-radius: 5px;
 	float: left;
 	margin-top: 20px;
 }
