#content {
  display: block;
  overflow: hidden;
  width: 100%; }
  #content .services {
    width: 100%;
    display: block;
    overflow: hidden; }
    #content .services h2 {
      width: 100%;
      display: block;
      overflow: hidden;
      text-align: center;
      margin: 50px 0 0 0;
      color: #555555;
      font-size: 30px;
      font-weight: 700; }
    #content .services p {
      width: 100%;
      display: block;
      overflow: hidden;
      font-size: 20px;
      font-weight: 400;
      margin: 25px 0 0 0;
      color: #555555;
      text-align: center;
      margin-bottom: 40px; }
