#header {
  width: 100%;
  display: block;
  position: relative;
  background: #3a3d40;
  height: 95px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-color: #4a4d50;
  border-width: 6px; }
  #header .logo {
    padding-top: 29px;
    float: left;
    cursor: pointer; }
  #header ul {
    float: right; }
    #header ul li {
      text-transform: uppercase;
      float: left;
      font-size: 14px;
      height: 95px;
      padding-left: 21px;
      padding-right: 21px;
      border-right: 1px solid #4a4d50;
      cursor: pointer; }
    #header ul li:first-child {
      border-left: 1px solid #4a4d50; }
    #header ul li:hover {
      background-color: #35373a; }
    #header ul li:active {
      background-color: #35373a; }
      #header ul li:active a {
        color: #fff;
        line-height: 95px; }
      #header ul li:active a:hover {
        color: #7a9cb2; }
      #header ul li:active a:active {
        color: #7a9cb2; }
