.tabs {
  width: 100%;
  display: block;
  overflow: hidden; }
  .tabs li {
    display: inline-block;
    overflow: hidden; }
    .tabs li a {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      font-size: 13px;
      font-weight: 400; }
  .tabs .button1 {
    border-style: none  none solid none;
    border-color: #c5c5c5;
    border-width: 1px;
    width: 302px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 -2px; }
  .tabs .button2 {
    border-style: solid solid none solid;
    border-color: #c5c5c5;
    border-width: 1px;
    width: 120px;
    height: 34px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 34px;
    margin: 0 -2px; }
    .tabs .button2 a {
      color: #6b99b6;
      font-weight: 700; }
  .tabs .button3 {
    border-style: solid solid solid none;
    border-color: #d7d7d7;
    border-width: 1px;
    width: 119px;
    height: 34px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 34px;
    margin: 0 -2px;
    background-color: #f8f8f8; }
    .tabs .button3 a {
      color: #555555;
      font-weight: 700; }
  .tabs .button4 {
    border-style: solid solid solid none;
    border-color: #d7d7d7;
    border-width: 1px;
    width: 119px;
    height: 34px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 34px;
    background-color: #f8f8f8;
    margin: 0 -2px; }
    .tabs .button4 a {
      color: #555555;
      font-weight: 700; }
  .tabs .button5 {
    border-bottom: solid;
    border-color: #c5c5c5;
    border-width: 1px;
    width: 302px;
    margin: 0 -2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
