body{
    background-color: #ebebeb;
    z-index: 1;
}
.white-bg{
    margin-left: auto;
    margin-right: auto;
    width: 1054px;
    height: 2335px;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
}
content{
    display: block;
    width: 680px;
    float: left;
    margin-right: 22px;
}
.logo{
    margin-top: 28px;
    display: inline-block;
}
header{
    margin-left: 31px;
    margin-right: 34px;
    overflow: hidden;
}
header form{
    display: inline-block;
    margin-left: 98px;
}
header form input{
    width: 318px;
    height: 34px;
    border-right: 0;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-color: #e5e5e5;
    border-style: solid;
}
header form button{
    color: #ffffff;
    background-color: #00aedb;
    width: 120px;
    height: 36px;
    border: 0;
    float: right;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  
}
.soc{
    display: inline-block;
    float: right;
    padding-top: 55px;
}

nav ul{
   padding-top: 17px;
}
nav ul li{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: bold;
}
nav ul .blue{
    background-color: #00aedb;
}
nav ul li:nth-child(2){
    background-color: #8cc63f;
    padding-left: 19px;
    padding-right: 17px;
}
nav ul li:nth-child(3){
    background-color: #5261ac;
    padding-left: 13px;
    padding-right: 11px;
}
nav ul li:nth-child(4){
    padding-left: 15px;
    padding-right: 13px;
}
nav ul li:nth-child(5){
    background-color: #f78f1d;
    padding-left: 13px;
    padding-right: 13px;
}
nav ul li:nth-child(6){
    background-color: #ff0000;
    padding-left: 17px;
    padding-right: 16px;
}
nav ul .gray{
    background-color: #898989;
    padding-right: 0;
    position: relative;
}
nav ul .gray:after{
    content: "";
    display: inline-block;
    height: 46px;
    width: 190px;
    background-color: #898989;
    position: absolute;
    top:0;
}

main .top-stories{
    float: left;
    margin-left: 31px;
    margin-top: 11px;
}
main .top-stories ul li{
    display: inline-block;
    width: 324px;
   float: left;
}
main .top-stories ul li img{
    width: 100%;
    height: 186px;
}
main .top-stories ul li a{
    text-decoration: none;
    display: block;
    color: #ffffff;
}
main .top-stories ul li p{
    display: block;
    max-width: 100%;
}
main .top-stories ul li:nth-child(2){
    margin-left: 9px;
    margin-right: 10px;
}
main .top-stories h3{
    color: #00aedb;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
}
figure{
    width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 13px solid #ffffff;
	border-bottom: 8px solid transparent;
    display: inline-block;
    margin-right: 12px;
}
main .top-stories .cinema{
    background-color:#00aedb;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
}
main .top-stories .travel{
    background-color: #f78f1d;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    position: relative;
}
main .top-stories .television{
    background-color: #ec098d;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}
main .top-stories p{
    color: #6a6666;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 11px;
}
.box{
    display: block;
    margin-left: 31px;
    margin-top: 22px;
    width: 651px;
    float: left;
    background-color: inherit;
}
.box:last-child{
    margin-top: 40px;
}
.box h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #000000:
}
.box p{
    font-size: 14px;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
}
.box .images{
    width: 651px;
    height: 564px;
    border-color: #bfbfbf;
    border-style: solid;
    border-width: 1px;
}
.box .img-big{
    margin: 12px 12px;
    height: 377px;
    width: 626px;
}
.box .images ul{
    margin-left: 12px;
}
.box .images ul li{
    border-bottom: 1px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #bfbfbf;
    border-style: solid;
    height: 141px;
    width: 141px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}
.box .images li img{
     height: 100%;
    width: 100%;
}
.box .images  li:nth-child(3){
    margin-right: 10px;
}
.box .images  li:last-child{
    margin-right: 0px;
}
.box .botm{
    margin-top: 10px;
}
.box .botmp{
    margin-top: 32px;
    margin-left: 4px;
}
.box .botm img{
    margin-right: 14px;
}
.box .botm a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #494949;
}
.box .botm a:first-child{
    float: left;
    margin-left: 8px;
}
.box .botm a:nth-child(2){
    margin-left: 26px;
    float: left;
}
.box .botm a:nth-child(3){
    float: right;
    margin-right: 12px;
}
.box .op{
    float: right;
    margin-top: 39px;
    display: block;
    position: absolute;
}
.box .date{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-right: 0px;
    font-size: 31px;
    background-color: #f78f1d;
    height: 46px;
    width: 68px;
    top: auto;
    left: -47px;
    position: absolute;
    text-align: center;
    margin-top: 12px;
}
.box .month{
    color: #ffffff;
    background-color: #00aedb;
    position: absolute;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    height: 28px;
    width: 62px;
    text-align: center;
    display: block;
    left: -41px;
    margin-top: 58px;
}

sidebar{
    float: right;
    width: 328px;
    margin-top: 22px; 
    background-color: inherit;
    padding-right: 24px;
}
sidebar h4{
    color: #ffffff;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #5261ac;
    padding-left: 17px;
    padding-top: 7px;
    padding-bottom: 6px;
}
sidebar .topbar .hh{
    padding-right: 0;
    display: inline-block;
    position: relative;
    padding-right: 16px;
}
sidebar .topbar .hh:after{
    position: absolute;
    top: 0;
    height: 0px;
    width: 0px;
    display: inline-block;
    content:"";
    border-top: 20px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 19px solid #5261ac; 
    border-left: 18px solid #5261ac;
    margin-left: 16px;
    
}
sidebar .topbar .mbar li{
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-top: 4px;
}
sidebar .topbar .mbar li a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: bold;
}
sidebar .topbar .mbar li:first-child{
    background-color: #ec098d;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 6px;
}
sidebar .topbar .mbar li:nth-child(2){
    background-color: #f78f1d;
    padding-left: 8px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 6px;
}
sidebar .topbar .mbar .tv{
    background-color: #00aedb;
    padding-left: 6px;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 6px;
    position: relative;
}
sidebar .topbar .mbar .tv:after{
    content: "";
    background-color: #00aedb;
    height: 40px;
    width: 17px;
    position: absolute;
    top: 0;
}
sidebar .topbar .cobar li img{
    display: inline-block;
    padding: 3px;
    border: 1px #c9c9c9 solid;
    height: 91px;
    width: 75px;
    float: left;
}
sidebar .topbar .cobar li h5{;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 70%;
    color: #00aedb;
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
}
sidebar .topbar .cobar li p{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 70%;
    color: #494949;
    font-size: 13px;
    margin-left: 12px;
}
sidebar .topbar .cobar li:last-child{
    margin-bottom: 30px;
}
sidebar .topbar .cobar hr{
    height: 1px;
   background-color: #dedddd;
    margin-top: 15px;
    border: none;
    width: 100%;
}
sidebar .yal h4{
    background-color: 5261ac;
    float: left;
    padding-right: 0px;
    position: relative;
}
sidebar .yal h4:after{
    display: inline-block;
    content:"";
    height: 39px;
    width: 102px;
    float: left;
    background-color: #5261ac;
    position: absolute;
    top: 0;
}
sidebar .yal ul{
    display: inline-block;
    margin-top: 15px;
}
sidebar .yal ul li h5 {;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 70%;
    color: #494949;
    font-size: 13px;
    margin-left: 12px;
    float: right;
}

sidebar .yal ul li img{
    display: inline-block;
    padding: 3px;
    border: 1px #c9c9c9 solid;
    height: 69px;
    width: 69px;
    margin-bottom: 16px;
    position: relative;
}
sidebar .yal ul li a {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #00aedb;
    display: inline-block;
    float: right;
    position: absolute;
    margin-left: 24px;
    margin-top: 49px;
}
sidebar .arch h4{
    background-color: 5261ac;
    display: block;
    float: left;
    padding-right: 0px;
    position: relative;
    margin-bottom: 20px;
}
sidebar .arch h4:after{
    display: inline-block;
    content:"";
    height: 39px;
    width: 222px;
    float: left;
    background-color: #5261ac;
    position: absolute;
    top: 0;
}
sidebar .arch a{
    color: #494949;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    float: right;
    margin-bottom: 10px;
}
sidebar .arch hr{
    height: 1px;
    width: 304px;
   background-color: #dedddd;
    border: none;
    margin-left: 20px;
}
sidebar .arch ul li {
    list-style-image: url(../images/icon_strela.png);
    float: left;
    margin-left: 18px;
}
sidebar .tg {
    display: block;
    
}
sidebar .tg h4{
    display: inline-block;
    position: relative;
}
sidebar .tg h4:after{
    content: "";
    background-color: inherit;
    height: 39px;
    width: 210px;
    float: left;
    position: absolute;
    display: inline-block;
    top: 0;
}
sidebar .tgcloud{
    display: block;
    padding-left: 15px;
}
sidebar .tgcloud p{
    color: #5261ac;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
sidebar .tgcloud .bold{
    font-weight: bold;
}
sidebar .tgcloud .f17{
    font-size: 17px;
}
sidebar .tgcloud .f19{
    font-size: 19px;
}
sidebar .tgcloud .f21{
    font-size: 21px;
}
sidebar .tgcloud .fcolor{
    color: #f78f1d;
}
footer #content{
    height: 5px;
    background-image: url(../images/line_bottom.png);
    display: block;
}
.sideimagetop{
    position: absolute;
    background-image: url(../images/sidebar_line1.png);
    width: 13px;
    height: 498px;
    top: 0;
    right: -14px;
    
}
.sideimagemid{
    position: absolute;
    background-image: url(../images/sidebar_line2.png);
    width: 13px;
    height: 486px;
    top: 800px;
    right: -14px;
     
}
.sideimagebot{
    position: absolute;
    background-image: url(../images/sidebar_line2.png);
    width: 13px;
    height: 486px;
    top: 1700px;
    right: -14px;
     
}
.rainbow {
    display: block;
    background-image: url(../images/line2px.png);
    height: 100%;
    width: 50%;
    position: absolute;
    top:-80px;
    left: 0;
    background-repeat: repeat-x;
    transform: rotate(35deg);
    transform-origin: left top;
    z-index: 2;
    
}
.bottom-line{
    background-image: url(../images/line_bottom.png);
    height: 5px;
    width: 1054px;
    border-bottom: 2px #ffffff solid;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 1054px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebebeb;
    text-align: center;
}
footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #6a6666;
    margin-top: 28px;
    margin-bottom: 28px;
}
.relart{
    margin-top: 22px;
   float: left;
    margin-bottom: 46px;
}
.relart h4{
   color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #5261ac;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    float: left;
    position: relative;
}
.relart h4:after{
    position: absolute;
    top: 0;
    height: 0px;
    width: 0px;
    display: inline-block;
    content:"";
    border-top: 20px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #5261ac; 
    border-left: 20px solid #5261ac;
    margin-left: 24px;
}
.relartul{
    float: left;
    width: 680px;
}
.relartul ul:first-child{
    margin-left: 48px;
    height: 100%;
    float: left;
    width: 222px;
}
.relartul ul:last-child{
    float: left;
    width: 222px;
    margin-left: 113px;
}
.relartul ul li{
    margin-bottom: 17px;
    list-style-image: url(../images/icon_strela.png);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.write-comment{
    float: left;
    margin-top: 11px;
    width: 100%;
}
.write-comment h4{
   color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #5261ac;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    float: left;
    position: relative;
}
.write-comment h4:after{
    position: absolute;
    top: 0;
    height: 0px;
    width: 0px;
    display: inline-block;
    content:"";
    border-top: 20px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #5261ac; 
    border-left: 20px solid #5261ac;
    margin-left: 24px;
}
.comment{
    float: left;
    margin-top: 40px;
    width: 582px;
    margin-bottom: 47px;
}
.comment input{
    display: block;
    border-radius: 4px;
    border: 1px solid #b0b0b0;
    height: 34px;
    width: 428px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 148px;
    margin-bottom: 22px;
}
.comment .txtarea{
    display: block;
    border-radius: 4px;
    border-color: #b0b0b0;
    border-width: 1px;
    height: 128px;
    width: 428px;
    padding: 2px;
    margin-left: 148px;
}
.comment label{
    float: left;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-right: 24px;
}
.comment label:first-child{
    margin-left: 60px;
}
.comment label:nth-child(3){
    margin-left: 64px;
}
.comment label:nth-child(5){
    margin-left: 42px;
}
.comment label:nth-child(7){
    margin-left: 24px;
}
.comment button{
    width: 137px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #f78f1d;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 14px;
    float: right;
    margin-top: 12px;
    margin-right: 4px;
}
.comments h4{
   color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #5261ac;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 36px;
    float: left;
    position: relative;
}
.comments h4:after{
    position: absolute;
    top: 0;
    height: 0px;
    width: 0px;
    display: inline-block;
    content:"";
    border-top: 20px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #5261ac; 
    border-left: 20px solid #5261ac;
    margin-left: 36px;
}
.people-comment{
    float: left;
    width: 530px;
    margin-left: 58px;
}
.people-comment ul li{
    margin-bottom: 26px;
    float: left;
}
.people-comment ul li:first-child{
    margin-top: 48px;
}
.people-comment ul li img{
    border: 1px #d6d6d6 solid;
    float: left;
    display: inline-block;
}
.people-comment ul li input{
    border: none;
    float: right;
    color: #494949;
    margin-top: 8px;
}
.people-comment ul li h5{
   float: left;
    color: #5261ac;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 18px;
}
.people-comment ul li p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    float: left;
    width: 442px;
    color: #494949;
    margin-left: 18px;
    margin-bottom: 8px;
}
.people-comment ul li hr{
    float: left;
    height: 1px;
    width: 362px;
    background-color: #d5d5d5;
    border: none;
    margin-left: 88px;
}
.people-comment ul li a{
    color: #5261ac;
    float: right;
    font-family: 'Open Sans';
    font-size: 17px;
    margin-top: -8px;
}