
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* transition: .1s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/ */
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/* @media (min-width: 1218px) and (max-width: 10000px) {
	#menu li {
	display: none;
	}
	.backgrounddarkblue h2 {
	z-index: 15;
	}
} */
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:1172px;
}
#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}
#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}
#header {
	width:100%;
	display:block;
	height: 80px;
	position:relative;
	background-color: #0d0b11;
}
/****************************************************************              PC              ***************************************************/
/* @media (min-width: 978px) and (max-width: 1217px) {
#header .navigation {
	width: 715px;
}
#header .logo {
	margin-left: 10%;
}
#menu li {
display: none;
}
.backgrounddarkblue h2 {
	color: #212331;
	font-size: 30px;
	top: 101px;
	left: 5%;
	background-color:red;
	z-index: 15;
}
} */
/****************************************************************              TABLET              ***********************************************/
/* @media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin: auto;
		position:relative;
		width:768px;
}
		#menu li {
		display: none;
		}
		.backgrounddarkblue h2 {
			color: grey;
			font-size: 26px;
			top: 101px;
			left: 5%;
			background-color: blue;
			opacity: 1;
			z-index: 15;

		}
} */
/****************************************************************              MOBILE              ***********************************************/
/* @media (min-width: 320px) and (max-width:767px) {
.layout {
	width:100%;
	padding:0;
	}
#header .logo {
	margin-left: 5%;
	}
#header .navigation {
	display: none;
	}
.nav-toggle {
	display: none;
	position: relative;
	float: right;
	width: 80px;
	height: 74px;
	margin-top: 3px;
	margin-left: 20px;
	background: #161828;
	cursor: pointer;
	}
.nav-toggle {
	display: block;
	}
.nav-toggle span {
	display: block;
	position: absolute;
	margin-left: auto;
	top: 35px;
	left: 8px;
	right: 8px;
	width: 62px;
	height: 2px;
	background: white;
	}
.nav-toggle span:before, .nav-toggle span:after {
	content: "";
	position: absolute;
	display: block;
	float: right;
	width: 62px;
	margin-top: -8px;
	margin-bottom: -9px;
	height: 2px;
	background: white;
	}
.nav-toggle span:before {
	top: -10px;
	}
.nav-toggle span:after {
	bottom: -10px;
	} */
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
/* #menu.active {
	max-height: 400px;
	}
#menu {
	max-height: 100%;
	background-color: #0d0b11;
	float: none;
	position: absolute;
	overflow: hidden;
	top: 80px;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 300;
	} */
/* делаем элементы списка блочными, чтобы они располагались друг под другом */
/* #menu li {
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #EBEBE3;
	margin-right: 0;
	}

	.backgrounddarkblue h2 {
		color: grey;
		font-size: 20px;
		top: 91px;
		left: 5%;
		background-color: green;
		z-index: 15;

	} */




}
/****************************************************************              MOBILE              ***********************************************/

#header .logo {
	margin-top: 30px;
	width: 183px;
	height: 25px;
	cursor: pointer;
	float: left;
	background-color: #0d0b11;
}
#header .logo a img {
	display: block;
	overflow: hidden;
	width: auto;
	padding-top: 30px;
	height: 100%;
	text-indent: -99999999999px;
}
#header .navigation {
	position: absolute;
	height: 80px;
	right: 1%;
	top: 0px;
	z-index: 1;
}
#header .navigation li {
	float: right;
	display: inline-block;
}
#header .navigation li a {
	display: inline-block;
	float: right;
	margin-top: auto;
	padding-right: 25px;
	padding-left: 25px;
	line-height: 80px;
	overflow: hidden;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
/* ////////////////////////////////////////////////////////////////////////// */
.backgrounddarkblue {
	background-color: #161828;
	display: block;
	position: relative;
	width: 100%;
	height: 472px;
	z-index: 1;
}
.section_1 {
	position: relative;
	width: 100%;
	z-index: 2;
}
.slider {
	position: absolute;
	top: 31px;
	/* left: 673px; */
	right: 2px;
	z-index: 10;
}
.bg_slider {
	position: absolute;
	z-index: 2;
	left: 10px;
	top: 34px;
	z-index: 3;
}
.backgrounddarkblue h2 {
	position: absolute;
	float: left;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 36px;
	top: 121px;
	z-index: 15;
}
.backgrounddarkblue p {
	position: absolute;
	float: left;
	top: 190px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}
.buttonsubmit {
	position: absolute;
	top: 283px;
	width: 145px;
	height: 54px;
	color: #ffffff;
	background-color: #ea5b58;
	border-color:#ea5b58;
	border-radius: 5px;
	text-align: center;
	line-height: 48px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	z-index: 15;
}
/* ////////////////////////////////////////////////////////////////////////// */
.background_blue {
	background: #475a85;
	width: 100%;
	height: 553px;
	z-index: 1;
}
.section_2 {
	position: relative;
}
.section_2 h3 {
	position: absolute;
	left: 42%;
	right: 40%;
	top: 71px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.section_2 h5 {
	position: absolute;
	left: 42.5%;
	top: 117px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.separator {
	left: 39%;
	width: 278px;
	height: 13px;
	position: absolute;
	top: 152px;
	z-index: 25;
}
.services {
	position: absolute;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: center;
	top: 240px;
	text-align: center;
}
.services h6 {
	margin-top: 28px;
	text-align: center;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.services p {
	margin-top: 21px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.buttonsubmit_small {
	position: absolute;
	margin-top: 32px;
	width: 88px;
	height: 33px;
	text-align: center;
	line-height: 31px;
	margin-left: -47px;
	color: #ffffff;
	background-color: #ea5b58;
	border-color:#ea5b58;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}
/* ////////////////////////////////////////////////////////////////////////// */
.background_grey {
	background: #7b7b7b;
	width: 100%;
	height: 425px;
	z-index: 1;
}
.background_grey {
	background-image: url('../images/img_pattern_parallax.png');
	z-index: 2;
}
.section_3 {
	position: relative;
}
.section_3 h3 {
	position: absolute;
	left: 29.5%;
	top: 195px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
}
.section_3 p {
	position: absolute;
	top: 253px;
	left: 399px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}
/* ////////////////////////////////////////////////////////////////////////// */
.background_wight {
	background: #ffffff;
	width: 100%;
	height: 1792px;
	z-index: 1;
}
.section_4_1 {
	position: relative;
}
.section_4_1 h3 {
	position: absolute;
	align-self: center;
	top: 91px;
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	z-index: 2;
  left: 43.2%;
}
.section_4_1 h5 {
	position: absolute;
	left: 42.5%;
	top: 131px;
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
  line-height: 1;
	z-index: 3;
}
.separator_2 {
	position: absolute;
	top: 159px;
	left: 37.7%;
	z-index: 25;
}
.section_4_1 ul {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	top: 240px;
	left: 43.5%;
}
.section_4_1 ul li a {
	color: #a7a7a7;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-left: 5px;
	z-index: 28;
}
.section_4_1 ul li p {
	color: #a7a7a7;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-left: 5px;
	z-index: 28;
}
.section_4_1 ul li a:active {
	color: #323232;
}
.section_4_1 ul li a:hover {
	color: #323232;
}
/* ////////////////////////////////////////////////////////////////////////// */
.section_4_2 {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
	width: 1167px;
	height: 618px;
	text-align: center;
	top: 318px;
	z-index: 30;
}
.section_4_2 li {
	position: relative;
	align-self: center;
	height: 290px;
	width: 368px;
	background-color: #506083;
	z-index: 31;
}
.thumb {
	position: absolute;
	align-self: center;
	top: 0px;
	height: 290px;
	width: 368px;
	background-color: #7b7b7b;
	z-index: 40;
}
.section_4_2 li:hover .thumb {
	visibility: hidden;
}
.section_4_2 li h5 {
	position: absolute;
	margin-top: 70px;
	width: 367px;
	height:70px;
  font-size: 24px;
	font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: bold;
	z-index: 32;
}
.section_4_2 li p {
	margin: auto;
	padding-top: 122px;
	text-align: center;
	width: 80%;
	height: 35%;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
  color: #ffffff;
	z-index: 32;
}
.section_4_2 li img {
	margin: auto;
	z-index: 32;
}
/* ////////////////////////////////////////////////////////////////////////// */
.section_4_3 {
	position: relative;
}
.section_4_3 a h5 {
	position: absolute;
	text-align: center;
	font-weight: bold;
	left: 46%;
	top: 400px;
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	z-index: 41;
}
.section_4_3 a img {
	position: absolute;
	top: 455px;
	left: 48%;
	z-index: 42;
}

.section_4_3 h3 {
	position: absolute;
	top: 584px;
	left: 31%;
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	z-index: 43;
}
.section_4_3 h5 {
	position: absolute;
	left: 40%;
	top: 638px;
	color: #323232;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
  line-height: 1;
	z-index: 43;
}
.separator_3 {
	position: absolute;
	top: 668px;
	left: 38%;
	z-index: 43;
}
/* ////////////////////////////////////////////////////////////////////////// */
.section_4_5 {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: space-around;
	text-align: center;
	top: 730px;
	z-index: 45;
}
.section_4_5 li img {
	margin-left: 20px;
	margin-right: 45px;
}
.section_4_5 ._ {
	padding-top: 59px;
	width: 50px;
	height: auto;
	margin-right: 20px;
	text-align: right;
  font-size: 55px;
  font-family: "Perpetua";
	color: #323232;
	font-style: italic;
}
.section_4_5 li p {
	padding-top: 59px;
	margin: auto;
	text-align: left;
	width: 726px;
	height: 110px;
	font-family: 'Open Sans', sans-serif;
	color: #323232;
	font-size: 18px;
	font-style: italic;
}
.section_4_5 li h5 {
	text-align: left;
	width: 100%;
	height: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #323232;
	font-size: 24px;
	font-weight: bold;
}
.ellipse {
	position: relative;
 	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
	text-align: center;
	top: 800px;
	z-index: 46;
}
.ellipse li {
align-self: center;
margin-left: 5px;
margin-right: 5px;
z-index: 40;
}
/* ////////////////////////////////////////////////////////////////////////// */
.background_grey_2 {
	background: #7b7b7b;
	width: 100%;
	height: 422px;
	z-index: 50;
}
.background_grey_2 {
	background-image: url('../images/img_pattern_parallax.png');
	z-index: 51;
}
.section_5 {
	position: relative;
}
.section_5 h3 {
	position: absolute;
	left: 30%;
	top: 168px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
}
.section_5 p {
	position: absolute;
	top: 253px;
	left: 43%;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}
/* ////////////////////////////////////////////////////////////////////////// */
.googlemaps {
	position: relative;
	height: 450px;
	width: 100%;
}
.googlemaps iframe {
	position: absolute;
	width: 100%;
}
/* ////////////////////////////////////////////////////////////////////////// */
#footer {
	background: #475a85;
	width: 100%;
	height: 672px;
	z-index: 60;
}
.section_6 h3 {
	position: absolute;
	left: 42%;
	top: 99px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.section_6 h5 {
	position: absolute;
	left: 36%;
	top: 140px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.separator_4 {
	left: 35.3%;
	width: 281px;
	height: 13px;
	position: absolute;
	top: 175px;
}
.office_hours {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	flex-direction: row;
	align-items:flex-start;
	justify-content: space-between;
	top: 272px;
	text-align: justify;
}
.office_hours h6 {
	margin-top: 28px;
	text-align: left;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.office_hours p {
	margin-top: 21px;
	text-align: left;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.office_hours p img {
	margin-right: 10px;
}
.form_1 {
	color: #747474;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 274px;
	height: 60px;
	margin-left: 49px;
	margin-top: 15px;
	padding-left: 5px;
	display: block;
	resize: none;
	border-radius: 5px;
	background-color: #eeeeee;
	border: none;
	z-index: 70;
}
.form_2 {
	color: #747474;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 274px;
	height: 60px;
	margin-left: 344px;
	margin-right: 50px;
	margin-top: -80px;
	padding-left: 5px;
	display: inline-flex;
	resize: none;
	border-radius: 5px;
	background-color: #eeeeee;
	border: none;
	z-index: 70;
}
.form_3 {
	color: #747474;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 571px;
	height: 163px;
	padding-left: 5px;
	padding-top: 5px;
	margin: auto;
	display: block;
	resize: none;
	border-radius: 5px;
	background-color: #eeeeee;
	border: none;
	z-index:71;
}
.buttonsubmit_form {
	top: 283px;
	margin-top: 20px;
	margin-left: 547px;
	width: 145px;
	height: 54px;
	color: #ffffff;
	background-color: #ea5b58;
	border-color:#ea5b58;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	z-index: 15;
}
.ss_hov {
	display: inline-block;
	position: relative;
	float: left;
	margin-top: 225px;
	padding-right: 19px;
}
.ss_hov {
	width:35px;
	height:35px; /* высота видимой части (одной картинки) */
	overflow:hidden; /* чтобы нижнюю картинку не было видно */
}
.ss_hov:hover img{
	margin-top:-35px;
}
.fix {
	position: fixed;
	bottom: 37px;
	right: 40px;
	width: 45px;
	height: 45px;
	display: block;
	overflow: hidden;
	z-index: 500;
}
/* ////////////////////////////////////////////////////////////////////////// */
.bg_end {
	position: relative;
	background-color: #161828;
	width: 100%;
	height: 176px;
}
.section_7 p {
  font-size: 14px;
	font-family: 'Open Sans', sans-serif;
  color: #76777f;
  position: absolute;
  left: 40%;
  top: 60px;
  z-index: 100;
}
.section_7 img {
  position: absolute;
  left: 42%;
  top: 99px;
  z-index: 101;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */


@media (min-width: 1218px) and (max-width: 10000px) {
#header .logo a img {
	width: auto;
}
#menu li {
	display: none;
}
.backgrounddarkblue h2 {
	z-index: 15;
}
.backgrounddarkblue p {
	z-index: 15;
}
}
@media (min-width: 978px) and (max-width: 1217px) {
.layout {
	margin: auto;
	position:relative;
	width:978px;
}
#header .navigation  {
	width: 600px;
}
#header .logo {
	margin-left: 5%;
}
#menu li {
	display: none;
	width: auto;
}
.backgrounddarkblue h2 {
	color: #475a85;
	font-size: 32px;
	top: 101px;
	left: 5%;
	text-shadow: 1px 1px 5px #475a85;
	z-index: 15;
}
.backgrounddarkblue p {
	color: #475a85;
	left: 5%;
	top: 180px;
	text-shadow: 1px 1px 5px #475a85;
}
.buttonsubmit {
	top: 263px;
	width: 135px;
	height: 44px;
	color: #ffffff;
	left: 5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	z-index: 15;
}
.section_2 h3 {
	left: 40%;
	right: 40%;
	top: 61px;
	font-size: 28px;
}
.section_2 h5 {
	position: absolute;
	left: 40.5%;
	top: 100px;
	font-size: 17px;
}
.separator {
	left: 36%;
	width: 278px;
	height: 13px;
	position: absolute;
	top: 142px;
	z-index: 25;
}
.background_blue {
	height: 453px;
}
.services {
	top: 185px;
}
.background_grey {
	height: 405px;
}
.section_3 h3 {
	left: 29.1%;
	top: 135px;
	font-size: 44px;
}
.section_3 p {
	top: 205px;
	left: 33.7%;
	font-size: 22px;
}
.section_4_1 h3 {
	top: 81px;
	font-size: 30px;
  left: 41%;
}
.section_4_1 h5 {
	left: 40%;
	top: 131px;
	font-size: 18px;
}
.separator_2 {
	top: 165px;
	left: 35%;
}
.section_4_1 ul {
	top: 225px;
	left: 41.5%;
}
.section_4_2 {
	flex-direction: row;
	justify-content: space-around;
	width: 970px;
	height: 900px;
	align-content: space-between;
	padding-bottom: 2px;
	top: 308px;
}
.section_4_2 li {
	height: 280px;
	width: 358px;
}
.thumb {
	top: 0px;
	height: 280px;
	width: 358px;
}
.section_4_3 a h5 {
	left: 45%;
	font-size: 18px;
}
.section_4_3 a img {
	top: 455px;
	left: 47%;
	z-index: 42;
}
.section_4_3 h3 {
	left: 28%;
}
.section_4_3 h5 {
	left: 40%;
}
.separator_3 {
	left: 37%;
}
.section_4_5 {
	top: 720px;
}
.section_4_5 ._ {
	padding-top: 50px;
	font-size: 50px;
  font-family: "Perpetua";
}
.section_4_5 li p {
	padding-top: 50px;
	width: 726px;
	height: 100px;
	font-size: 16px;
}
.section_4_5 li h5 {
	width: 90%;
	height: 20px;
	font-size: 22px;
}
.ellipse {
	left: 3%;
	top: 770px;
}
.ellipse li {
margin-left: 5px;
margin-right: 5px;
}
.background_wight {
	height: 1950px;
}
.background_grey_2 {
	height: 412px;
}
.section_5 h3 {
	left: 28%;
	top: 158px;
	font-size: 46px;
}
.section_5 p {
	top: 243px;
	left: 43%;
	font-size: 22px;
}
.googlemaps {
	height: 400px;
	width: 100%;
}
.section_6 h3 {
	left: 42%;
	top: 80px;
}
.section_6 h5 {
	left: 35%;
	top: 125px;
}
.separator_4 {
	left: 34.3%;
	top: 165px;
}
.office_hours {
	width: 900px;
	top: 230px;
	left: 5%;
}
.office_hours h6 {
	margin-top: 8px;
	font-size: 16px;
}
.office_hours p {
	margin-top: 10px;
	text-align: left;
	font-size: 16px;
}
.form_1 {
	font-size: 16px;
	width: 274px;
	height: 45px;
	margin-left: 5px;
	margin-top: 1px;
}
.form_2 {
	font-size: 16px;
	width: 274px;
	height: 45px;
	margin-top: 5px;
	margin-left: 5px;
}
.form_3 {
	font-size: 16px;
	width: 274px;
	height: 105px;
	margin-left: 5px;
	margin-top: 5px;
}
.buttonsubmit_form {
	top: 283px;
	margin-top: 20px;
	margin-left: 572px;
	width: 135px;
	height: 44px;
	font-size: 16px;
}
.ss_hov {
	margin-top: 185px;
	left: 3%;
	margin-left: 1%;
}
#footer {
	height: 550px;
}
.bg_end {
	height: 166px;
}
.section_7 p {
  left: 39%;
  top: 50px;
}
.section_7 img {
  left: 41%;
  top: 85px;
}
}
@media (min-width: 768px) and (max-width: 977px) {
.layout {
	margin: auto;
	position:relative;
	width:768px;
}
#header .logo a img {
	margin-left: 5%;
}
#menu li {
	display: none;
}
.backgrounddarkblue h2 {
	color: #475a85;
	font-size: 32px;
	top: 101px;
	left: 5%;
	text-shadow: 1px 1px 5px #212331;
	opacity: 1;
	z-index: 15;
}
.backgrounddarkblue p {
 	color: #475a85;
	left: 5%;
	top: 170px;
	font-size: 22px;
	text-shadow: 1px 1px 5px #475a85;
	z-index: 15;
}
.buttonsubmit {
	top: 247px;
	width: 113px;
	height: 48px;
	color: #ffffff;
	left: 5%;
	font-size: 14px;
	z-index: 15;
}
.section_2 h3 {
	left: 40%;
	right: 30%;
	top: 51px;
	font-size: 26px;
}
.section_2 h5 {
	position: absolute;
	left: 39.5%;
	top: 90px;
	font-size: 17px;
}
.separator {
	left: 33%;
	width: 278px;
	height: 13px;
	position: absolute;
	top: 122px;
	z-index: 25;
}
.background_blue {
	height: 490px;
}
.services {
	top: 175px;
}
.background_grey {
	height: 365px;
}
.section_3 h3 {
	left: 23.1%;
	top: 135px;
	font-size: 44px;
}
.section_3 p {
	top: 205px;
	left: 29.7%;
	font-size: 22px;
}
.section_4_1 h3 {
	top: 70px;
	font-size: 30px;
  left: 40%;
}
.section_4_1 h5 {
	left: 39%;
	top: 120px;
	font-size: 18px;
}
.separator_2 {
	top: 157px;
	left: 31.5%;
}
.section_4_1 ul {
	top: 215px;
	left: 40.5%;
}
.section_4_2 {
	flex-direction: row;
	justify-content: space-around;
	width: 760px;
	height: 880px;
	align-content: space-between;
	padding-bottom: 2px;
	top: 290px;
	left: 0.5%;
}
.section_4_2 li {
	height: 280px;
	width: 358px;
}
.thumb {
	top: 0px;
	height: 280px;
	width: 358px;
}
.section_4_3 a h5 {
	top: 345px;
	left: 44%;
	font-size: 18px;
}
.section_4_3 a img {
	top: 395px;
	left: 46.5%;
}
.section_4_3 h3 {
	top: 505px;
	left: 21%;
}
.section_4_3 h5 {
	top: 560px;
	left: 35%;
}
.separator_3 {
	top: 600px;
	left: 31%;
}
.section_4_5 {
	top: 650px;
	width: 760px;
}
.section_4_5 li img {
	margin-left: 31px;
	margin-right: 45px;
}
.section_4_5 ._ {
	padding-top: 35px;
	font-size: 45px;
}
.section_4_5 li p {
	padding-top: 40px;
	padding-right: 10px;
	width: 500px;
	height: 100px;
	font-size: 16px;
}
.section_4_5 li h5 {
	width: 90%;
	height: 20px;
	font-size: 22px;
}
.ellipse {
	left: 1%;
	top: 695px;
}
.ellipse li {
	margin-left: 5px;
	margin-right: 5px;
}
.background_wight {
	height: 1830px;
}
.background_grey_2 {
	height: 380px;
}
.section_5 h3 {
	left: 21%;
	top: 145px;
	font-size: 46px;
}
.section_5 p {
	top: 226px;
	left: 41%;
	font-size: 22px;
}
.googlemaps {
	height: 350px;
	width: 100%;
}
.section_6 h3 {
	left: 42%;
	top: 46px;
}
.section_6 h5 {
	left: 33%;
	top: 95px;
}
.separator_4 {
	left: 31.8%;
	top: 135px;
}
.office_hours {
	width: 760px;
	top: 210px;
	left: 5%;
}
.office_hours h6 {
	margin-top: 8px;
	font-size: 16px;
}
.office_hours p {
	margin-top: 10px;
	text-align: left;
	font-size: 16px;
}
.form_1 {
	font-size: 16px;
	width: 274px;
	height: 45px;
	margin-left: 5px;
	margin-top: 1px;
}
.form_2 {
	font-size: 16px;
	width: 274px;
	height: 45px;
	margin-top: 5px;
	margin-left: 5px;
}
.form_3 {
	font-size: 16px;
	width: 274px;
	height: 105px;
	margin-left: 5px;
	margin-top: 5px;
}
.buttonsubmit_form {
	top: 283px;
	margin-top: 20px;
	margin-left: 432px;
	width: 135px;
	height: 44px;
	font-size: 16px;
}
.ss_hov {
	margin-top: 165px;
	left: 3%;
	margin-left: 1%;
}
#footer {
	height: 533px;
}
.bg_end {
	height: 156px;
}
.section_7 p {
  left: 36%;
  top: 48px;
}
.section_7 img {
  left: 38.5%;
  top: 83px;
}
}
@media (min-width: 320px) and (max-width:767px) {
.layout {
	width:100%;
	padding:0;
}
.backgrounddarkblue {
	height: 350px;
}
#header .logo {
	margin-left: 5%;
}
#header .navigation {
	display: none;
}
.nav-toggle {
	float: right;
	width: 80px;
	height: auto;
	margin-top: 3px;
	margin-left: 20px;
	background: #161828;
	cursor: pointer;
}
.nav-toggle {
	display: block;
}
.nav-toggle span {
	display: block;
	position: absolute;
	margin-left: auto;
	top: 39px;
	left: 8px;
	right: 8px;
	width: 62px;
	height: 3px;
	background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
	content: "";
	position: absolute;
	display: block;
	float: right;
	width: 62px;
	margin-top: -8px;
	margin-bottom: -9px;
	height: 3px;
	background: white;
}
.nav-toggle span:before {
	top: -10px;
}
.nav-toggle span:after {
	bottom: -10px;
}
#menu.active {
	max-height: 400px;
	}
#menu {
	max-height: 100%;
	background-color: #0d0b11;
	float: none;
	position: relative;
	overflow: hidden;
	top: -18px;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 300;
}
#menu li {
	position: absolute;
	display: block;
	padding-left: 15px;
	border-bottom: 1px solid #EBEBE3;
	margin-right: 0;
}
.backgrounddarkblue h2 {
	color: #475a85;
	text-align: center;
	font-size: 28px;
	top: 91px;
	left: 4%;
	text-shadow: 1px 1px 5px #212331;
	z-index: 15;
}
.backgrounddarkblue p {
	color: #475a85;
	text-align: center;
	left: 4%;
	top: 175px;
	font-size: 20px;
	text-shadow: 1px 1px 5px #475a85;
	z-index: 15;
}
.buttonsubmit {
	top: 247px;
	width: 113px;
	height: 48px;
	color: #ffffff;
	right: 8%;
	font-size: 14px;
	z-index: 15;
}
.section_2 h3 {
	left: 28%;
	right: auto;
	top: 41px;
	font-size: 24px;
}
.section_2 h5 {
	position: absolute;
	left: 24%;
	top: 75px;
	font-size: 17px;
}
.separator {
	display: none;
}
.background_blue {
	height: 1060px;
}
.services {
	flex-direction: column;
	top: 30px;
}
.services li img {
	margin-top: 95px;
}
.services h6 {
	margin-top: 1px;
}
.services p {
	margin-top: 3px;
	padding-left: 18px;
	padding-right: 18px;
	text-align: center;
}
.buttonsubmit_small {
	margin-bottom: 10px;
	margin-left: -47px;
}
.background_grey {
	height: 340px;
}
.section_3 h3 {
	left: 5.1%;
	top: 125px;
	font-size: 29px;
	text-align: center;
}
.section_3 p {
	top: 170px;
	left: 2.7%;
	font-size: 20px;
	text-align: center;
}
.background_wight {
	height: 2500px;
}
.section_4_1 h3 {
	top: 40px;
	font-size: 28px;
  left: 30%;
	text-align: center;
}
.section_4_1 h5 {
	left: 25%;
	top: 87px;
	font-size: 18px;
	text-align: center;
}
.separator_2 {
	display: none;
}
.section_4_1 ul {
	top: 160px;
	left: 30.5%;
}
.section_4_2 {
	width: 310px;
	height: 1440px;
	flex-direction: column;
	top: 235px;
	left: 2%;
}
.section_4_2 li {
	height: 230px;
	width: 308px;
}
.thumb {
	top: 0px;
	height: 230px;
	width: 308px;
}
.section_4_2 li h5 {
	margin-top: 40px;
	width: 308px;
	height:70px;
  font-size: 22px;
}
.section_4_2 li p {
	padding-top: 80px;
	text-align: center;
	font-size: 14px;
}
.section_4_2 li img {
	margin-top: 25px;
}
.section_4_3 a h5 {
	top: 290px;
	left: 35%;
	font-size: 18px;
}
.section_4_3 a img {
	top: 339px;
	left: 41.5%;
}
.section_4_3 h3 {
	text-align: center;
	top: 427px;
	font-size: 26px;
	left: 1%;
}
.section_4_3 h5 {
	text-align: center;
	font-size: 16px;
	top: 515px;
	left: 17.5%;
}
.separator_3 {
	display: none;
}
.section_4_5 {
	flex-direction: column;
	flex-wrap: wrap;
	top: 560px;
	width: 320px;
}
.section_4_5 li img {
	margin-left: 7%;
}
.section_4_5 ._ {
	display: none;
}
.section_4_5 li p {
	padding-top: 40px;
	padding-right: 10px;
	text-align: center;
	width:300px;
	height: 128px;
	font-size: 14px;
}
.section_4_5 li h5 {
	height: 30px;
	text-align: center;
	font-size: 20px;
}
.ellipse {
	top: 600px;
}
.background_wight {
	height: 2600px;
}
.background_grey_2 {
	height: 300px;
}
.section_5 h3 {
	left: 2%;
	top: 93px;
	font-size: 32px;
	text-align: center;
}
.section_5 p {
	top: 203px;
	left: 29%;
	font-size: 18px;
}
.googlemaps {
	height: 350px;
	width: 100%;
}
.section_6 h3 {
	left: 32%;
	top: 37px;
}
.section_6 h5 {
	left: 9%;
	top: 87px;
	text-align: center;
}
.separator_4 {
	display: none;
}
.office_hours {
	width: 320px;
	top: 120px;
	left: 5%;
}
.office_hours h6 {
	margin-top: 25px;
	font-size: 16px;
	text-align: center;
	margin-right: 10%;
}
.office_hours p {
	margin-top: 6px;
	margin-right: 11%;
	text-align: center;
	font-size: 14px;
}
.form_1 {
	font-size: 16px;
	width: 274px;
	height: 45px;
	margin-left: 5px;
	margin-top: 20px;
}
.form_2 {
	font-size: 16px;
	width: 274px;
	height: 45px;
	margin-top: 5px;
	margin-left: 5px;
}
.form_3 {
	font-size: 16px;
	width: 274px;
	height: 105px;
	margin-left: 5px;
	margin-top: 5px;
}
.buttonsubmit_form {
	margin-left: 49%;
	font-size: 16px;
}
.ss_hov {
	margin-top: 165px;
	left: 25%;
	margin-left: 1%;
}
#footer {
	height: 700px;
}
.fix {
	bottom: 8px;
	right: 8px;
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	z-index: 500;
}
.bg_end {
	height: 156px;
}
.section_7 p {
  left: 17%;
  top: 48px;
}
.section_7 img {
  left: 23.5%;
  top: 83px;
}
}
