<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1;">
	<link rel="stylesheet" href="css/all.css" type="text/css"/>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/go_top.js"></script> -->
	<script type="text/javascript" src="js/main.js"></script>
	<title>Macankubang</title>
	<!-- <script>
	window.onscroll = function gotop() {
	  document.getElementById('gotop').style.display = (window.pageYOffset > '200' ? 'block' : 'none');
	}
	</script> -->
</head>

<body>
	<div id="wrapper">
		<header id="header">
			<div class="layout">
				<h1 class="logotype">
					<a href="#">Macankubang</a>
				</h1>
				<div class="menu">
					<a class="menu-lines" href="#">&#9776;</a>
				</div>
				<ul class="navigation">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">Work</a>
					</li>
					<li>
						<a href="#">Testimonials</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
		</header>
		<div id="main">
			<div id="content">
				<div class="slider">
					<div class="layout">
						<h2>Kalau Kita mau, Pasti ada Jalan</h2>
						<p>Semangat terus saudara-saudara!</p>
						<img class="slider-bg-image" border="0" alt="more" src="images/slider-bg-image.png"/>
						<img class="slider-image" border="0" alt="more" src="images/slider-image.png"/>
						<a href="#" class="slider-button">
							<img border="0" alt="more" src="images/slider-button.png"/>
						</a>
					</div><!-- Конец лайаута -->
					</div><!-- Конец слайдера  -->
					<div class="services">
						<div class="layout">
						<h3>Our Services</h3>
						<p class="about-text">our awesome services</p>
						<img class="services-separator" border="0" alt="more" src="images/services-separator.png"/>
						<ul class="services-blocks">
							<li>
									<img class="services-heart" border="0" alt="more" src="images/services-heart.png"/>
										<h4>Beautiful Design</h4>
										<div class="block-text">
										<p>This is Photoshop's version of
											Lorem Ipsum. Proin gravida nibh
											vel velit auctor aliquet. Aenean</p>
										</div>
										<a href="#" class="services-button">
											<img border="0" alt="more" src="images/services-button.png"/>
										</a>
							</li>
							<li>
									<img class="services-globe" border="0" alt="more" src="images/services-globe.png"/>
										<h4>Global Trend</h4>
										<div class="block-text">
										<p>This is Photoshop's version of
											Lorem Ipsum. Proin gravida nibh
											vel velit auctor aliquet. Aenean</p>
										</div>
										<a href="#" class="services-button">
											<img border="0" alt="more" src="images/services-button.png"/>
										</a>
							</li>
							<li>
									<img class="services-monitor" border="0" alt="more" src="images/services-monitor.png"/>
										<h4>Responsive</h4>
										<div class="block-text">
										<p>This is Photoshop's version of
											Lorem Ipsum. Proin gravida nibh
											vel velit auctor aliquet. Aenean</p>
										</div>
										<a href="#" class="services-button">
											<img border="0" alt="more" src="images/services-button.png"/>
										</a>
							</li>
							<li>
									<img class="services-rocket" border="0" alt="more" src="images/services-rocket.png"/>
										<h4>Awesome Design</h4>
										<div class="block-text">
										<p>This is Photoshop's version of
											Lorem Ipsum. Proin gravida nibh
											vel velit auctor aliquet. Aenean</p>
										</div>
										<a href="#" class="services-button">
											<img border="0" alt="more" src="images/services-button.png"/>
										</a>
							</li>
						</ul>
						<div class="services-dots">
						<ul>
							<li>
								<a href="#" class="first-dot"></a>
							</li>
							<li>
								<a href="#" class="second-dot"></a>
							</li>
							<li>
								<a href="#" class="third-dot"></a>
							</li>
							<li>
								<a href="#" class="fourth-dot"></a>
							</li>
						</ul>
					</div><!-- Конец services-dots -->
					</div>					<!-- Конец лайаута -->
					</div>					<!-- Конец services -->
					<div class="works">
						<div class="layout">
						<h4>Our Greatest Works</h4>
						<p>come from awesome imagination</p>
					</div>					<!-- Конец лайаута -->
					</div>					<!-- Конец works -->
				<div class="portfolio">
					<div class="layout">
					<h4>Portfolio</h4>
					<p>our awesome works</p>
					<img class="portfolio-separator" border="0" alt="more" src="images/portfolio-separator.png"/>
				<div class="tabs">
					<ul class="tab-btns">
								<li class='active'>
									<a href="#">All</a>
								</li>
								<li>/</li>
								<li>
									<a href="#">Web</a>
								</li>
								<li>/</li>
								<li>
									<a href="#">Print</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<ul class="cards">
							<li>
								<a href="#" >
								<div class="objects">
										<h3>Macankubang</h3>
										<p>This is Photoshop's version of	Lorem <br>
											Ipsum. Proin gravida nibh vel velit auctor <br>
											aliquet. Aenean sollicitudin, lorem quis <br>
											bibendum auctor, nisi elit consequat</p>

										<img class="Portfolio-eye" border="0" alt="more" src="images/Portfolio-eye.png"/>
</div>
</a>
							</li>
						<li>
							<a href="#" >
							<div class="objects">
									<h3>Macankubang</h3>
									<p>This is Photoshop's version of	Lorem <br>
										Ipsum. Proin gravida nibh vel velit auctor <br>
										aliquet. Aenean sollicitudin, lorem quis <br>
										bibendum auctor, nisi elit consequat</p>
									<img class="Portfolio-eye" border="0" alt="more" src="images/Portfolio-eye.png"/>
							</div>
						</a>
						</li>
					<li>
						<a href="#" >
						<div class="objects">
								<h3>Macankubang</h3>
								<p>This is Photoshop's version of	Lorem <br>
									Ipsum. Proin gravida nibh vel velit auctor <br>
									aliquet. Aenean sollicitudin, lorem quis <br>
									bibendum auctor, nisi elit consequat</p>
								<img class="Portfolio-eye" border="0" alt="more" src="images/Portfolio-eye.png"/>
						</div>
					</a>
					</li>
				<li>
					<a href="#" >
					<div class="objects">
							<h3>Macankubang</h3>
							<p>This is Photoshop's version of	Lorem <br>
								Ipsum. Proin gravida nibh vel velit auctor <br>
								aliquet. Aenean sollicitudin, lorem quis <br>
								bibendum auctor, nisi elit consequat</p>
							<img class="Portfolio-eye" border="0" alt="more" src="images/Portfolio-eye.png"/>
					</div>
				</a>
				</li>
				<li>
				<a href="#" >
				<div class="objects">
						<h3>Macankubang</h3>
						<p>This is Photoshop's version of	Lorem <br>
							Ipsum. Proin gravida nibh vel velit auctor <br>
							aliquet. Aenean sollicitudin, lorem quis <br>
							bibendum auctor, nisi elit consequat</p>
						<img class="Portfolio-eye" border="0" alt="more" src="images/Portfolio-eye.png"/>
				</div>
			</a>
			</li>
		<li>
			<a href="#" >
			<div class="objects">
					<h3>Macankubang</h3>
					<p>This is Photoshop's version of	Lorem <br>
						Ipsum. Proin gravida nibh vel velit auctor <br>
						aliquet. Aenean sollicitudin, lorem quis <br>
						bibendum auctor, nisi elit consequat</p>
					<img class="Portfolio-eye" border="0" alt="more" src="images/Portfolio-eye.png"/>
			</div>
		</a>
		</li>
	</ul>
	<div class="portfolio-dots">
	<ul>
		<li>
			<a href="#" class="first-dot"></a>
		</li>
		<li>
			<a href="#" class="second-dot"></a>
		</li>
		<li>
			<a href="#" class="third-dot"></a>
		</li>
		<li>
			<a href="#" class="fourth-dot"></a>
		</li>
		<li>
			<a href="#" class="fifth-dot"></a>
		</li>
		<li>
			<a href="#" class="six-dot"></a>
		</li>
	</ul>
</div><!-- Конец portfolio-dots -->
<div class="browse-all">
	<a href="#" >
				<h3>Browse All<br>
					300+</h3>
				<img class="portfolio-shape" border="0" alt="more" src="images/portfolio-shape.png"/>
	</a>
</div> <!-- Конец browse-all -->
</div><!-- Конец содержимого вкладок -->
</div><!-- Конец лайута -->
</div> <!-- Конец портфолио -->
<div class="customers">
	<div class="layout">
<h3>What Our Happy Customer Say</h3>
<div class="about-customer">
<p>lorem ipsum dolor sit amet</p>
</div>
<img class="portfolio-separator" border="0" alt="more" src="images/Portfolio-separator.png"/>
<div class="customer-content">
<img class="customer-image" border="0" alt="more" src="images/customer-image.png"/>
<ul class="customer-text">
	<li>
<p class="customer-citate">This is Photoshop's version of	Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
	Aenean sollicitudin, lorem quis	bibendum auctor, nisi elit consequat ipsum, nec sagittis
sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
</li>
<li>
<p class="customer-name">John Doe</p>
</li>
</div> <!-- Конец customer-content -->
<div class="customer-dots">
<ul>
	<li>
		<a href="#" class="first-dot"></a>
	</li>
	<li>
		<a href="#" class="second-dot"></a>
	</li>
	<li>
		<a href="#" class="third-dot"></a>
	</li>
	<li>
		<a href="#" class="fourth-dot"></a>
	</li>
</ul>
</div><!-- Конец customer-dots -->
</div><!-- Конец лайаута -->
</div><!-- Конец customres -->
<div class="in-touch">
	<div class="layout">
<h4>Get in Touch With us</h4>
<p>Ready for 24/7</p>
</div><!-- Конец лайаута -->
</div><!-- Конец In Touch -->
<div class="map">
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.9051651776927!2d36.23437931517853!3d49.994387428002554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0efb04d1f41%3A0xe32579cac9827c50!2z0KLQtdCw0YLRgNCw0LvRjNC90YvQuSDQv9C10YAuLCA0LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1516124502326" frameborder="0" border="0" allowfullscreen></iframe>
</div><!-- Конец карты -->
</div><!-- Конец основного контента страницы -->
		<div id="footer">
			<div class="layout">
				<h3>Contact</h3>
				<div class="contact-description">
				<p class=>Let's talk about business, get in touch!</p>
			</div>
				<img class="contact-separator" border="0" alt="more" src="images/contact-separator.png"/>
				<div class="contact-blocks">
				<div class="contact-information">
					<h6>Office Hours</h6>
					<p>Monday to Friday / 7:00 - 18:00 Saturday / 9:00 - 15:00</p>
					<ul class="contact-sources">
						<li class="adress">
							<p>25 Silver Cost Avenue, MD 20910 Indonesia</p>
						</li>
						<li class="phone">
							<p>(621) 555 6789</p>
						</li>
						<li class="mail">
							<p>hello@macankumbang.net</p>
						</li>
					</ul>
					<div class="social-icons">
						<ul>
							<li>
									<a href="#" class="twitter-link"></a>
								</li>
								<li>
									<a href="#" class="facebook-link"></a>
								</li>
								<li>
									<a href="#" class="google-link"></a>
								</li>
								</ul>
							</div>
				</div>				<!-- Конец contact-information -->
				<div class="contact-form">
					<div class="row">
									<input class="text-name" type="text" name="name" placeholder="Name">
									<input class="text-email" type="text" name="email" placeholder="Email (will not published)">
									<!-- <input class="textarea" type="textarea" name="name" value=""> -->
									<textarea class="textarea" type="textarea" name="name" placeholder="Message"></textarea>
									<input class="submit" border="0" type="submit" name="submit" value="Send">
								</div>
				</div>				<!-- Конец contact-form -->
			</div>			<!-- Конец contact-blocks -->
			</div><!-- Конец лайаута -->
			<div class="bottom">
				<div class="layout">
<div class="rights">
				<p>(c) copyright 2013 macankumbang</p>
				<img class="logo-bottom" alt="more" src="images/logo-bottom.png"/>
			</div>
			</div>			<!-- Конец лайаута -->
			</div>				<!-- Конец bottom -->
		</div><!-- Конец футера -->
	</div><!-- Конец всего main  -->
<div id="go-top">
	<a href="#"></a>
</div>
</div>
</body>
</html>
