.canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-width: 2px;
  background: #b3d4fc;
}

.cell {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  opacity: 0.1;
}

.x {
  width: 100vw;
  background: blue;
}

.y {
  height: 100vh;
  background: red;
}
