@font-face {
	font-family: 'SansitaOneRegular';
	src: url('sansitaone-webfont.eot');
	src: url('sansitaone-webfont.eot?#iefix') format('embedded-opentype'), url('sansitaone-webfont.woff') format('woff'), url('sansitaone-webfont.ttf') format('truetype'), url('sansitaone-webfont.svg#SansitaOneRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}