
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family:'Arial';sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
#wrapper {
	display:block;
		position:relative;
			width:100%;
				height:100%;
}
.layout {
	position: relative;
		margin: 0 auto 0 auto;
			width: 768px;
}
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:calc(100% - 20px);
		padding:0 10px;
	}
}
#header {
	display: block;
		position: relative;
			width: 100%;
				height: 63px;
					background: #2d2d2d
}
#header .menu {
	display:none;
	float: left;
	color: #ffffff;
	overflow: hidden;
	font-family: 'Arial';
	padding: 40px 32px 0px 0px;
	font-size: 14px;
}
@media (min-width: 320px) and (max-width:767px) {
	#header .menu {
		display: block;
	}
}
#header ul {
	width: 100%;
		height: 63px;
			float: left;
}
@media (min-width: 320px) and (max-width:767px) {
	#header ul {
		display: none;
	}
}
#header ul li {
	float: left;
		padding: 40px 32px 0px 0px;
			font-size: 14px;
}
#header ul li a {
	color: #ffffff;
		overflow: hidden;
			font-family: 'Arial'}
#main {
	display: block;
		width: 100%;
			overflow: hidden;
				position: relative;
						margin: 0;
}
#content {
	display: block;
		width: 100%;
			overflow: hidden;
				background: #63baa9;
}
#content .img-holder {
	display: block;
		overflow: hidden;
			width: 100%;
	}
#content .img-holder img {
	display: block;
		width: 100%;
			height: 463px;
}
@media (min-width: 320px) and (max-width:767px) {
	#content .img-holder img {
				height:auto;
	}
}
h3.title {
	display: block;
		width: 100%;
			overflow: hidden;
				font-size: 30px;
					position: relative;
						font-family: sans-serif;
}
h3.title:after {
position: absolute;
	content: '';
			width: 550px;
					height: 3px;
						top: 15px;
							left: 205px;
								display: block;
									overflow: hidden;
										background-color: #fff;
}
#content h3.title {
	margin: 60px 0 70px 0;
		color: #fff;
			font-family: sans-serif;
}
@media (min-width: 320px) and (max-width:767px) {
	#content h3.title {
		margin:30px 0 30px 0;
	}
}
#content .list {
	display: block;
		width: 100%;
			overflow: hidden;
				padding-bottom: 60px;
}
#content .list li {
	float: left;
		height: 120px;
			width: 245px;
				background: #fff;
					margin: 0 10px 10px 0;
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li {
		height: auto;
		width: 100%;
		margin: 0 0 10px;
	}
}
#content .list li h4 {
	color: #e1a773;
		text-transform: lowercase;
			margin: 60px 200px 0px 20px;
				font-size: 24px;
					font-family: 'Arial';
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li h4 {
		margin:0;
	}
}
#content .list li p {
	color: #333333;
		margin: 0 20px 0px 20px;
			font-size: 12px;
				font-family: 'Arial';
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li p {
		margin:0;
	}
}
#content .list li.height h4 {
	color: #e1a773;
		margin: 180px 200px 0px 20px;
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li.height h4 {
		margin:0;
	}
}
#content .list li.height p {
	color: #333333;
		margin:0px 20px 25px 20px;
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li.height p {
		margin:0;
	}
}

#content .list li.height {
	height: 240px;
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li.height {
		height: auto;
	}
}
#content .list li:first-child {
	width: 500px;
		height: 240px;
			background: #f7671d;
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li:first-child{
		width: 100%;
		height: auto;
	}
}
#content .list li:first-child h4 {
	margin: 30px 30px 0px 20px;
		color: #fff;
			text-transform: uppercase;
				font-size: 18px;
						font-family: 'arialnarrow';
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li:first-child h4{
		margin:0;
	}
}
#content .list li:first-child p {
	margin: 20px 30px 25px 20px;
		color: #fff;
			font-size: 14px;
				font-family: 'arialnarrow';
}
@media (min-width: 320px) and (max-width:767px) {
	#content .list li:first-child p{
		margin:0;
	}
}
#content .list li:nth-child(11),
#content .list li:nth-child(8),
#content .list li:nth-child(5),
#content .list li:nth-child(2) {
margin: 0 0 10px 0;
}
#footer {
	display: block;
		overflow: hidden;
			width: 100%;
				position: relative;
					margin: 0;
						padding: 0 0;
							background: #303646;
}
#footer .layout {
	display: block;
	margin: 0 auto;
	width: 790px;
}
@media (min-width: 320px) and (max-width:767px) {
	#footer .layout {
			width:calc(100% - 20px);
			padding:0 10px;
	}
}
#footer .notebook {
		position: absolute;
			overflow: hidden;
				top: 0;
					right: 0;
}
@media (min-width: 320px) and (max-width:767px) {
	#footer .notebook {
		display: none;
	}
}
#footer h3.title {margin: 60px 0 50px 0;
	color: #fff;
		font-size: 30px;
			font-family: 'Arial';
}
#footer h3.title:after {
	position: absolute;
		content: '';
			height: 3px;
				top: 50%;
					left: 205px;
						display: block;
							background-color: #fff;
}
#footer .left {
	display: block;
			width: 460px;
				position: relative;
					float: left;
}
@media (min-width: 320px) and (max-width:767px) {
	#footer .left {
		width: 100%;
	}
}
#footer .post {
	display: block;
		position: relative;
			float: left;
			width: 100%;
				margin: 20px 0px 0px 0px;
}
#footer .post .row label {
	width: 100%;
		display: block;
			overflow: hidden;
				margin: 7px 0 5px 0;
					color: #5b5e65;
						font-size: 12px;
							text-align: left;
								font-family: 'arialnarrow';
}
#footer .left h4 {
	display: block;
		width: 100%;
			font-size: 14px;
				overflow: hidden;
					color: #f7671d;
						position: relative;
							font-family: 'arialnarrow';

}
#footer .left h4:after {
	position: absolute;
		content: '';
			width: 360px;
				height: 1px;
					top: 50%;
						left: 120px;
							display: block;
								overflow: hidden;
									background-color: grey;
}
#footer .post .row .txt {
	width: 220px;
		display: block;
			overflow: hidden;
				margin: 0 0 0 0;
					color: #000000;
						padding: 0 10px 0 10px;
							font-size: 16px;
								height: 20px;
									border: none;
										background-color: #FFF;
											text-align: left;
}
@media (min-width: 320px) and (max-width:767px) {
	#footer .post .row .txt {
		width:calc(100% - 20px);
	}
}
#footer .post .row .txtarea {
	height: 70px;
		width: 460px;
}
@media (min-width: 320px) and (max-width:767px) {
	#footer .post .row .txtarea {
		width:100%;
	}
}
#footer .submit {
	margin: 10px 0px 0px 0px;
		float: right;
			display: block;
				height: 20px;
					width: 70px;
						background-color: #f7671d;
							border-radius: 5px;
}
@media (min-width: 320px) and (max-width:767px) {
	#footer .submit {
		width:100%;
		text-align: center;
		margin: 10px 0 30px 0;
	}
}
#footer .row {
	width: 100%;
	display: block;
	overflow: hidden;
}
#footer .submit input {
	font-size: 12px;
		color: #fff;
			background-color: #f7671d;
				height: 20px;
					width: 70px;
						border-radius: 5px;
							border: none;
								font-family: 'arialnarrow';
}
#footer .right {
	display:block;
			width: 300px;
				float: right;
					position: relative;
}
#footer .right .socials h4 {
	display: block;
	color: #000000;
		font-size: 14px;
			font-family: sans-serif;
				position: relative;
}
#footer .right .socials h4:after {
	position: absolute;
		content: '';
			width: 150px;
					height: 1px;
						top: 50%;
							left: 115px;
								display: block;
									overflow: hidden;
										background-color: grey;
}
#footer .socials ul {
	margin: 20px 0 0 0;
		float: left;
}
#footer .socials ul li {
	float: left;
}
#footer .socials ul li a {
	float: left;
		padding: 0px 5px 0px 0px;
}
#footer .right .contacts {
	display: block;
		width: 280px;
			float: left;
}
#footer .right .contacts h4 {
	color: #000000;
		font-size: 14px;
			margin-top: 30px;
				margin-bottom: 20px;
					position: relative;
						font-family: sans-serif;
}
#footer .right .contacts h4:after {
	position: absolute;
		content: '';
			width: 95px;
				height: 1px;
					top: 50%;
						left: 172px;
							display: block;
								overflow: hidden;
									background-color: grey;
}
#footer .contacts ul {
	display: block;
		width: 290px;
			float: left;

}
#footer .contacts li {
	display: block;
		float: left;
			width: 100%;
				padding-bottom: 5px;
}
#footer .contacts ul li p {
	font-size: 14px;
		color: grey;
			line-height: 28px;
				 float: left;
				 	padding-left: 10px;
						font-family: sans-serif;
}
#footer .contacts img {
	display: block;
		float: left;
}
