#content{
  width: 747px;
  float: right;
  margin: 8px 0 0 0;
  @include breakpoint(mobile){
    width: 320px;
  }
  &.small{
    float: right;
    margin-left: 17px;
    @include breakpoint(mobile){
      float: none;
      margin: 0;
    }
    .table{
      width: 496px;
      display: inline-block;
      @include breakpoint(mobile){
        width: 100%;
      }
      .tp{
        @include breakpoint(mobile){
          position: absolute;
          top: 5px;
          left: 20px;
          &:nth-child(2){
            left: 110px;
          }
        }
      }
      ul{
        display: block;
        @include breakpoint(mobile){
          margin-bottom: 22px;
        }
        li{
          @include breakpoint(mobile){
            margin: 22px auto 0 auto;
          }
          &:nth-child(2n) .image{
            margin-right: 0;
            @include breakpoint(mobile){
              margin: 22px auto 0 auto;
            }
          }
          &:nth-child(3){
            margin: 0 22px 0 0;
            @include breakpoint(mobile){
              margin: 22px auto 0 auto;
            }
          }
          &:nth-child(9){
            margin: 0 22px 0 0;
            @include breakpoint(mobile){
              margin: 22px auto 0 auto;
            }
          }
        }
      }
    }
  }
  .p2w{
    float: left;
    margin: 21px 0 31px 18px;
    line-height: 16px;
  }
  .table{
    display: block;
    width: 747px;
    @include breakpoint(mobile){
      width: 320px;
    }
    .back{
      text-decoration: underline;
      color: #bd0027;
      font-size: 12px;
      float: left;
      margin: 1px 28px 0 0;
      @include breakpoint(tablet){
        &:first-child{
          margin-left: 10px;
        }
      }
      @include breakpoint(mobile-large){
        &:first-child{
          margin-left: 50px;
        }
      }
      @include breakpoint(mobile){
          margin-right: 5px;
          font-size: 11px;
          &:first-child{
            margin-left: 30px;
          }
      }
    }
    .black{
      color: #333333;
      font-size: 14px;
      @include breakpoint(mobile){
        font-size: 11px;
        margin-right: 0;
        padding-top: 1px;
      }
    }
    h4{
      margin: 20px 0 12px 16px;
      font-size: 24px;
      color: #be0028;
      width: 40%;
      display: block;
      @include breakpoint(mobile){
        width: 100%;
        margin-left: 26px;
      }
      &.left-1{
        float: left;
      }
    }
    p{
      color: #333333;
      font-size: 12px;
      width: 96%;
      &.first{
        margin: 7px 0 0 0;
      }
      &.last{
        margin-bottom: 20px;
      }
    }
    .p-map{
      color: #502b0b;
      font-size: 12px;
      float: left;
      width: 30%;
      margin: 31px 0 0 36px;
      text-decoration: underline;
      position: relative;
      cursor: pointer;
      @include breakpoint(mobile){
        display: none;
      }
      &.w{
        width: 106px;
        margin: 0 0 6px 0;
        &:after{
          left: 103%;
        }
        &:before{
          left: 103%;
        }
      }
      &.w2{
        width: 96px;
        margin: 0 0 0 0;
        @include breakpoint(mobile){
          display: none;
        }
        &:after{
          left: 103%;
        }
        &:before{
          left: 103%;
        }
      }
      &:hover{
        text-decoration: none;
      }
      &:after{
        content: "";
        position: absolute;
        width: 2px;
        height: 5px;
        background: #502b0b;
        right: 46px;
        bottom: 4px;
        transform: rotate(-45deg);
      }
      &:before{
        content: "";
        position: absolute;
        width: 2px;
        height: 5px;
        background: #502b0b;
        right: 46px;
        bottom: 2px;
        transform: rotate(45deg);
      }
    }
    ul{
      display: block;
      margin: 20px 0 0 0;
      @include breakpoint(mobile){
        display: inline-block;
        width: 100%;
        margin: 0;
      }
      li{
          float: left;
          @include breakpoint(mobile){
            display: block;
            margin: 0 auto;
            float: none;
          }
          &:nth-child(3n) .image{
            margin-right: 0;
            @include breakpoint(mobile){
              display: block;
              margin: 0 auto 22px auto;
              float: none;
            }
          }
      .image, .image-1{
        float: left;
        position: relative;
        border: 0 solid #be0028;
        width: 232px;
        height: 138px;
        margin: 0 22px 22px 0;
        cursor: pointer;
        @include breakpoint(mobile){
          display: block;
          margin: 0 auto 22px auto;
          float: none;
        }
        &:not(.image-1):after{
          content: "";
          height: 9px;
          width: 3px;
          background: #fff;
          position: absolute;
          right: 11px;
          bottom: 10px;
          z-index: 3;
          -webkit-z-index: 3;
          -moz-z-index: 3;
          -ms-z-index: 3;
          -o-z-index: 3;
          -icab-z-index: 3;
          -khtml-z-index: 3;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -icab-transform: rotate(-45deg);
          -khtml-transform: rotate(-45deg);
        }
        &:not(.image-1):before{
          content: "";
          height: 9px;
          width: 3px;
          background: #fff;
          position: absolute;
          right: 11px;
          bottom: 6px;
          z-index: 3;
          -webkit-z-index: 3;
          -moz-z-index: 3;
          -ms-z-index: 3;
          -o-z-index: 3;
          -icab-z-index: 3;
          -khtml-z-index: 3;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -icab-transform: rotate(45deg);
          -khtml-transform: rotate(45deg);
        }
        &.active{
          border: 3px solid #be0028;
          width: 226px;
          height: 135px;
          border-bottom: none;
          .table-text, .table-text-2{
              opacity: 1;
              background: #be0028;
          }
          .price{
            background: #be0028;
          }
        }
        .price{
          width: 100%;
          height: 47px;
          background: #a4785a;
          position: absolute;
          left: 0;
          bottom: 0;
          .p-price{
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            margin: 12px 0 0 12px;
            width: 40%;
          }
          p.more{
            position: absolute;
            width: 40%;
            text-align: right;
            color: #ffffff;
            cursor: pointer;
            text-decoration: underline;
            bottom: 9px;
            right: 22px;
            font-size: 12px;
            &:after{
              position: absolute;
              bottom: 5px;
              right: -8px;
              content: "";
              height: 5px;
              width: 2px;
              background: #ffffff;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              -icab-transform: rotate(-45deg);
              -khtml-transform: rotate(-45deg);
            }
            &:before{
              position: absolute;
              bottom: 2px;
              right: -8px;
              content: "";
              height: 5px;
              width: 2px;
              background: #ffffff;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -icab-transform: rotate(45deg);
              -khtml-transform: rotate(45deg);
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
        .table-text{
          background: #6f4725;
          height: 26px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0.5;
          z-index: 2;
          -webkit-z-index: 2;
          -moz-z-index: 2;
          -ms-z-index: 2;
          -o-z-index: 2;
          -icab-z-index: 2;
          -khtml-z-index: 2;
        }
        .table-text-2{
          background: #6f4725;
          height: 26px;
          width: 100%;
          position: absolute;
          bottom: 47px;
          left: 0;
          opacity: 0.5;
          z-index: 2;
          -webkit-z-index: 2;
          -moz-z-index: 2;
          -ms-z-index: 2;
          -o-z-index: 2;
          -icab-z-index: 2;
          -khtml-z-index: 2;
        }
        .img-text{
          position: absolute;
          left: 10px;
          bottom: 0;
          width: 100%;
          color: #fff;
          line-height: 26px;
          font-size: 16px;
          z-index: 3;
          -webkit-z-index: 3;
          -moz-z-index: 3;
          -ms-z-index: 3;
          -o-z-index: 3;
          -icab-z-index: 3;
          -khtml-z-index: 3;
          }
          .img-text-2{
            position: absolute;
            left: 10px;
            bottom: 47px;
            width: 100%;
            color: #fff;
            line-height: 26px;
            z-index: 3;
            -webkit-z-index: 3;
            -moz-z-index: 3;
            -ms-z-index: 3;
            -o-z-index: 3;
            -icab-z-index: 3;
            -khtml-z-index: 3;
          }
        }
        .image-1{
          height: 184px;
          &.active{
            width: 226px;
            height: 181px;
          }
        }
      }
    }
  }
  .right-filter{
    float: right;
    margin: 34px 133px 0 0;
    width: 103px;
    @include breakpoint(mobile){
      width: 100%;
      float: left;
    }
    h5{
      display: block;
      margin: 0 0 12px 0;
      font-size: 12px;
      color: #333333;
    }
    .forma{
      display: block;
      height: 74px;
      @include breakpoint(mobile){
        height: 60px;
      }
      &:first-child{
        margin: 0 0 20px 0;
        @include breakpoint(mobile){
          margin: 0;
        }
      }
      &:nth-child(2) h5{
        margin: 0 0 25px 0;
        @include breakpoint(mobile){
          margin-bottom: 10px;
        }
      }
      label{
        float: left;
        font-size: 12px;
        width: 82px;
        margin: 0 0 6px 0;
        line-height: 10px;
        @include breakpoint(mobile){
          &:not(:last-child){
            width: auto;
            margin-right: 25px;
          }
        }
      }
      input{
        margin: 0 7px 0 0;
        float: left;
      }
    }
  }
}
