.slider{
  .bx-wrapper{
    width: 747px;
    height: 168px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -icab-box-shadow: none;
    -khtml-box-shadow: none;
    border: none;
    margin-bottom: 0;
    @include breakpoint(tablet){
      width: 720px;
    }
    @include breakpoint(mobile-large){
      width: 650px;
    }
    @include breakpoint(mobile){
      display: none;
    }
    .bx-loading{
      display: none;
    }
    .bx-pager-item{
      width: 22px;
    }
    .bx-viewport{
      box-shadow: none;
      border: none;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      -icab-border-radius: 10px;
      -khtml-border-radius: 10px;
      float: right;
      width: 747px;
    }
    .bx-pager, .bx-controls-auto{
      position: absolute;
      bottom: none;
      top: 0;
      right: 16px;
      width: 90px;
    }
    .bx-pager.bx-default-pager a{
    background: #ceae8e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -icab-border-radius: 50%;
    -khtml-border-radius: 50%;
    }
  .bx-pager.bx-default-pager a:hover,
  .bx-pager.bx-default-pager a.active {
    	background: #be0028;
    }
  }
  .text{
    width: 100%;
    height: 48px;
    opacity: 0.9;
    position: absolute;
    background: #bd0b2c;
    bottom: 0;
    left: 0;
    p{
      margin: 6px 0 0 20px;
      color: #ffffff;
      font-size: 14px;
    }
  }
}
