.wrapper{
  height: 100%;
  width: 100%;
  background: #fff;
  .layout{
    width: 984px;
    height: 100%;
    margin: 0 auto;
    @include breakpoint(tablet){
      width: 768px;
    }
    @include breakpoint(mobile-large){
      width: 736px;
    }
    @include breakpoint(mobile){
      width: 320px;
    }
  }
}
