<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1;">
	<link rel="stylesheet" href="css/all.css" type="text/css"/>
	<script type="text/javascript" src="js/main.js"></script>
	<title>TITLE</title>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div class="logo">
				<img />
			</div>
		</div>
		<div id="main">
			<div id="content">
		
			</div>
			<div id="sidebar">
				<img />
				<input type="reset" />
				<p>some text</p>
			</div>
			<div id="aside">
				<img />
				<input type="text">
				<p>some fucking text</p>
			</div>
		</div>
		<div id="footer">
		
		</div>
	</div>
</body>
</html>
