.jurnal_main_footer {
  display: block;
  overflow: hidden; }
  .jurnal_main_footer .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .jurnal_main_footer .row-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #202020;
    width: 30px;
    height: 30px;
    margin: 50px 5px 20px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .jurnal_main_footer .row-item a {
      color: #f2f2f2; }
  .jurnal_main_footer li:hover {
    background-color: #161616; }
    .jurnal_main_footer li:hover a:hover {
      color: #f39c12; }
  .jurnal_main_footer li:first-child {
    margin-left: 30px; }
  .jurnal_main_footer li:last-child {
    width: 60px; }
