.menu {
  display: block;
  overflow: hidden; }
  .menu ul {
    display: block;
    overflow: hidden; }
    .menu ul li {
      margin-bottom: 6px; }
      .menu ul li a {
        color: #fff;
        font-size: 15,44px;
        text-transform: uppercase; }
      .menu ul li a:hover {
        color: #f39c12; }
      .menu ul li a:active {
        color: #f39c12; }
    .menu ul li:nth-child(5) {
      margin-top: 25px; }
    .menu ul li:nth-child(6) {
      margin-bottom: 25px; }
    .menu ul li:nth-child(7) {
      margin-bottom: 0px; }
