.send_message li {
  display: block;
  overflow: hidden;
  margin: 14px 0 0 30px; }

.send_message li:first-child {
  margin: 0 0 0 30px; }
  .send_message li:first-child input {
    width: 308px;
    height: 36px;
    background-color: #202020;
    font-size: 14px;
    border: none;
    color: #848484;
    padding-left: 36px;
    padding-right: 36px; }
  .send_message li:first-child textarea {
    width: 380px;
    height: 167px;
    background-color: #202020;
    border: none;
    color: #848484; }
  .send_message li:first-child button {
    border: none;
    width: 128px;
    height: 42px;
    background-color: #f39c12;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer; }
