.single_comments {
  display: block;
  overflow: hidden; }
  .single_comments h3 {
    font-size: 21px;
    color: #f39c12;
    text-transform: uppercase;
    margin: 55px 0 34px 29px; }
  .single_comments .firstComments {
    display: block;
    overflow: hidden;
    width: 645px; }
    .single_comments .firstComments img {
      float: left;
      margin: 0 21px 74px 30px; }
    .single_comments .firstComments h6 {
      font-size: 14px;
      color: #f2f2f2; }
      .single_comments .firstComments h6 a {
        color: #f39c12; }
    .single_comments .firstComments p {
      color: #f2f2f2;
      margin-top: 9px; }
  .single_comments .secondComments {
    display: block;
    overflow: hidden;
    width: 645px; }
    .single_comments .secondComments img {
      float: left;
      margin: 0 21px 25px 30px; }
    .single_comments .secondComments h6 {
      font-size: 14px;
      color: #f2f2f2; }
      .single_comments .secondComments h6 a {
        color: #f39c12; }
    .single_comments .secondComments p {
      color: #f2f2f2;
      margin-top: 9px; }
