.text {
  display: block;
  overflow: hidden;
  width: 200px; }
  .text p {
    color: #a9a9a9;
    margin-top: 11px;
    font-size: 12px;
    font-family: Myriad Pro Regular; }
    .text p a {
      color: #888888; }
