.blog {
  display: block;
  overflow: hidden; }
  .blog ul {
    margin: 0 0 74px 129px; }
  .blog li {
    float: left;
    width: 250px;
    height: 122px;
    background-color: var;
    margin: 0 10px 10px 0px; }
    .blog li h3 {
      color: #d1751a;
      font-size: 24px;
      font-weight: 400;
      margin: 63px 0 0 20px;
      font-family: Myriad Pro Regular; }
    .blog li p {
      color: #5f5e5e;
      font-size: 12px;
      font-weight: 400;
      margin: 0px 0 24px 20px;
      font-family: Myriad Pro Regular; }
  .blog .orange {
    height: 245px;
    width: 508px;
    background-color: #f7671d;
    font-size: 17px;
    margin: 72px 0 0 0px;
    float: left;
    font-family: Myriad Pro Regular; }
    .blog .orange h3 {
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
      margin: 40px 53px 24px 21px;
      text-transform: uppercase;
      font-family: Myriad Pro Regular; }
    .blog .orange p {
      font-size: 14px;
      font-weight: 300;
      color: #ffffff;
      margin: 0px 31px 0px 21px;
      font-family: Myriad Pro Regular; }
  .blog .white1 {
    width: 250px;
    height: 245px;
    background-color: #ffffff;
    margin: 72px 0 10px 10px; }
    .blog .white1 h3 {
      color: #d1751a;
      font-size: 24px;
      font-weight: 400;
      margin: 186px 0 0 20px;
      font-family: Myriad Pro Regular; }
    .blog .white1 p {
      color: #5f5e5e;
      font-size: 12px;
      font-weight: 400;
      margin: 0px 0 24px 20px;
      font-family: Myriad Pro Regular; }
  .blog .white {
    height: 122px;
    width: 250px;
    color: #ffffff; }
