.left {
  display: block;
  overflow: hidden;
  width: 613px;
  float: left; }
  .left h4 {
    color: #d1751a;
    font-family: Myriad Pro regular;
    font-size: 14px;
    float: left;
    margin: 51px 0 0 131px; }
  .left .line {
    width: 362px;
    height: 1px;
    z-index: 10;
    margin: 57px 0 10px 0px;
    float: right;
    background-color: #4e4d4d; }
  .left .row {
    font-family: Myriad Pro Regular;
    float: left;
    margin: 30px 0 0 131px;
    width: 100%; }
  .left li {
    display: block;
    overflow: hidden; }
  .left label {
    color: #868686;
    font-size: 12px; }
  .left input {
    display: block;
    overflow: hidden;
    width: 228px;
    height: 22px; }
  .left button {
    color: #fff;
    background-color: #f7671d;
    border-radius: 5px;
    margin: 11px 0 16px 380px; }
  .left textarea {
    width: 459px;
    height: 68px; }
