/* SCSS Compiled */
/*usage  @include font-size(13);*/
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

#layout1 {
  margin: 0 auto;
  position: relative;
  width: 960px; }

#layout2 {
  margin: 0 auto;
  position: relative;
  width: 960px; }

#layout3 {
  margin: 0 auto;
  position: relative;
  width: 960px; }

#layout4 {
  margin: 0 auto;
  position: relative;
  width: 960px; }

/****************************************************************              PC              ***************************************************/
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
  .layout {
    margin: 0 auto;
    position: relative;
    width: 768px; } }

/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width: 767px) {
  .layout {
    width: 100%;
    padding: 0; } }

/* Brand Colors ------------------------------------------------*/
@font-face {
  font-family: 'allerregular';
  src: url("../fonts/aller.regular-webfont.woff2") format("woff2"), url("../fonts/aller.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'droid_sansregular';
  src: url("../fonts/droid-sans.regular-webfont.woff2") format("woff2"), url("../fonts/droid-sans.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

header {
  width: 100%;
  height: 93px;
  position: relative;
  background-color: #3a3d40;
  border-bottom: 5px solid #4a4d50; }
  header .header_img {
    width: 88px;
    height: 32px;
    display: block;
    float: left;
    margin-bottom: 24px;
    margin-top: 33px; }
    header .header_img .header_img img {
      width: 100%;
      height: 100%;
      overflow: hidden; }
  header .header {
    display: block;
    width: 100%; }
    header .header ul {
      display: inline-block;
      float: right;
      height: 93px; }
      header .header ul li {
        display: block;
        border-left: 1px solid #4a4d50;
        float: left;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        font-weight: bold;
        color: #ffffff;
        padding: 50px 20px 27px 20px;
        font-family: 'allerregular'; }
        header .header ul li:hover {
          cursor: pointer; }
        header .header ul li:first-child {
          background-color: #35373a;
          color: #52636e; }
        header .header ul li:last-child {
          border-right: 1px solid #4a4d50; }

#main {
  display: block;
  position: relative;
  overflow: hidden; }
  #main .staff {
    display: block;
    position: relative;
    margin-top: 50px; }
    #main .staff .line {
      display: inline-block;
      background-image: url("../images/line.png");
      background-repeat: repeat-x;
      width: 100%;
      height: 3px; }
    #main .staff h2 {
      display: block;
      font-weight: bold;
      color: #717171;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      margin-top: 50px;
      font-family: 'allerregular'; }
    #main .staff p {
      display: block;
      font-size: 20px;
      color: #6f6f6f;
      text-align: center;
      margin-top: 25px;
      font-weight: lighter;
      font-family: 'allerregular'; }
    #main .staff ul {
      display: block;
      width: 100%;
      overflow: hidden;
      margin-top: 35px;
      margin-bottom: 50px; }
      #main .staff ul li {
        display: block;
        float: left;
        width: 312px;
        height: 250px;
        margin-right: 12px; }
        #main .staff ul li:nth-child(3) {
          margin-right: 0px; }
        #main .staff ul li:nth-child(4) {
          margin-top: 12px; }
        #main .staff ul li:nth-child(5) {
          margin-top: 12px; }
        #main .staff ul li:nth-child(6) {
          margin-right: 0px;
          margin-top: 12px; }
        #main .staff ul li img {
          width: 100%;
          height: 100%; }
  #main .latest-blog {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 50px; }
    #main .latest-blog h2 {
      display: block;
      font-weight: bold;
      color: #717171;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      font-family: 'allerregular'; }
    #main .latest-blog p {
      display: block;
      font-size: 20px;
      color: #6f6f6f;
      text-align: center;
      margin-top: 25px;
      font-weight: lighter;
      font-family: 'allerregular'; }
    #main .latest-blog ul {
      display: block;
      overflow: hidden;
      margin-top: 30px; }
      #main .latest-blog ul li {
        display: block;
        float: left;
        width: 50%; }
        #main .latest-blog ul li:nth-child(3) {
          margin-top: 45px; }
        #main .latest-blog ul li:nth-child(4) {
          margin-top: 45px; }
        #main .latest-blog ul li .date_mounth {
          display: block;
          float: left;
          background-color: #e4e4e4;
          border-radius: 50%;
          width: 55px;
          height: 55px; }
          #main .latest-blog ul li .date_mounth p.date {
            color: #a0a0a0;
            text-transform: uppercase;
            margin: 0;
            font-weight: bold;
            font-size: 17px;
            display: block;
            padding-top: 6px;
            font-family: 'allerregular'; }
          #main .latest-blog ul li .date_mounth p.mounth {
            display: block;
            color: #a0a0a0;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 16px;
            margin: 0;
            font-family: 'allerregular'; }
      #main .latest-blog ul .text {
        display: block;
        overflow: hidden; }
        #main .latest-blog ul .text h5 {
          display: block;
          font-weight: bold;
          padding-left: 15px;
          color: #a1a1a1;
          font-family: 'allerregular'; }
        #main .latest-blog ul .text p {
          font-size: 13px;
          color: #a1a1a1;
          display: block;
          text-align: left;
          margin-top: 15px;
          padding-left: 15px;
          font-family: 'droid_sansregular';
          font-weight: lighter; }
        #main .latest-blog ul .text .link_p {
          font-size: 11px;
          color: lightblue;
          display: block;
          text-align: left;
          margin-top: 15px;
          padding-left: 15px;
          font-family: 'droid_sansregular';
          font-weight: lighter; }
        #main .latest-blog ul .text a {
          cursor: pointer; }
  #main .our_customers {
    display: block;
    margin-top: 50px;
    position: relative;
    width: 100%; }
    #main .our_customers h2 {
      display: block;
      font-weight: bold;
      color: #717171;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      font-family: 'allerregular'; }
    #main .our_customers p {
      display: block;
      font-size: 20px;
      color: #6f6f6f;
      text-align: center;
      margin-top: 25px;
      font-weight: lighter;
      font-family: 'allerregular'; }
    #main .our_customers ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 45px; }
      #main .our_customers ul li {
        display: block;
        float: left; }
      #main .our_customers ul a {
        cursor: pointer; }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  display: none;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../images/btn-left.png") no-repeat 0 0; }

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("../images/btn-right.png") no-repeat 0 0; }

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: 0 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.slider {
  display: block;
  margin: 0 auto;
  border-top: 1px solid black;
  position: relative; }
  .slider .bxslider {
    display: block;
    width: 100%;
    height: 450px !important;
    margin-top: 50px; }
    .slider .bxslider img {
      display: block;
      width: 100%;
      height: 100%; }

.our_service {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 50px; }
  .our_service h2 {
    display: block;
    color: #6f6f6f;
    text-align: center;
    font-weight: bold;
    font-family: 'allerregular'; }
  .our_service p.service {
    display: block;
    font-size: 20px;
    color: #6f6f6f;
    text-align: center;
    margin-top: 25px;
    font-weight: lighter;
    font-family: 'allerregular'; }
  .our_service ul {
    display: block;
    height: 42px;
    margin: 40px 300px 0 300px;
    position: relative;
    float: left; }
    .our_service ul::before {
      position: absolute;
      content: '';
      width: 300px;
      height: 1px;
      top: 42px;
      left: -300px;
      display: block;
      overflow: hidden;
      background-color: #d7d7d7; }
    .our_service ul::after {
      position: absolute;
      content: '';
      width: 300px;
      height: 1px;
      top: 42px;
      right: -300px;
      display: block;
      overflow: hidden;
      background-color: #d7d7d7; }
    .our_service ul li {
      display: block;
      padding: 12px 23px;
      text-align: center;
      border-top: 1px solid #d7d7d7;
      border-left: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
      float: left; }
      .our_service ul li:last-child {
        border-right: 1px solid #d7d7d7; }
      .our_service ul li:hover {
        border-bottom: none; }
      .our_service ul li a {
        color: #919191;
        font-weight: bold;
        font-family: 'allerregular';
        font-size: 13px;
        display: block; }
        .our_service ul li a:hover {
          cursor: pointer;
          color: #b1c8d7; }
  .our_service .tab-content {
    display: block;
    width: 100%;
    position: relative; }
    .our_service .tab-content .t1 {
      display: block;
      width: 100%; }
      .our_service .tab-content .t1 img {
        display: block;
        float: left;
        margin-top: 30px; }
      .our_service .tab-content .t1 .text {
        display: block;
        float: right;
        width: 530px;
        margin-top: 30px; }
        .our_service .tab-content .t1 .text h5 {
          display: block;
          font-family: 'allerregular';
          color: #969696; }
        .our_service .tab-content .t1 .text .text1 {
          display: block;
          margin-top: 15px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7;
          text-align: left; }
        .our_service .tab-content .t1 .text .text2 {
          display: block;
          margin-top: 30px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7;
          text-align: left;
          margin-bottom: 35px; }
        .our_service .tab-content .t1 .text .text3 {
          display: block;
          font-family: 'droid_sansregular';
          font-size: 11px;
          color: #c7c7c7;
          text-align: left;
          margin-bottom: 12px; }
          .our_service .tab-content .t1 .text .text3 img {
            display: block;
            float: left;
            padding-right: 10px;
            width: 12px;
            height: 9px;
            margin: 0; }
    .our_service .tab-content .t2 {
      display: block;
      width: 100%; }
      .our_service .tab-content .t2 .text {
        display: block;
        float: left;
        width: 530px;
        margin-top: 30px; }
        .our_service .tab-content .t2 .text h5 {
          display: block;
          font-family: 'allerregular';
          color: #969696; }
        .our_service .tab-content .t2 .text .text1 {
          display: block;
          margin-top: 15px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7;
          text-align: left; }
        .our_service .tab-content .t2 .text .text2 {
          display: block;
          margin-top: 30px;
          font-family: 'droid_sansregular';
          font-size: 13px;
          color: #c7c7c7;
          text-align: left;
          margin-bottom: 35px; }
        .our_service .tab-content .t2 .text .text3 {
          display: block;
          font-family: 'droid_sansregular';
          font-size: 11px;
          color: #c7c7c7;
          text-align: left;
          margin-bottom: 12px; }
          .our_service .tab-content .t2 .text .text3 img {
            display: block;
            float: left;
            padding-right: 10px;
            width: 12px;
            height: 9px;
            margin: 0; }
      .our_service .tab-content .t2 img {
        display: block;
        float: left;
        margin-left: 30px;
        margin-top: 30px; }
    .our_service .tab-content .t3 {
      display: block;
      width: 100%;
      float: left; }
      .our_service .tab-content .t3 .image {
        width: 398px;
        height: 295px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px; }
        .our_service .tab-content .t3 .image img {
          width: 100%;
          height: 100%; }

footer {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 50px;
  background-color: #3a3d40;
  border-top: 5px solid #2f3235;
  position: relative;
  padding-top: 35px; }
  footer .top {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0; }
    footer .top .col_1 {
      display: block;
      float: left;
      overflow: hidden; }
      footer .top .col_1 h5 {
        display: block;
        text-transform: uppercase;
        color: #bfbfbf;
        font-weight: bold;
        font-family: 'allerregular'; }
      footer .top .col_1 ul {
        display: block;
        margin-top: 30px;
        width: 220px; }
        footer .top .col_1 ul li {
          display: block;
          float: left;
          width: 100%;
          margin-top: 18px; }
          footer .top .col_1 ul li:first-child {
            margin-top: 0; }
          footer .top .col_1 ul li p {
            display: block;
            font-size: 13px;
            color: #aeafaf;
            width: 100%;
            font-family: 'droid_sansregular';
            font-weight: bold; }
          footer .top .col_1 ul li .date {
            color: #606569;
            font-size: 11px;
            display: block;
            margin-top: 18px;
            font-family: 'droid_sansregular';
            font-weight: bold; }
        footer .top .col_1 ul .li_in_col_2 {
          display: block;
          position: relative; }
          footer .top .col_1 ul .li_in_col_2:before {
            display: inline-block;
            width: 100%;
            background-image: url("../images/icon_line.png");
            background-repeat: repeat-x;
            height: 3px;
            position: absolute;
            content: ''; }
          footer .top .col_1 ul .li_in_col_2:after {
            display: inline-block;
            width: 100%;
            background-image: url("../images/icon_line.png");
            background-repeat: repeat-x;
            height: 3px;
            position: absolute;
            content: ''; }
          footer .top .col_1 ul .li_in_col_2 p {
            display: block;
            font-size: 13px;
            color: #aeafaf;
            width: 100%;
            margin-top: 20px;
            font-family: 'droid_sansregular';
            font-weight: bold; }
          footer .top .col_1 ul .li_in_col_2 .date {
            color: #606569;
            font-size: 11px;
            display: block;
            margin-top: 18px;
            margin-bottom: 20px;
            font-family: 'droid_sansregular';
            font-weight: bold; }
    footer .top .col_2 {
      display: block;
      float: left;
      overflow: hidden;
      margin-left: 27px; }
      footer .top .col_2 h5 {
        display: block;
        text-transform: uppercase;
        color: #bfbfbf;
        font-weight: bold;
        font-family: 'allerregular'; }
      footer .top .col_2 ul {
        display: block;
        margin-top: 30px;
        width: 220px; }
        footer .top .col_2 ul li {
          display: block;
          margin-top: 20px; }
          footer .top .col_2 ul li:first-child {
            margin-top: 0; }
          footer .top .col_2 ul li p {
            display: block;
            font-size: 13px;
            color: #aeafaf;
            width: 100%;
            font-family: 'droid_sansregular';
            font-weight: bold; }
            footer .top .col_2 ul li p img {
              display: block;
              width: 16px;
              height: 12px;
              float: left;
              padding-right: 12px; }
            footer .top .col_2 ul li p a {
              font-size: 13px;
              color: #697e8d; }
        footer .top .col_2 ul .li_in_col_2 {
          display: block;
          position: relative;
          margin-top: 33px; }
          footer .top .col_2 ul .li_in_col_2:before {
            display: inline-block;
            width: 100%;
            background-image: url("../images/icon_line.png");
            background-repeat: repeat-x;
            height: 3px;
            position: absolute;
            content: ''; }
          footer .top .col_2 ul .li_in_col_2:after {
            display: inline-block;
            width: 100%;
            background-image: url("../images/icon_line.png");
            background-repeat: repeat-x;
            height: 3px;
            position: absolute;
            content: ''; }
          footer .top .col_2 ul .li_in_col_2 p {
            display: block;
            font-size: 13px;
            color: #aeafaf;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 21px;
            font-family: 'droid_sansregular';
            font-weight: bold; }
            footer .top .col_2 ul .li_in_col_2 p img {
              display: block;
              width: 16px;
              height: 12px;
              float: left;
              padding-right: 12px; }
            footer .top .col_2 ul .li_in_col_2 p a {
              font-size: 13px;
              color: #697e8d; }
    footer .top .col_3 {
      display: block;
      float: left;
      overflow: hidden;
      margin-left: 27px;
      width: 213px; }
      footer .top .col_3 h5 {
        display: block;
        text-transform: uppercase;
        color: #bfbfbf;
        font-weight: bold;
        font-family: 'allerregular'; }
      footer .top .col_3 p {
        display: block;
        font-size: 13px;
        margin-top: 30px;
        color: #aeafaf;
        font-family: 'droid_sansregular';
        font-weight: bold; }
    footer .top .col_4 {
      display: block;
      float: left;
      overflow: hidden;
      margin-left: 30px;
      width: 220px; }
      footer .top .col_4 h5 {
        display: block;
        text-transform: uppercase;
        color: #bfbfbf;
        font-weight: bold;
        font-family: 'allerregular'; }
      footer .top .col_4 .row_1 {
        display: block;
        width: 100%;
        height: 35px;
        margin-top: 30px;
        background-color: #282b2d;
        float: left; }
        footer .top .col_4 .row_1 .txt {
          display: block;
          width: 100%;
          height: 100%;
          background-color: #2d3032;
          border: none; }
      footer .top .col_4 .row_2 {
        display: block;
        width: 100%;
        height: 35px;
        margin-top: 10px;
        background-color: #282b2d;
        float: left; }
        footer .top .col_4 .row_2 .txt {
          display: block;
          width: 100%;
          height: 100%;
          background-color: #2d3032;
          border: none; }
      footer .top .col_4 .row_3 {
        display: block;
        width: 100%;
        height: 140px;
        margin-top: 10px;
        background-color: #2d3032;
        float: left; }
        footer .top .col_4 .row_3 textarea {
          display: block;
          width: 100%;
          height: 100%;
          background-color: #2d3032;
          border: none; }
      footer .top .col_4 .row_4 {
        display: block;
        width: 100%;
        margin-top: 10px;
        float: left; }
        footer .top .col_4 .row_4 .submit {
          width: 112px;
          height: 28px;
          text-align: center;
          font-size: 13px;
          color: white;
          display: block;
          border: none;
          border-radius: 3px;
          background-image: url("../images/gradient.png");
          background-repeat: repeat-x; }
  footer .bottom {
    height: 70px;
    display: block;
    overflow: hidden;
    margin-top: 40px;
    border-top: 1px solid #24272a;
    background-color: #2f3235;
    width: 100%; }
    footer .bottom .copy {
      float: left;
      line-height: 70px;
      color: #aeafaf;
      font-size: 13px;
      font-family: 'droid_sansregular';
      font-weight: bold; }
      footer .bottom .copy a {
        color: #86acc4; }
    footer .bottom .soc {
      float: right;
      margin: 22px 0 0 0; }
      footer .bottom .soc li {
        float: left;
        margin: 0 6px 0 0;
        width: 25px;
        height: 25px; }
        footer .bottom .soc li:last-child {
          margin: 0; }
        footer .bottom .soc li a {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0; }
          footer .bottom .soc li a img {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0; }
