.editable .user-info {
  display: none;
}
.btn {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}
.btn-edit {
  background: #fed136;
}
.btn-cancel {
  background: #7fd9c7;
}
.btn-delete {
  background: red;
}
