
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}

#wrapper {
	display:block;
		overflow:hidden;
			width:100%;
				height:100%;
					margin: 0 auto;
}
.layout {
	display: block;
		overflow: hidden;
			margin: 0 auto;
				width:960px;
					padding-top: 30px;
}
#header {
	margin:0 auto;
		position:relative;
			width:100%;
}
.logo {
	display: block;
		float: left;
			position: relative;
}
.logo img {
	width: 244px;
		height: 53px;
			overflow: hidden;
}
.logo_exit {
	display: block;
		float: right;
			width: 73px;
}
.logo_exit img {
	float: right;
}
p.exit {
	float: left;
		display: block;
			font-family: "daxlineoffcprobold",sans-serif;
				color: #d8d9db;
					font-size: 15px;
}
.ul {
	display: inline-block;
		position: relative;
			margin-left: 80px;
				margin-top: 27px;
}
ul {
	display: inline-block;
		overflow: hidden;
}
.ul ul li {
	float: left;
		padding-right: 30px;
			font-family: "daxlineoffcprobold",sans-serif;
				font-weight: bold;
					color: #d8d9db;
						font-size: 18px;
}
ul li.li_green {
	font-weight: bold;
		color: #d6e282;
			font-family: "daxlineoffcprobold",sans-serif;
}
.chek_shopping_lists {
	display: inline-block;
		margin-left: 80px;
			margin-top: 50px;

	}
.chek {
	display: block;
		float: left;
			width: 85px;
}
.chek img {
	display: block;
		padding: 0;
			float: left;
}
.green_chek {
	color: #6bf147;
		padding-left: 6px;
			padding-top: 8px;
				float: left;
					display: block;
						font-family: "daxlineoffcpro",sans-serif;
							font-size: 14px;
}
.number54 {
	color:#eea5a5;
		float: left;
			padding-left: 5px;
				padding-top: 8px;
					font-family: "daxlineoffcpro",sans-serif;
						font-size: 14px;
}
.shopping_lists {
	display: block;
		margin-left: 22px;
			float: left;
}
.shopping_lists img {
	float: left;
		padding: 0;
			display: block;
}
p.lists {
	display: block;
		float: left;
			padding-left: 5px;
				padding-top: 9px;
					color: #d7d8d9;
						font-family: "daxlineoffcpro",sans-serif;
							font-size: 14px;
}
.number3 {
	color:#eea5a5;
		float: left;
			padding-left: 4px;
				padding-top: 9px;
					display: block;
						font-family: "daxlineoffcpro",sans-serif;
							font-size: 14px;
}
#main {
	display:block;
		position: relative;
			z-index: 0;
				margin-top: 55px;
					width: 100%;
}
.layout2 {
	display: block;
		margin: 0 auto;
			width: 1000px;
				background-color: #f2f3f5;
}
.table1 {
	width: 960px;
		overflow: hidden;
			margin: 0 auto;
}
tr.first {
	border-collapse: collapse;
}
td.date_td {
	width: 230px;
		color: black;
			font-size: 14px;
				font-family: "Tahoma Regular", sans-serif;
					padding-top: 30px;
						padding-bottom: 30px;
}
td.number_td {
	color:black;
		font-size: 14px;
			padding-left: 47px;
				width: 75px;
					font-family: "Tahoma Regular", sans-serif;
						text-align: center;
}
td.position_td {
	color:black;
		font-size: 14px;
			padding-left: 57px;
				width: 99px;
					font-family: "Tahoma Regular", sans-serif;
						padding-top: 30px;
							padding-bottom: 30px;
								text-align: center;
}
td.paid_for_td {
	color:black;
		font-size: 14px;
			padding-left: 47px;
				width: 65px;
						font-family: "Tahoma Regular", sans-serif;
							padding-top: 30px;
								padding-bottom: 30px;
									text-align: center;
}
td.sale_td {
	text-align: center;
		color:black;
			font-size: 14px;
				padding-left: 52px;
					width: 99px;
						font-family: "Tahoma Regular", sans-serif;
							padding-top: 30px;
								padding-bottom: 30px;
}
td.service_td {
	text-align: center;
		color:black;
			font-size: 14px;
				width: 168px;
					padding-left: 24px;
						font-family: "Tahoma Regular", sans-serif;
							padding-top: 30px;
								padding-bottom: 30px;
}
.img_tooltip {
	width: 100%;
	 height: 100%;
		 cursor: pointer;
}
.img_tooltip img {
	width: 5px;
		height: 13px;
}
.img_tooltip:hover::after {
  content: attr(data-title);
    position: absolute;
    	z-index: 1;
    		text-align: center;
    			font-family: "daxlineoffcpro",sans-serif;
    				font-size: 13px;
    					padding: 0 auto;
								display: block;
									width: 115px;
										height: 205px;
											right: 15%;
												top: 15%;
													background-color: white;
														box-shadow: 3px;

}
.table2 {
	width: 1000px;
		overflow: hidden;
			margin: 0 auto;
				position: relative;
}
.table2 tr {
	border-bottom: 1px solid lightgrey;
}
td.td_data {
	width: 230px;
		padding: 16px 0px 17px 20px;
			color: grey;
}
p.data {
	color: black;
		font-family: "Tahoma Regular", sans-serif;
			font-size: 14px;
				display: inline-block;
					text-align: left;
}
p {
	color: grey;
		font-family: "Tahoma Regular", sans-serif;
			font-size: 14px;
				display: inline-block;
					text-align: left;
}
.number {
	text-align: center;
		color: black;
			width: 75px;
				padding-left: 47px;
					font-size: 14px;
						font-family: "Tahoma Regular", sans-serif;
							display: inline-block;
}
.position {
	text-align: center;
		color: black;
			padding-left: 57px;
				font-size: 14px;
					width: 99px;
						font-family: "Tahoma Regular", sans-serif;
							display: inline-block;
}
.paid_for {
	text-align: center;
		color: black;
			padding-left: 47px;
				font-size: 14px;
					width: 65px;
						font-family: "Tahoma Regular", sans-serif;
							font-weight: 700;
								display: inline-block;
}
.sale {
	text-align: center;
		color: black;
			padding-left: 52px;
				font-size: 14px;
					width: 99px;
						font-family: "Tahoma Regular", sans-serif;
							display: inline-block;
}
.service {
	text-align: center;
		color: black;
			padding-left: 24px;
				font-size: 14px;
					width: 161px;
						font-family: "Tahoma Regular", sans-serif;
							display: inline-block;
}
.star {
	display: inline-block;
		width: 17px;
			height: 16px;
				background-image: url("../images/star-1.png");
}
.star:hover {
	background-image: url("../images/star-active.png");
		cursor: pointer;
}
.cheks_20 {
	display: block;
		margin-top: 75px;
			margin-right: auto;
				margin-left: auto;
					width: 220px;
						height: 45px;
							border-color: #d8ee49;
									border-width: 2px;
										border-style: solid;

}
p.show_20_cheks {
	color: #d8ee49;
		font-family: "daxlineoffcpro",sans-serif;
			font-size: 16px;
				font-weight: bold;
					display: block;
						text-align: center;
							line-height: 45px;

}
#footer {
	display:block;
		overflow:hidden;
			width: 1000px;
				margin:84px auto 0 auto;
					border-top: 1px solid lightgrey;
}
.layout3 {
	width: 960px;
		display: block;
			overflow: hidden;
				padding-top: 20px;
					margin: 0 auto;
}
.logo_all_small {
	display: block;
		width: 185px;
			float: left;
}
.logo_all_small ul{
	display: block;
		width: 100%;
			height: 100%;
}
.logo_all_small ul li {
	width: 65px;
		height: 25px;
			float: left;
				display: block;
}
.logo_all_small ul li:nth-child(1) {
	padding-right: 28px;
}
.logo_all_small ul li:nth-child(2) {
	float: left;
}
.logo_all_small ul li:nth-child(3) {
	padding-top: 30px;
		padding-right: 28px;
}
.logo_all_small ul li:nth-child(4) {
	padding-top: 30px;
}
.about_company {
	display: block;
		float: left;
			width: 72px;
				margin-left: 64px;
}
ul.about_company {
	display: block;
}
li.footer_li {
	color: #bcbdbf;
		padding-bottom: 13px;
			font-family: "Tahoma Regular",sans-serif;
				font-size: 13px;
					font-weight: bold;
}
.program_loyalty {
	display: block;
		width: 143px;
			margin-left: 53px;
				float: left;
}
.map {
	display: block;
		margin-left: 41px;
			float: left;
				padding-top: 80px;
}
p.footer_p {
	color: #bcbdbf;
		font-family: "Tahoma Regular",sans-serif;
			font-size: 13px;
				font-weight: bold;
}
.search {
	display: block;
		background: #f2f3f4;
			width: 143px;
				padding: 5px 6px;
					float: left;
						margin-left: 44px;
}
.search_p {
	display: block;
		color:#bcbdbf;
			font-size: 14px;
				width: 38px;
					float: left;
						line-height: 18px;
							font-family: "Tahoma Regular", sans-serif;
}
.magnifier {
	display: block;
		width: 16px;
			height: 18px;
				float: left;
					margin-left: 80px;
						background-image: url(../images/logo_find.png);
}
.social {
	display: block;
		overflow: hidden;
			margin-left: 30px;
}
.social ul {
	display: block;
		width: 100%;
			height: 100%;
}
	.social li {
		display: block;
			width: 23px;
				height: 23px;
					float: left;
}
.social li:nth-child(1) {
	padding: 0;
}
.social li:nth-child(2),
.social li:nth-child(3),
.social li:nth-child(4) {
	padding-left: 11px;
}
