#sidebar{
  float: left;
  background: #f0d5c3;
  width: 210px;
  margin: 6px 0 0 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -icab-border-radius: 8px;
  -khtml-border-radius: 8px;
  overflow: hidden;
  ul{
    display: block;
    h4{
      font-size: 16px;
      color: #fff;
    }
    li{
      padding: 10px 0 10px 10px;
      &:not(:last-child){
        .line{
          background: #c8aa95;
          width: 188px;
          height: 1px;
          position: absolute;
          bottom: -11px;
          left: -1px;
        }
      }
    }
    li:first-child{
      background: #be0028;
    }
    .top{
      position: relative;
      display: block;
      background: #f0d5c3;
      &.active{
        background: #a4785a;
        .line{
          display: none;
        }
      }
      a:first-child{
        z-index: 4;
        position: relative;
        width: 210px;
        height: 19px;
        background: #f0d5c3;
        font-size: 12px;
        color: #502b0b;
        text-decoration: underline;
        padding-left: 22px;
        &.active{
          background: #a4785a;
          color: #fff;
          text-decoration: none;
          &:before{
            background: #fff;
          }
          &:after{
            background: #fff;
          }
        }
        &:before{
          content:"";
          width: 2px;
          height: 5px;
          background: #bf052c;
          position: absolute;
          left: 8px;
          top: 3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -icab-transform: rotate(-45deg);
          -khtml-transform: rotate(-45deg);
        }
        &:after{
          content:"";
          width: 2px;
          height: 5px;
          background: #bf052c;
          position: absolute;
          left: 8px;
          top: 6px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -icab-transform: rotate(45deg);
          -khtml-transform: rotate(45deg);
        }
      }
      .inside{
        display: block;
        margin: -18px 0 0 0;
        position: relative;
        font-size: 11px;
        padding: 0 0 0 38px;
        text-decoration: underline;
        color: #fff;
        display: none;
        &.active{
          background: #a4785a;
          margin: 0;
          color: #fff;
          width: auto;
          display: block;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
