.picture{
  .main{
    float: left;
    &.little{
    width: 536px;
    height: 332px;
    }
  }
  .picture-right{
    float: right;
    width: 196px;
    img{
      float: left;
    }
    .box{
      display: block;
      width: 83px !important;
      margin: 5px 0 19px 52px;
    }
    .pp-price{
      font-weight: 700;
      margin: 0 0 0 0;
      padding: 20px 0 0 0;
      .bold{
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 0 20px;
      }
    }
    .right{
      text-align: right;
      float: right!important;
      width: 56px!important;
      margin: 20px 44px 40px 0!important;
      cursor: pointer;
    }
    .right-img{
      position: absolute;
      right: 0;
      top: 244px;
    }
  }
  .tabs{
    float: right;
    #menu-tabs{
      display: block;
      width: 146px;
      margin: 0;
      li{
        cursor: pointer;
      }
    }
  }
}
.tabsearch{
  margin: 0!important;
  float: right;
  li{
    text-decoration: underline;
    margin: 0 10px 0 0;
    font-size: 12px;
    color: #502b0b;
    cursor: pointer;
    &.active{
      text-decoration: none;
      color: #333333;
    }
  }
}
