.under-header{
  display: block;
  height: 120px;
  border: 1px solid #c8ae9c;
  border-top: none;
  background: #ffffff;
  padding: 8px 8px 8px 6px;
  border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  -khtml-border-radius: 0 0 9px 9px;
  -icab-border-radius: 0 0 9px 9px;
  .logo{
    width: 210px;
    height: 120px;
    float: left;
  }
  .center{
    display:inline-block;
    width: 380px;
    margin: 0 0 0 32px;
    position: relative;
    p{
      width: 50%;
      display: inline-block;
      &:first-child{
        line-height: 32px;
        color: #333333;
        font-size: 12px;
      }
      &:nth-child(2){
        font-size: 12px;
        line-height: 40px;
        color: #666666;
        .big{
          color: #be0028;
          font-size: 24px;
          margin: 0 0 0 6px;
        }
        &:after{
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #dccbbf;
          margin: 0 0 5px 0;
        }
      }
      &:nth-child(3), &:nth-child(4){
        font-size: 12px;
        color: #666666;
      }
      &:nth-child(4){
        width: 60%;
      }
      &:nth-child(5){
        position: absolute;
        top: 10px;
        right: 44px;
        width: 40px;
        color: #333333;
        font-size: 12px;
      }
      &:nth-child(6){
        position: absolute;
        top: 33px;
        right: 44px;
        width: 40px;
        color: #be0028;
        font-size: 12px;
      }
    }
  }
  .box{
    float: right;
    width: 206px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -khtml-border-radius: 7px;
    -icab-border-radius: 7px;
    overflow: hidden;
    .top{
      background: #be0028;
      height: 32px;
    p{
      float: left;
      font-size: 16px;
      color: #ffffff;
      line-height: 32px;
      margin: 0 0 0 6px;
      }
      img{
        float: right;
        margin: 8px 14px 0 0;
      }
    }
    .bot{
      height: 89px;
      background: #a1704d;
      p{
        color: #ffffff;
        font-size: 12px;
        &:first-child{
          display: inline-block;
          margin: 20px 30px 0 11px;
        }
        &:nth-child(2){
          float: right;
          margin: 20px 16px 0 0;
        }
        &:nth-child(3){
          display: inline-block;
          margin: 8px 0 0 11px;
        }
        &:last-child{
          float: right;
          margin: 8px 16px 0 0;
        }
        a{
          color: #f0d5c3;
          text-decoration: underline;
        }
      }
    }
  }
}
