.wrapper{
  height: 100%;
  width: 100%;
  background: #fff;

  .layout{
    width: 984px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
		@include breakpoint(tablet) {
			width: 50%;
		}
  }
}
