/* SCSS Compiled */
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.layout {
  margin: 0 auto;
  position: relative;
  width: 978px; }

/****************************************************************              PC              ***************************************************/
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
  .layout {
    margin: 0 auto;
    position: relative;
    width: 768px; } }

/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width: 767px) {
  .layout {
    width: 100%;
    padding: 0; } }

/* Brand Colors ------------------------------------------------*/
.jurnal_main_content {
  display: block;
  overflow: hidden; }
  .jurnal_main_content .fotoColi {
    margin: 26px 0 0 28px; }
  .jurnal_main_content .vestibulum p {
    color: #f2f2f2;
    font-size: 14px;
    margin: 28px 0 0 28px;
    width: 639px; }
  .jurnal_main_content ul {
    margin: 26px 0 0 29px; }
  .jurnal_main_content li {
    float: left; }
  .jurnal_main_content li:nth-child(2) {
    margin-left: 21px; }
  .jurnal_main_content li:nth-child(3) {
    margin-left: 17px; }
  .jurnal_main_content li:last-child {
    margin-left: 18px; }
  .jurnal_main_content p {
    font-size: 14px;
    color: #848484; }
    .jurnal_main_content p img {
      margin-right: 7px; }
    .jurnal_main_content p a {
      color: #f39c12; }
  .jurnal_main_content .border {
    width: 623px;
    height: 1px;
    background-color: #505050;
    margin: 73px 0 0 27px; }

.jurnal_main_content2 {
  display: block;
  overflow: hidden; }
  .jurnal_main_content2 .fotoColi {
    margin: 26px 0 0 28px; }
  .jurnal_main_content2 .vestibulum p {
    color: #f2f2f2;
    font-size: 14px;
    margin: 28px 0 0 28px;
    width: 639px; }
  .jurnal_main_content2 ul {
    margin: 26px 0 0 29px; }
  .jurnal_main_content2 li {
    float: left; }
  .jurnal_main_content2 li:nth-child(2) {
    margin-left: 21px; }
  .jurnal_main_content2 li:nth-child(3) {
    margin-left: 17px; }
  .jurnal_main_content2 li:last-child {
    margin-left: 18px; }
  .jurnal_main_content2 p {
    font-size: 14px;
    color: #848484; }
    .jurnal_main_content2 p img {
      margin-right: 7px; }
    .jurnal_main_content2 p a {
      color: #f39c12; }
  .jurnal_main_content2 .border {
    width: 623px;
    height: 1px;
    background-color: #505050; }

.jurnal_main_content3 {
  display: block;
  overflow: hidden; }
  .jurnal_main_content3 .foto3 {
    margin: 26px 0 0 28px; }
  .jurnal_main_content3 .vestibulum3 p {
    color: #f2f2f2;
    font-size: 14px;
    margin: 28px 0 0 28px;
    width: 639px; }
  .jurnal_main_content3 ul {
    margin: 26px 0 0 29px; }
  .jurnal_main_content3 li {
    float: left; }
  .jurnal_main_content3 li:nth-child(2) {
    margin-left: 21px; }
  .jurnal_main_content3 li:nth-child(3) {
    margin-left: 17px; }
  .jurnal_main_content3 li:last-child {
    margin-left: 18px; }
  .jurnal_main_content3 p {
    font-size: 14px;
    color: #848484; }
    .jurnal_main_content3 p img {
      margin-right: 7px; }
    .jurnal_main_content3 p a {
      color: #f39c12; }
  .jurnal_main_content3 .border {
    width: 623px;
    height: 1px;
    background-color: #505050; }

.jurnal_main_footer {
  display: block;
  overflow: hidden; }
  .jurnal_main_footer .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .jurnal_main_footer .row-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #202020;
    width: 30px;
    height: 30px;
    margin: 50px 5px 20px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .jurnal_main_footer .row-item a {
      color: #f2f2f2; }
  .jurnal_main_footer li:hover {
    background-color: #161616; }
    .jurnal_main_footer li:hover a:hover {
      color: #f39c12; }
  .jurnal_main_footer li:first-child {
    margin-left: 30px; }
  .jurnal_main_footer li:last-child {
    width: 60px; }

.jurnal_main_head {
  display: block;
  overflow: hidden;
  width: 77%; }
  .jurnal_main_head h1 {
    font-size: 49px;
    color: #f39c12;
    font-family: Myriad Pro Regular;
    margin: 53px 0 0 31px;
    text-transform: uppercase; }
  .jurnal_main_head h2 {
    font-size: 36px;
    color: #f2f2f2;
    font-family: Myriad Pro Regular;
    margin: 18px 0 0 31px;
    text-transform: uppercase; }
  .jurnal_main_head h3 {
    font-size: 21px;
    font-family: OpenSans Bold;
    color: #f39c12;
    margin: 44px 0 0 30px;
    font-weight: 700; }

.biograhy {
  width: 601px;
  display: block;
  overflow: hidden; }
  .biograhy img {
    float: left;
    margin-top: 38px;
    margin-left: 31px; }
  .biograhy .paragraf1 p {
    margin-top: 43px;
    margin-left: 249px;
    color: #a9a9a9;
    font-size: 14px;
    font-family: Myriad Pro Regular;
    width: 310px; }
  .biograhy paragraf2 {
    margin-top: 40px;
    margin-left: 249px;
    color: #cd8519;
    font-size: 14px;
    font-family: Myriad Pro Regular;
    width: 310px;
    text-transform: uppercase; }
  .biograhy .paragraf3 {
    margin-top: 18px;
    margin-left: 249px;
    color: #f2f2f2;
    font-size: 14px;
    font-family: Myriad Pro Regular;
    width: 310px; }
  .biograhy .paragraf4 {
    margin-top: 11px;
    margin-left: 249px;
    color: #a9a9a9;
    font-size: 14px;
    font-family: Myriad Pro Regular;
    width: 310px; }

#content {
  background-image: url("../images/point.png");
  float: right;
  display: block;
  overflow: hidden;
  width: 77%;
  background-color: #2a2a2a; }
  #content h1 {
    font-size: 49px;
    color: #f39c12;
    font-family: Myriad Pro Regular;
    margin-top: 52px;
    margin-left: 31px; }
  #content h2 {
    font-size: 35px;
    font-family: Myriad Pro Regular;
    color: #f5f5f5;
    margin-top: 18px;
    margin-left: 31px; }

.end {
  display: block;
  overflow: hidden; }
  .end p {
    font-size: 12px;
    font-family: Myriad Pro Regular;
    margin: 36px 0 20px 0px;
    color: #a8a8a8;
    width: 178px; }

.head_contact {
  display: block;
  overflow: hidden; }
  .head_contact h1 {
    font-size: 49px;
    color: #f39c12;
    font-weight: 600;
    margin: 53px 0 0 31px;
    text-transform: uppercase;
    height: 43px; }
  .head_contact h2 {
    font-size: 36px;
    color: #f2f2f2;
    font-family: Myriad Pro Regular;
    margin: 11px 0 0 33px;
    text-transform: uppercase;
    height: 31px; }
  .head_contact p {
    font-size: 14px;
    color: #f2f2f2;
    margin: 34px 0 36px 31px;
    width: 602px; }

.height {
  height: 100%; }

.layout {
  margin: 0 auto;
  position: relative;
  width: 978px; }

#main {
  height: 100%;
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.manyFoto {
  overflow: hidden;
  width: 77%;
  background-color: #2a2a2a;
  margin: 50px 0 335px 30px; }

.menu {
  display: block;
  overflow: hidden; }
  .menu ul {
    display: block;
    overflow: hidden; }
    .menu ul li {
      margin-bottom: 6px; }
      .menu ul li a {
        color: #fff;
        font-size: 15,44px;
        text-transform: uppercase; }
      .menu ul li a:hover {
        color: #f39c12; }
      .menu ul li a:active {
        color: #f39c12; }
    .menu ul li:nth-child(5) {
      margin-top: 25px; }
    .menu ul li:nth-child(6) {
      margin-bottom: 25px; }
    .menu ul li:nth-child(7) {
      margin-bottom: 0px; }

.send_message li {
  display: block;
  overflow: hidden;
  margin: 14px 0 0 30px; }

.send_message li:first-child {
  margin: 0 0 0 30px; }
  .send_message li:first-child input {
    width: 308px;
    height: 36px;
    background-color: #202020;
    font-size: 14px;
    border: none;
    color: #848484;
    padding-left: 36px;
    padding-right: 36px; }
  .send_message li:first-child textarea {
    width: 380px;
    height: 167px;
    background-color: #202020;
    border: none;
    color: #848484; }
  .send_message li:first-child button {
    border: none;
    width: 128px;
    height: 42px;
    background-color: #f39c12;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer; }

#sidebar {
  padding-left: 28px;
  width: 23%;
  background-color: #202020; }
  #sidebar .head {
    display: block;
    overflow: hidden; }
    #sidebar .head img {
      margin: 41px 0 0 0px; }
    #sidebar .head p {
      font-size: 12px;
      color: #f2f2f2;
      font-family: Myriad Pro Regular;
      margin-top: 11px;
      margin-bottom: 43px; }

.single_comments {
  display: block;
  overflow: hidden; }
  .single_comments h3 {
    font-size: 21px;
    color: #f39c12;
    text-transform: uppercase;
    margin: 55px 0 34px 29px; }
  .single_comments .firstComments {
    display: block;
    overflow: hidden;
    width: 645px; }
    .single_comments .firstComments img {
      float: left;
      margin: 0 21px 74px 30px; }
    .single_comments .firstComments h6 {
      font-size: 14px;
      color: #f2f2f2; }
      .single_comments .firstComments h6 a {
        color: #f39c12; }
    .single_comments .firstComments p {
      color: #f2f2f2;
      margin-top: 9px; }
  .single_comments .secondComments {
    display: block;
    overflow: hidden;
    width: 645px; }
    .single_comments .secondComments img {
      float: left;
      margin: 0 21px 25px 30px; }
    .single_comments .secondComments h6 {
      font-size: 14px;
      color: #f2f2f2; }
      .single_comments .secondComments h6 a {
        color: #f39c12; }
    .single_comments .secondComments p {
      color: #f2f2f2;
      margin-top: 9px; }

.single_head {
  display: block;
  overflow: hidden;
  width: 77%; }
  .single_head h1 {
    font-size: 49px;
    color: #f39c12;
    font-family: Myriad Pro Regular;
    margin: 53px 0 0 31px;
    text-transform: uppercase; }
  .single_head h2 {
    font-size: 36px;
    color: #f2f2f2;
    font-family: Myriad Pro Regular;
    margin: 18px 0 0 31px;
    text-transform: uppercase; }
  .single_head h3 {
    font-size: 21px;
    font-family: OpenSans Bold;
    color: #f39c12;
    margin: 44px 0 0 30px;
    font-weight: 700; }

.single_text {
  display: block;
  overflow: hidden; }
  .single_text ul {
    display: block;
    overflow: hidden; }
  .single_text li {
    display: block;
    overflow: hidden;
    width: 618px;
    margin: 0px 0 0 27px; }
  .single_text li:first-child {
    margin-top: 29px;
    margin-bottom: 30px;
    color: #f2f2f2; }
  .single_text li:nth-child(2) {
    color: #fff; }
  .single_text li:nth-child(3) {
    margin: 54px 0 14px 47px;
    text-transform: uppercase;
    color: #f39c12;
    font-size: 16px;
    width: 553px; }
  .single_text li:last-child {
    color: #f2f2f2;
    margin-top: 16px; }
    .single_text li:last-child p {
      font-size: 14px; }
  .single_text .border {
    width: 623px;
    height: 1px;
    background-color: #505050;
    margin: 73px 0 0 27px; }

.social {
  display: block;
  overflow: hidden; }
  .social p {
    color: #fff;
    font-size: 15,14px;
    margin: 40px 0 0 0px; }
  .social ul {
    display: inline-block;
    overflow: hidden; }
  .social li {
    float: left;
    margin: 15px 12px 0 0px; }

.statistic {
  display: block;
  overflow: hidden; }
  .statistic h3 {
    font-size: 21px;
    text-transform: uppercase;
    font-family: Myriad Pro Regular;
    margin-top: 41px;
    margin-left: 31px;
    color: #f2f2f2; }
  .statistic .row {
    display: block;
    overflow: hidden;
    width: 90%; }
  .statistic .row1 {
    width: 441px;
    height: 44px;
    margin-top: 25px;
    margin-left: 31px;
    margin-bottom: 18px;
    background-color: #f39c12;
    border-radius: 6px;
    z-index: 10;
    position: relative;
    float: left; }
    .statistic .row1 p {
      float: left;
      line-height: 44px;
      font-size: 14px;
      margin-left: 16px; }
    .statistic .row1 .row11 {
      z-index: 20;
      position: absolute;
      width: 140px;
      height: 44px;
      background-color: #202020;
      border-radius: 6px;
      margin-left: 431px; }
      .statistic .row1 .row11 p {
        float: left;
        line-height: 44px;
        font-size: 14px;
        margin-left: 91px;
        color: #f2f2f2; }
  .statistic .row2 {
    width: 491px;
    height: 44px;
    margin-top: 25px;
    margin-left: 31px;
    margin-bottom: 18px;
    background-color: #f39c12;
    border-radius: 6px;
    z-index: 10;
    position: relative;
    float: left; }
    .statistic .row2 p {
      float: left;
      line-height: 44px;
      font-size: 14px;
      margin-left: 16px; }
    .statistic .row2 .row22 {
      z-index: 30;
      position: absolute;
      width: 90px;
      height: 44px;
      background-color: #202020;
      border-radius: 6px;
      margin-left: 481px; }
      .statistic .row2 .row22 p {
        float: left;
        line-height: 44px;
        font-size: 14px;
        margin-left: 41px;
        color: #f2f2f2; }
  .statistic .row3 {
    width: 351px;
    height: 44px;
    margin-top: 25px;
    margin-left: 31px;
    margin-bottom: 18px;
    background-color: #f39c12;
    border-radius: 6px;
    z-index: 10;
    position: relative;
    float: left; }
    .statistic .row3 p {
      float: left;
      line-height: 44px;
      font-size: 14px;
      margin-left: 16px; }
    .statistic .row3 .row33 {
      z-index: 20;
      position: absolute;
      width: 230px;
      height: 44px;
      background-color: #202020;
      border-radius: 6px;
      margin-left: 341px p;
        margin-left-float: left;
        margin-left-line-height: 44px;
        margin-left-font-size: 14px;
        margin-left-margin-left: 91px;
        margin-left-color: #f2f2f2; }

.text {
  display: block;
  overflow: hidden;
  width: 200px; }
  .text p {
    color: #a9a9a9;
    margin-top: 11px;
    font-size: 12px;
    font-family: Myriad Pro Regular; }
    .text p a {
      color: #888888; }

.twitter {
  display: block;
  overflow: hidden; }
  .twitter img {
    display: block;
    overflow: hidden;
    margin-top: 30px;
    float: left; }
  .twitter p {
    font-size: 15,14px;
    margin-top: 30px;
    color: #fff;
    margin-left: 52px;
    text-transform: uppercase;
    font-family: Myriad Pro Regular; }

#wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }
