html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

ol {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.layout {
  margin: 0 auto;
  position: relative;
  width: 978px; }

#footer {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 0 0;
  padding: 0 0; }

#main {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: 0; }

#header {
  width: 100%;
  display: block;
  position: relative; }

/****************************************************************              PC              ***************************************************/
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
  .layout {
    margin: 0 auto;
    position: relative;
    width: 768px; } }

/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 300px) and (max-width: 768px) {
  .layout {
    width: 100%;
    padding: 0; } }

/*width-desktop-medium*/
/*width-desktop-medium*/
/*width- desktop-small*/
/*width-tablet*/
/*width-tablet*/
/*width-mobile*/
.wrapper * {
  font-family: 'Tahoma', sans-serif; }

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

#header {
  display: block;
  width: 100%;
  height: 32px;
  background: #a4785a;
  border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
  -khtml-border-radius: 9px 9px 0 0;
  -icab-border-radius: 9px 9px 0 0;
  margin: 7px 0 0 0;
  overflow: hidden; }
  #header .left {
    height: 100%;
    float: left;
    margin: 0 0 0 18px; }
    #header .left li {
      float: left;
      margin: 0 5px 0 0;
      color: #ffffff; }
      #header .left li p {
        line-height: 30px; }
      #header .left li a {
        color: #ffffff;
        text-decoration: underline;
        line-height: 32px; }
  #header #nav {
    height: 100%;
    float: right; }
    #header #nav li {
      float: right;
      padding: 0 16px;
      cursor: pointer; }
      #header #nav li:hover {
        background: #f0d5c3; }
        #header #nav li:hover a {
          color: #502b0b; }
      #header #nav li a {
        line-height: 32px;
        color: #ffffff; }
    #header #nav li:not(:last-child) {
      border-left: 1px solid #b59179; }
    #header #nav li:not(:first-child) {
      border-right: 1px solid #98755c; }
      #header #nav li:not(:first-child):hover {
        border-right: 1px solid #f0d5c3; }

.under-header {
  display: block;
  height: 120px;
  border: 1px solid #c8ae9c;
  border-top: none;
  background: #ffffff;
  padding: 8px 8px 8px 6px;
  border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  -khtml-border-radius: 0 0 9px 9px;
  -icab-border-radius: 0 0 9px 9px; }
  .under-header .logo {
    width: 210px;
    height: 120px;
    float: left; }
  .under-header .center {
    display: inline-block;
    width: 380px;
    margin: 0 0 0 32px;
    position: relative; }
    .under-header .center p {
      width: 50%;
      display: inline-block; }
      .under-header .center p:first-child {
        line-height: 32px;
        color: #333333;
        font-size: 12px; }
      .under-header .center p:nth-child(2) {
        font-size: 12px;
        line-height: 40px;
        color: #666666; }
        .under-header .center p:nth-child(2) .big {
          color: #be0028;
          font-size: 24px;
          margin: 0 0 0 6px; }
        .under-header .center p:nth-child(2):after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background: #dccbbf;
          margin: 0 0 5px 0; }
      .under-header .center p:nth-child(3), .under-header .center p:nth-child(4) {
        font-size: 12px;
        color: #666666; }
      .under-header .center p:nth-child(4) {
        width: 60%; }
      .under-header .center p:nth-child(5) {
        position: absolute;
        top: 10px;
        right: 44px;
        width: 40px;
        color: #333333;
        font-size: 12px; }
      .under-header .center p:nth-child(6) {
        position: absolute;
        top: 33px;
        right: 44px;
        width: 40px;
        color: #be0028;
        font-size: 12px; }
  .under-header .box {
    float: right;
    width: 206px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -khtml-border-radius: 7px;
    -icab-border-radius: 7px;
    overflow: hidden; }
    .under-header .box .top {
      background: #be0028;
      height: 32px; }
      .under-header .box .top p {
        float: left;
        font-size: 16px;
        color: #ffffff;
        line-height: 32px;
        margin: 0 0 0 6px; }
      .under-header .box .top img {
        float: right;
        margin: 8px 14px 0 0; }
    .under-header .box .bot {
      height: 89px;
      background: #a1704d; }
      .under-header .box .bot p {
        color: #ffffff;
        font-size: 12px; }
        .under-header .box .bot p:first-child {
          display: inline-block;
          margin: 20px 30px 0 11px; }
        .under-header .box .bot p:nth-child(2) {
          float: right;
          margin: 20px 16px 0 0; }
        .under-header .box .bot p:nth-child(3) {
          display: inline-block;
          margin: 8px 0 0 11px; }
        .under-header .box .bot p:last-child {
          float: right;
          margin: 8px 16px 0 0; }
        .under-header .box .bot p a {
          color: #f0d5c3;
          text-decoration: underline; }

.slider .bx-wrapper {
  width: 747px;
  height: 168px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -icab-box-shadow: none;
  -khtml-box-shadow: none;
  border: none;
  margin-bottom: 0; }
  .slider .bx-wrapper .bx-loading {
    display: none; }
  .slider .bx-wrapper .bx-pager-item {
    width: 22px; }
  .slider .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -icab-border-radius: 10px;
    -khtml-border-radius: 10px;
    float: right;
    width: 747px; }
  .slider .bx-wrapper .bx-pager, .slider .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: none;
    top: 0;
    right: 16px;
    width: 90px; }
  .slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #ceae8e;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -icab-border-radius: 50%;
    -khtml-border-radius: 50%; }
  .slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #be0028; }

.slider .text {
  width: 100%;
  height: 48px;
  opacity: 0.9;
  position: absolute;
  background: #bd0b2c;
  bottom: 0;
  left: 0; }
  .slider .text p {
    margin: 6px 0 0 20px;
    color: #ffffff;
    font-size: 14px; }

#content {
  width: 747px;
  float: right;
  margin: 8px 0 0 0; }
  #content.small {
    display: inline-block;
    float: none;
    margin-left: 17px; }
    #content.small .table {
      width: 496px; }
      #content.small .table ul li:nth-child(2n) .image {
        margin-right: 0; }
      #content.small .table ul li:nth-child(3) {
        margin: 0 22px 0 0; }
      #content.small .table ul li:nth-child(9) {
        margin: 0 22px 0 0; }
  #content .p2w {
    float: left;
    margin: 21px 0 31px 18px;
    line-height: 16px; }
  #content .table {
    display: block;
    width: 747px; }
    #content .table .back {
      text-decoration: underline;
      color: #bd0027;
      font-size: 12px;
      float: left;
      margin: 1px 28px 0 0; }
    #content .table .black {
      color: #333333;
      font-size: 14px; }
    #content .table h4 {
      margin: 20px 0 12px 16px;
      font-size: 24px;
      color: #be0028;
      width: 40%;
      display: block; }
      #content .table h4.left-1 {
        float: left; }
    #content .table p {
      color: #333333;
      font-size: 12px;
      width: 96%; }
      #content .table p.first {
        margin: 7px 0 0 0; }
    #content .table .p-map {
      color: #502b0b;
      font-size: 12px;
      float: left;
      width: 30%;
      margin: 31px 0 0 36px;
      text-decoration: underline;
      position: relative;
      cursor: pointer; }
      #content .table .p-map.w {
        width: 106px;
        margin: 0 0 6px 0; }
        #content .table .p-map.w:after {
          left: 103%; }
        #content .table .p-map.w:before {
          left: 103%; }
      #content .table .p-map.w2 {
        width: 96px;
        margin: 0 0 0 0; }
        #content .table .p-map.w2:after {
          left: 103%; }
        #content .table .p-map.w2:before {
          left: 103%; }
      #content .table .p-map:hover {
        text-decoration: none; }
      #content .table .p-map:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 5px;
        background: #502b0b;
        right: 46px;
        bottom: 4px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      #content .table .p-map:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 5px;
        background: #502b0b;
        right: 46px;
        bottom: 2px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    #content .table ul {
      display: block;
      margin: 20px 0 0 0; }
      #content .table ul li {
        float: left; }
        #content .table ul li:nth-child(3n) .image {
          margin-right: 0; }
        #content .table ul li .image, #content .table ul li .image-1 {
          float: left;
          position: relative;
          border: 0 solid #be0028;
          width: 232px;
          height: 138px;
          margin: 0 22px 22px 0;
          cursor: pointer; }
          #content .table ul li .image:not(.image-1):after, #content .table ul li .image-1:not(.image-1):after {
            content: "";
            height: 9px;
            width: 3px;
            background: #fff;
            position: absolute;
            right: 11px;
            bottom: 10px;
            z-index: 3;
            -webkit-z-index: 3;
            -moz-z-index: 3;
            -ms-z-index: 3;
            -o-z-index: 3;
            -icab-z-index: 3;
            -khtml-z-index: 3;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -icab-transform: rotate(-45deg);
            -khtml-transform: rotate(-45deg); }
          #content .table ul li .image:not(.image-1):before, #content .table ul li .image-1:not(.image-1):before {
            content: "";
            height: 9px;
            width: 3px;
            background: #fff;
            position: absolute;
            right: 11px;
            bottom: 6px;
            z-index: 3;
            -webkit-z-index: 3;
            -moz-z-index: 3;
            -ms-z-index: 3;
            -o-z-index: 3;
            -icab-z-index: 3;
            -khtml-z-index: 3;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -icab-transform: rotate(45deg);
            -khtml-transform: rotate(45deg); }
          #content .table ul li .image.active, #content .table ul li .image-1.active {
            border: 3px solid #be0028;
            width: 226px;
            height: 135px;
            border-bottom: none; }
            #content .table ul li .image.active .table-text, #content .table ul li .image.active .table-text-2, #content .table ul li .image-1.active .table-text, #content .table ul li .image-1.active .table-text-2 {
              opacity: 1;
              background: #be0028; }
            #content .table ul li .image.active .price, #content .table ul li .image-1.active .price {
              background: #be0028; }
          #content .table ul li .image .price, #content .table ul li .image-1 .price {
            width: 100%;
            height: 47px;
            background: #a4785a;
            position: absolute;
            left: 0;
            bottom: 0; }
            #content .table ul li .image .price .p-price, #content .table ul li .image-1 .price .p-price {
              color: #fff;
              font-size: 16px;
              font-weight: 700;
              margin: 12px 0 0 12px;
              width: 40%; }
            #content .table ul li .image .price p.more, #content .table ul li .image-1 .price p.more {
              position: absolute;
              width: 40%;
              text-align: right;
              color: #ffffff;
              cursor: pointer;
              text-decoration: underline;
              bottom: 9px;
              right: 22px;
              font-size: 12px; }
              #content .table ul li .image .price p.more:after, #content .table ul li .image-1 .price p.more:after {
                position: absolute;
                bottom: 5px;
                right: -8px;
                content: "";
                height: 5px;
                width: 2px;
                background: #ffffff;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
              #content .table ul li .image .price p.more:before, #content .table ul li .image-1 .price p.more:before {
                position: absolute;
                bottom: 2px;
                right: -8px;
                content: "";
                height: 5px;
                width: 2px;
                background: #ffffff;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
              #content .table ul li .image .price p.more:hover, #content .table ul li .image-1 .price p.more:hover {
                text-decoration: none; }
          #content .table ul li .image .table-text, #content .table ul li .image-1 .table-text {
            background: #6f4725;
            height: 26px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            z-index: 2;
            -webkit-z-index: 2;
            -moz-z-index: 2;
            -ms-z-index: 2;
            -o-z-index: 2;
            -icab-z-index: 2;
            -khtml-z-index: 2; }
          #content .table ul li .image .table-text-2, #content .table ul li .image-1 .table-text-2 {
            background: #6f4725;
            height: 26px;
            width: 100%;
            position: absolute;
            bottom: 47px;
            left: 0;
            opacity: 0.5;
            z-index: 2;
            -webkit-z-index: 2;
            -moz-z-index: 2;
            -ms-z-index: 2;
            -o-z-index: 2;
            -icab-z-index: 2;
            -khtml-z-index: 2; }
          #content .table ul li .image .img-text, #content .table ul li .image-1 .img-text {
            position: absolute;
            left: 10px;
            bottom: 0;
            width: 100%;
            color: #fff;
            line-height: 26px;
            font-size: 16px;
            z-index: 3;
            -webkit-z-index: 3;
            -moz-z-index: 3;
            -ms-z-index: 3;
            -o-z-index: 3;
            -icab-z-index: 3;
            -khtml-z-index: 3; }
          #content .table ul li .image .img-text-2, #content .table ul li .image-1 .img-text-2 {
            position: absolute;
            left: 10px;
            bottom: 47px;
            width: 100%;
            color: #fff;
            line-height: 26px;
            z-index: 3;
            -webkit-z-index: 3;
            -moz-z-index: 3;
            -ms-z-index: 3;
            -o-z-index: 3;
            -icab-z-index: 3;
            -khtml-z-index: 3; }
        #content .table ul li .image-1 {
          height: 184px; }
          #content .table ul li .image-1.active {
            width: 226px;
            height: 181px; }
  #content .right-filter {
    float: right;
    margin: 34px 133px 0 0;
    width: 103px; }
    #content .right-filter h5 {
      display: block;
      margin: 0 0 12px 0;
      font-size: 12px;
      color: #333333; }
    #content .right-filter .forma {
      display: block;
      height: 74px; }
      #content .right-filter .forma:first-child {
        margin: 0 0 20px 0; }
      #content .right-filter .forma:nth-child(2) h5 {
        margin: 0 0 25px 0; }
      #content .right-filter .forma label {
        float: left;
        font-size: 12px;
        width: 82px;
        margin: 0 0 6px 0;
        line-height: 10px; }
      #content .right-filter .forma input {
        margin: 0 7px 0 0;
        float: left; }

#sidebar {
  float: left;
  background: #f0d5c3;
  width: 210px;
  margin: 6px 0 0 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -icab-border-radius: 8px;
  -khtml-border-radius: 8px;
  overflow: hidden; }
  #sidebar ul {
    display: block; }
    #sidebar ul h4 {
      font-size: 16px;
      color: #fff; }
    #sidebar ul li {
      padding: 10px 0 10px 10px; }
      #sidebar ul li:not(:last-child) .line {
        background: #c8aa95;
        width: 188px;
        height: 1px;
        position: absolute;
        bottom: -11px;
        left: -1px; }
    #sidebar ul li:first-child {
      background: #be0028; }
    #sidebar ul .top {
      position: relative;
      display: block;
      background: #f0d5c3; }
      #sidebar ul .top.active {
        background: #a4785a; }
        #sidebar ul .top.active .line {
          display: none; }
      #sidebar ul .top a:first-child {
        z-index: 4;
        position: relative;
        width: 210px;
        height: 19px;
        background: #f0d5c3;
        font-size: 12px;
        color: #502b0b;
        text-decoration: underline;
        padding-left: 22px; }
        #sidebar ul .top a:first-child.active {
          background: #a4785a;
          color: #fff;
          text-decoration: none; }
          #sidebar ul .top a:first-child.active:before {
            background: #fff; }
          #sidebar ul .top a:first-child.active:after {
            background: #fff; }
        #sidebar ul .top a:first-child:before {
          content: "";
          width: 2px;
          height: 5px;
          background: #bf052c;
          position: absolute;
          left: 8px;
          top: 3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -icab-transform: rotate(-45deg);
          -khtml-transform: rotate(-45deg); }
        #sidebar ul .top a:first-child:after {
          content: "";
          width: 2px;
          height: 5px;
          background: #bf052c;
          position: absolute;
          left: 8px;
          top: 6px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -icab-transform: rotate(45deg);
          -khtml-transform: rotate(45deg); }
      #sidebar ul .top .inside {
        display: block;
        margin: -18px 0 0 0;
        position: relative;
        font-size: 11px;
        padding: 0 0 0 38px;
        text-decoration: underline;
        color: #fff;
        display: none; }
        #sidebar ul .top .inside.active {
          background: #a4785a;
          margin: 0;
          color: #fff;
          width: auto;
          display: block; }
          #sidebar ul .top .inside.active:hover {
            text-decoration: none; }

#main {
  width: 100%; }

#footer {
  display: block;
  width: 100%;
  height: 32px;
  background: #a4785a;
  margin: 0 0 10px 0;
  border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  -ms-border-radius: 0 0 9px 9px;
  -o-border-radius: 0 0 9px 9px;
  -khtml-border-radius: 0 0 9px 9px;
  -icab-border-radius: 0 0 9px 9px; }
  #footer * {
    font-size: 10px;
    color: #fff; }
  #footer p {
    line-height: 32px; }
    #footer p .color {
      color: #f0d5c3; }
    #footer p:first-child {
      float: left;
      margin: 0 0 0 14px; }
    #footer p:last-child {
      float: right;
      margin: 0 18px 0 0; }
      #footer p:last-child a {
        color: #f0d5c3;
        text-decoration: underline; }

.picture .main {
  float: left; }
  .picture .main.little {
    width: 536px;
    height: 332px; }

.picture .picture-right {
  float: right;
  width: 196px; }
  .picture .picture-right img {
    float: left; }
  .picture .picture-right .box {
    display: block;
    width: 83px !important;
    margin: 5px 0 19px 52px; }
  .picture .picture-right .pp-price {
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 20px 0 0 0; }
    .picture .picture-right .pp-price .bold {
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 0 20px; }
  .picture .picture-right .right {
    text-align: right;
    float: right !important;
    width: 56px !important;
    margin: 20px 44px 40px 0 !important;
    cursor: pointer; }
  .picture .picture-right .right-img {
    position: absolute;
    right: 0;
    top: 244px; }

.picture .tabs {
  float: right; }
  .picture .tabs #menu-tabs {
    display: block;
    width: 146px;
    margin: 0; }
    .picture .tabs #menu-tabs li {
      cursor: pointer; }

.tabsearch {
  margin: 0 !important;
  float: right; }
  .tabsearch li {
    text-decoration: underline;
    margin: 0 10px 0 0;
    font-size: 12px;
    color: #502b0b;
    cursor: pointer; }
    .tabsearch li.active {
      text-decoration: none;
      color: #333333; }

.wrapper {
  height: 100%;
  width: 100%;
  background: #fff; }
  .wrapper .layout {
    width: 984px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; }
    @media (max-width: 1010px) {
      .wrapper .layout {
        width: 50%; } }
