body {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  margin: 0;
}

header {
  padding: 75px 0 105px;
}

.list-link {
  text-align: center;
  padding: 0;
  margin: 0;
}

.list-link li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 125px;
}

.list-link li:last-of-type {
  margin-right: 0;
}

.list-link a {
  text-decoration: none;
  color: #626262;
  font-size: 14px;
}

.list-link a:hover,
.list-link a:focus {
  color: #03a9f4;
}

main {
  width: 900px;
  margin: 0 auto;
  padding: 0 0 70px 0;
  font-size: 0;
}

.post {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  color: #626262;
  padding-bottom: 75px;
}

.post:nth-of-type(2n) {
  margin-left: 60px;
}

span {
  text-transform: uppercase;
  color: #c7c1b6;
  font-family: 'Ubuntu', 'Times New Roman', sans-serif;
}

.post img {
  margin-bottom: 32px;
}

.post p {
  margin: 0;
}

.post h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 30px;
}

.button {
  background-color: transparent;
  border: 1px solid #626262;
  font-size: 20px;
  font-family: inherit;
  color: #626262;
  margin: 0 auto;
  padding: 16px 34px;
  display: block;
}

.button:hover {
  color: #03a9f4;
}

.button:focus {
  background: #c7c1b6;
  color: white;
}
