html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
  vertical-align: baseline; 
  font-family: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  outline: 0; 
  padding: 0; 
  margin: 0; 
  border: 0; 
  } 
/* remember to define focus styles! */ 
:focus { 
  outline: 0; 
  } 
body { 
  background: white; 
  line-height: 1; 
  color: black; 
  min-width: 600px;
  } 
ol, ul { 
  list-style: none; 
  } 
/* tables still need cellspacing="0" in the markup */ 
table { 
  border-collapse: separate; 
  border-spacing: 0; 
  } 
caption, th, td { 
  font-weight: normal; 
  text-align: left; 
  } 
/* remove possible quote marks (") from <q> & <blockquote> */ 
blockquote:before, blockquote:after, q:before, q:after { 
  content: ""; 
  } 
blockquote, q { 
  quotes: "" ""; 
  } 
  .header {
    width: 100%;
    background-color: #3a3d40;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    border-bottom: 1px solid #000;
  }
  .header-wrap {
    border-bottom: 5px solid #4a4d50;
    overflow: hidden;
  }
  .header-holder {
    width: 960px;
    margin:0 auto;
    overflow: hidden;
  }
  .logo {
    float: left;
    width: 89px;
    height: 32px;
    text-indent: -9999px;
    background: url(img/Ikaros-logo.png)no-repeat;
    margin: 27px 0;
  }
  .navigate {
    float: right;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    border-left: 1px solid #292c2d;
    border-right: 1px solid #3c3f41;
    overflow: hidden;
  }
 
  .navigate li {
    display: inline-block;
    padding: 51px 20px 28px 20px;
    box-sizing: border-box;  
    border-left: 1px solid #3c3f41;
    border-right: 1px solid #292c2d;
    margin-left: -2px;
    overflow: hidden;
  }
  

  .navigate a {
     color: #fff;
     text-decoration: none;
  }
  .navigate li:hover {
    background-color: #35373a;
  }
  .navigate a:hover {
    color: #6b889a;
  }
  .navigate a:focus {
    color: #6b889a;
  }
  
  .content {
    width: 100%;
    overflow: hidden;
  }
  .content-box-slider {
    width: 960px;
    margin: 0 auto 50px;
    background-color: #888a85;
    overflow: hidden;
    position: relative;
  }
    .btn-left-arrow a{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 20px;
    top: 50%;
    background: url(img/left-arrow.png)no-repeat 45% 50% ,linear-gradient(#fff,#dfdfdf);
    text-indent: -9999px;
    background-color: #fff;
    text-align: center;
    border-radius: 50px;
    margin:-25px 0 0;
  
  }
  .slider-content ul {
    overflow: hidden;
    margin-left: 313px;
  }
  
  .slider-content ul li {
    display: inline-block;
    margin: 230px 0 136px 0; 
    padding-right: 26px; 
  }
  
  .btn-right-arrow a{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
    top: 50%;
    background: url(img/right-arrow.png)no-repeat 50% 50%,linear-gradient(#fff,#dfdfdf);
    text-indent: -9999px;
    background-color: #fff;
    text-align: center;
    border-radius: 50px;
    margin:-25px 0 0;
  }
  .figure-one {
    background: url(img/figure-one.png)no-repeat;
    width: 64px;
    height: 81px;
    text-indent: -9999px;
  }
  .figure-two {
    background: url(img/figure-two.png)no-repeat;
    width: 64px;
    height: 81px;
    text-indent: -9999px;
  }
  .figure-three {
    background: url(img/figure-three.png)no-repeat;
    width: 64px;
    height: 81px;
    text-indent: -9999px;
  }
  .figure-four {
    background: url(img/figure-four.png)no-repeat;
    width: 93px;
    height: 235px;
    text-indent: -9999px;
  }
  .slider-content ul li:last-child {
    margin-top: 0;    
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 21px;
    box-sizing: border-box;
  } 
  .content-block {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 39px;
    color: #555555;
  }
  .info-block {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
  }
   .info-block h1 {
    font-size: 27px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .info-block p {
    font-size: 22px;
    line-height: 1.3;
  }
  #tabs {
    margin-bottom: 30px;
    background: url(img/part-of-line.png)repeat-x 0 100%;
  }
  
  #tabs .tabs {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-bottom: 1px solid #c5c5c5;
  }
  
  #tabs .tabs li {
    display: inline-block;
    width: 120px;
    margin-left: -5px;
  }
   #tabs .tabs li a {
    display: block; 
    padding: 8px 0 8px 0px; 
    font-size: 15px; 
    line-height: 21px;
    color: #555555;;
    text-decoration: none;
    border:1px solid #c5c5c5;
    border-bottom: none;
    background-color: #fff;
  }
  #tabs .tabs li a.active {
    margin: 0 0 -1px;
    padding-bottom: 9px;
    
  }
  #tabs .tabs li a.active,#tabs .tabs li a:hover {
    color: #77a0bb;
   
  }
  #description {
    overflow: hidden;
  }
   
  #tabs .tabs-content {
    display: inline-block;
    font-size: 16px; 
    line-height: 21px;
    margin-bottom: 30px;
  }
  .eyes-img {
    background: url(img/eyes-on-the-red.png)no-repeat left top;
    float:left; 
    width: 400px;
    height: 300px;
    text-indent: -9999px;
    margin-right: 20px;
  }
  .info-list {
    overflow: hidden;
    text-align: left;
    
  }
  .info-list h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .info-list p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 22px;
  }
  .info-list li {
    background: url(img/check-mark.png)no-repeat left 50%;
    padding:0 0 0 20px;
    margin-bottom: 15px;
    text-align: left;
  }
  
 
  .content-box-images img {
    padding-right: 8px;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    padding-bottom: 8px; 
    
  }
  .content-box-images {
    overflow: hidden;
    background: url(img/part-of-line.png)repeat-x 0 100% ;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  .images {
    overflow: hidden;
    margin-bottom: 40px;
  }
  .content-box-latest-blog {
    overflow: hidden;
    background: url(img/part-of-line.png)repeat-x 0 100%;
    margin-bottom: 30px;
  }
  .contenet-block-date-info {
    overflow: hidden;
    margin-bottom: 20px;

  }
  .contenet-block-date-info .box{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 0 14px 0 65px;
    margin-bottom: 25px;
  }
  .exact-date {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ececec;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .date {
    font-size: 17px;
    text-transform: uppercase;
  }
  .month {
    font-size: 10px;
    text-transform: uppercase;
  }
  .list-date-info {
    text-align: left;
  }
  .list-date-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.3;
  }
  .list-date-info p {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .list-date-info li {
    display: inline-block;
  }
  .list-date-info li a {
    text-decoration: none;
    color: #6b99b6;
    font-size: 13px;
  }
  .content-block-customers {
    overflow: hidden;
    margin-bottom: 30px;
  }
  .customers-logos {
    overflow: hidden;
  }
  .customers-logos li {
    display: inline-block;
    float: left;
    margin-right: 30px;
  }
  .customers-logos li:last-child {
    margin-right: 0;
  }
  .customers-logos a {
    text-decoration: none;
  }
  .vimeo {
    background: url(img/vimeo.png)no-repeat 0 50%;
    width: 135px;
    height:91px;
    text-indent: -9999px;
  }
  .apple {
    background: url(img/apple.png)no-repeat 0 50%;
    width: 135px;
    height: 91px;
    text-indent: -9999px;
  }
  .mersedes {
    background: url(img/mersedes.png)no-repeat 0 50%;
    width: 135px;
    height: 91px;
    text-indent: -9999px;
  }
  .warner-bros {
    background: url(img/warnerbros.png)no-repeat 0 50%;
    width: 135px;
    height: 91px;
    text-indent: -9999px;
  }
   .mediatemple {
    background: url(img/mediatemple.png)no-repeat 0 50%;
    width: 135px;
    height: 91px;
    text-indent: -9999px;
  }
  .bmw {
    background: url(img/bmw.png)no-repeat 0 50%;
    width: 135px;
    height: 91px;
    text-indent: -9999px;
  }
  .footer {
    width: 100%;
    overflow: hidden;
    border-top: 5px solid #2f3235;
    background-color: #3a3d40;
    
  }
  .footer-holder {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }
  .footer h3 {
    text-transform: uppercase;
    color: #e3e3e3;
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 31px;
    padding-top: 30px;
  }
  .block {
    font-size: 15px;
    line-height: 1.2;
    color: #a4a5a5;
    background: url(img/part-of-line-footer.png)repeat-x 0 100%;
    width: 219px;
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .block:last-child{
    background: none;
  }
  .twitter-info {
    line-height: 24px;
  }
 .date a {
    font-size: 12px;
    line-height: 1.3;
    color: #787e84;
    text-decoration: none;
  }
  .twitter-info a {
    color: #86acc4;
  }
  .column p {
    padding-bottom: 15px;
    vertical-align: top;
  }
  .column {
    display: inline-block;
    width: 23%;
    padding-right: 21px;
    vertical-align: top;
  }
  .column:last-child {
    padding-right: 0;
  }
  .twitter-info a {
    margin-right: 10px;
  }
  .twitter-icon {
    background: url(img/twitter-icon.png)no-repeat;
    width: 16px;
    height: 24px;
    text-indent:-9999px;
    display: inline-block;
    overflow:hidden;
    vertical-align: top;
  }
  .block-about-me {
    font-size: 15px;
    line-height: 24px;
    color: #a4a5a5;
    margin-bottom: 15px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .form {
    overflow: hidden;
  }
  input[type="text"] {
    width: 205px;
    height: 35px;
    color: #fff;
    background-color: #282b2d;
    margin-bottom: 10px;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
  }
  textarea {
    color: #fff;
    background-color: #282b2d;
    height: 140px;
    width: 205px;
    border: none;
    margin-bottom: 5px;
    resize:none;
    padding-left: 10px;
    padding-right: 10px;
  }
  input[type="submit"] {
    width: 110px;
    height: 29px;
    color: #fff;
    background: linear-gradient(#95acbb,#577488);
    border: 1px solid #000;
    border-radius: 3px;
    border: none;
  }
  .footer-bottom {
    width: 100%;
    overflow: hidden;
    background-color: #2f3235;
  }
  .bottom-holder {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }
  .author-rights {
    color: #bfbfbf;
    font-size: 13px;
    padding: 20px 0;
    overflow: hidden;
    line-height: 1.2;
    float: left;
  }
  .author-rights a {
    color:#86acc4;
    text-decoration: none;
  }
  .link-list {
    overflow: hidden;
    display: inline-block;
    padding: 20px 0;
    float: right;
  }
  .link-list li {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
  }
  .link-list a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .rss {
    background: url(img/Icon-rss.png)no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }
  .facebook {
    background: url(img/icon-facebook.png)no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }
  .twitter {
    background: url(img/icon-twitter.png)no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }
  .dribble {
    background: url(img/icon-dribbble.png)no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }
  .pinterest {
    background: url(img/icon-pinterest.png)no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }
  .linkedin {
    background: url(img/icon-linkedin.png)no-repeat;
    text-indent: -9999px;
    overflow: hidden;
  }