#footer .top {
  margin-top: 30px; }

.dark_grey_1 {
  background: #2f3235;
  position: relative;
  width: 100%;
  height: 5px;
  display: block;
  overflow: hidden; }

.dark_grey_2 {
  background: #3a3d40;
  position: relative;
  width: 100%;
  height: 385px;
  display: block;
  overflow: hidden; }

.dark_grey_3 {
  background: #24272a;
  position: relative;
  width: 100%;
  height: 1px;
  display: block;
  overflow: hidden; }

.dark_grey_4 {
  background: #2f3235;
  position: relative;
  width: 100%;
  height: 70px;
  display: block;
  overflow: hidden; }

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  text-align: center;
  width: 970px;
  height: 365px;
  margin-top: 20px; }

.column li {
  text-align: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 24%; }

.column h6 {
  margin-top: 20px;
  width: 99%;
  color: #e3e3e3;
  font-family: 'allerbold',sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #e3e3e3;
  text-transform: uppercase; }

.column p {
  color: #e3e3e3;
  width: 96%;
  margin: 5px;
  font-family: 'allerbold',sans-serif;
  font-size: 13px;
  color: #e3e3e3;
  line-height: 1.5; }

#date_footer {
  color: #81878d; }

#time_footer {
  color: #7c9eb3; }

#dots_b {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
  display: block;
  overflow: hidden;
  height: 3px;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: url(../images/img-dots_b.png); }

.mini {
  margin-top: 10px;
  width: 220px;
  height: 35px;
  display: block;
  resize: none;
  background-color: #282b2d;
  border-color: #282b2d; }

.maxi {
  margin-top: 10px;
  width: 220px;
  height: 140px;
  display: block;
  resize: none;
  background-color: #282b2d;
  border-color: #282b2d; }

.buttonsubmit {
  margin-top: 10px;
  width: 110px;
  height: 31px;
  color: #c7ced3;
  border-color: #2f3235;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #718fa2), color-stop(50%, #597689));
  background: -webkit-linear-gradient(#718fa2 50%, #597689 50%);
  background: -o-linear-gradient(#718fa2 50%, #597689 50%);
  background: linear-gradient(#718fa2 50%, #597689 50%); }

.by {
  margin-top: 25px;
  color: #bfbfbf;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.by p {
  font-family: 'allerbold',sans-serif;
  font-size: 13px;
  color: #e3e3e3; }

#elemis {
  margin-left: 5px;
  color: #86acc4; }

.sn img {
  margin-top: 22px; }

.sn {
  width: 100%;
  text-align: right;
  margin-top: -45px; }
