

 $color:#939597; 
 $wds: 1023px;
 $wt: 767px;
 $wml: 567px;
 $wm: 500px;
 .body-wrapper {
 	width: 1000px;
 	margin: 0 auto;
 	@media (max-width: $wds) {
 		width: 768px;
 		overflow: hidden;
 	}
 	@media (max-width: $wt) {
 		width: 568px;
    	overflow: hidden;
 	}
 	@media (max-width: $wml) {
 		width: 320px;
 		overflow: hidden;
 	}
 }
 .header {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	img {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

}

.layout {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
}

