/* SCSS Compiled */
.body-wrapper {
  width: 1000px;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .body-wrapper {
      width: 768px;
      overflow: hidden; } }
  @media (max-width: 767px) {
    .body-wrapper {
      width: 568px;
      overflow: hidden; } }
  @media (max-width: 567px) {
    .body-wrapper {
      width: 320px;
      overflow: hidden; } }

.header {
  width: 100%;
  overflow: hidden;
  background-color: #fff; }
  .header img {
    width: 100%;
    display: block;
    margin: 0 auto; }

.layout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; }

.main-footer-wrapper {
  width: 100%;
  margin: 0 auto;
  background: url(../img/body.png) no-repeat; }

.main {
  width: 100%;
  overflow: hidden; }
  .main .layout {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden; }
  .main .main-about-whisky {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 750px;
    margin-bottom: -10px; }
    @media (max-width: 1023px) {
      .main .main-about-whisky {
        height: 570px; } }
    @media (max-width: 767px) {
      .main .main-about-whisky {
        height: 413px; } }
    .main .main-about-whisky img.ice-whisky {
      position: absolute;
      right: 12%;
      bottom: 40px;
      z-index: 10; }
      @media (max-width: 1023px) {
        .main .main-about-whisky img.ice-whisky {
          width: 550px;
          height: 380px;
          bottom: 20px; } }
      @media (max-width: 767px) {
        .main .main-about-whisky img.ice-whisky {
          width: 406px;
          height: 258px;
          bottom: 20px; } }
    .main .main-about-whisky img.shadow-whisky {
      position: absolute;
      right: 9%;
      bottom: -50px;
      z-index: 1; }
      @media (max-width: 1023px) {
        .main .main-about-whisky img.shadow-whisky {
          width: 590px;
          height: 380px;
          bottom: -20px; } }
      @media (max-width: 767px) {
        .main .main-about-whisky img.shadow-whisky {
          width: 436px;
          height: 258px;
          bottom: -0px; } }
  .main .info-about-whisky h2 {
    font-size: 169.65px;
    line-height: 124.67px;
    color: #fff;
    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    margin-bottom: 75px;
    font-family: 'qiber'; }
    @media (max-width: 1023px) {
      .main .info-about-whisky h2 {
        font-size: 130.23px;
        line-height: 95.7px;
        margin-bottom: 60px; } }
    @media (max-width: 767px) {
      .main .info-about-whisky h2 {
        font-size: 96.42px;
        line-height: 70.86px;
        margin-bottom: 40px; } }
  .main .info-about-whisky h5 {
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    font-family: 'daxlineoffcpro','Arial','sans-serif'; }
    @media (max-width: 1023px) {
      .main .info-about-whisky h5 {
        font-size: 18.42px;
        line-height: 23.8px; } }
    @media (max-width: 767px) {
      .main .info-about-whisky h5 {
        font-size: 13.64px;
        line-height: 17.62px; } }
  .main .info-about-whisky {
    width: 50%;
    height: 500px;
    background-color: #a6978a;
    padding: 60px 0 0 65px;
    box-sizing: border-box; }
    @media (max-width: 1023px) {
      .main .info-about-whisky {
        height: 384px;
        padding: 46px 0 0 49px; } }
    @media (max-width: 767px) {
      .main .info-about-whisky {
        height: 284px;
        padding: 23px 0 0 24px; } }
  .main .kinds-of-whiskey {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px; }
    @media (max-width: 1023px) {
      .main .kinds-of-whiskey {
        width: 30%;
        padding-top: 21px;
        margin-right: 70px; } }
    @media (max-width: 767px) {
      .main .kinds-of-whiskey {
        width: 30%;
        padding-top: 21px;
        margin-right: 70px; } }
    .main .kinds-of-whiskey img {
      width: 41%; }
      @media (max-width: 1023px) {
        .main .kinds-of-whiskey img {
          width: 70%; } }
    .main .kinds-of-whiskey p {
      width: 70%;
      font-size: 32px;
      line-height: 34px;
      text-align: center;
      padding: 20px 0;
      font-family: 'qiber';
      font-weight: 500; }
      @media (max-width: 1023px) {
        .main .kinds-of-whiskey p {
          font-size: 28px;
          line-height: 28px;
          padding: 10px 0;
          width: 100%; } }
      @media (max-width: 767px) {
        .main .kinds-of-whiskey p {
          font-size: 20px;
          line-height: 20px;
          padding: 10px 0;
          width: 100%; } }
  .main .distributed-species h1 {
    font-size: 34px;
    line-height: 39.91px;
    font-weight: bold;
    text-align: left;
    color: #a6978a;
    margin-bottom: 30px;
    margin-left: 110px; }
    @media (max-width: 1023px) {
      .main .distributed-species h1 {
        font-size: 26px;
        line-height: 30px;
        margin-left: 96px; } }
    @media (max-width: 767px) {
      .main .distributed-species h1 {
        font-size: 20px;
        line-height: 23px;
        margin-left: 87px; } }
  .main .distributed-species {
    height: 1200px;
    position: relative;
    margin-bottom: 75px; }
    @media (max-width: 1023px) {
      .main .distributed-species {
        margin-bottom: 50px;
        height: 950px; } }
    @media (max-width: 767px) {
      .main .distributed-species {
        height: 800px; } }
  .main .distributed-species-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'daxlineoffcpro','Arial','sans-serif';
    font-size: 18px;
    line-height: 25px;
    width: 100%; }
    .main .distributed-species-flex span {
      padding: 4px 8px 2px 8px;
      color: #a6978a;
      border: 4px solid #a6978a;
      border-radius: 50px;
      font-weight: bold;
      font-size: 24px;
      float: left;
      margin-right: 27px;
      vertical-align: top; }
      @media (max-width: 1023px) {
        .main .distributed-species-flex span {
          font-size: 18px;
          padding: 4px 8px 2px 8px;
          margin-right: 12px;
          border: 3px solid #a6978a; } }
      @media (max-width: 767px) {
        .main .distributed-species-flex span {
          margin-bottom: 16px;
          padding: 4px 6px 2px 5px;
          border: 2px solid #a6978a; } }
    .main .distributed-species-flex strong {
      font-family: 'daxlineoffcpro bold','Arial','sans-serif';
      font-weight: bold; }
    .main .distributed-species-flex .list {
      width: 75%;
      overflow: hidden; }
    .main .distributed-species-flex .left-side {
      margin-bottom: 46px; }
      @media (max-width: 1023px) {
        .main .distributed-species-flex .left-side {
          margin-bottom: 25px; } }
      @media (max-width: 767px) {
        .main .distributed-species-flex .left-side {
          margin-bottom: 23px; } }
    .main .distributed-species-flex .right-side-2 {
      margin-bottom: 59px; }
      @media (max-width: 1023px) {
        .main .distributed-species-flex .right-side-2 {
          margin-bottom: 34px; } }
      @media (max-width: 767px) {
        .main .distributed-species-flex .right-side-2 {
          margin-bottom: 32px; } }
    .main .distributed-species-flex .right-side-3 {
      margin-bottom: 39px; }
      @media (max-width: 1023px) {
        .main .distributed-species-flex .right-side-3 {
          margin-bottom: 20px; } }
      @media (max-width: 767px) {
        .main .distributed-species-flex .right-side-3 {
          margin-bottom: 32px; } }
    @media (max-width: 1023px) {
      .main .distributed-species-flex {
        font-size: 14px;
        line-height: 20px; } }
    @media (max-width: 767px) {
      .main .distributed-species-flex {
        font-size: 12px;
        line-height: 15px; } }
  .main .left-column {
    width: 49%;
    margin-left: 50px; }
  .main .right-column {
    width: 46%;
    margin-right: 65px; }
  .main .sub-ico {
    width: 72%;
    margin-left: 35px;
    background: url(../img/sub-ico.png) 5px 5px no-repeat;
    padding-left: 30px;
    margin-bottom: 25px; }
    @media (max-width: 1023px) {
      .main .sub-ico {
        background-size: 8px 8px;
        margin-left: 20px;
        padding-left: 25px;
        width: 75%; } }
    @media (max-width: 767px) {
      .main .sub-ico {
        background-size: 6px 6px;
        margin-left: 15px;
        padding-left: 20px;
        width: 80%; } }

.whisky-cherry {
  position: absolute;
  top: 56%;
  left: 60px;
  z-index: 10; }
  @media (max-width: 1023px) {
    .whisky-cherry {
      width: 364px;
      height: 357px;
      top: 59%;
      left: 40px; } }
  @media (max-width: 767px) {
    .whisky-cherry {
      width: 270px;
      height: 265px;
      top: 63%;
      left: 40px; } }

.shadow-whisky-cherry {
  position: absolute;
  top: 55.5%;
  left: 15px;
  z-index: 5; }
  @media (max-width: 1023px) {
    .shadow-whisky-cherry {
      width: 364px;
      height: 357px;
      top: 62.5%;
      left: 20px; } }
  @media (max-width: 767px) {
    .shadow-whisky-cherry {
      width: 270px;
      height: 265px;
      top: 67%;
      left: 21px; } }

.corn {
  position: absolute;
  bottom: -8.5%;
  right: 59px;
  z-index: 5; }
  @media (max-width: 1023px) {
    .corn {
      width: 468px;
      height: 412px;
      bottom: -7%;
      right: 70px; } }
  @media (max-width: 767px) {
    .corn {
      width: 345px;
      height: 268px;
      bottom: -6%;
      right: 40px; } }

.brown-line {
  position: absolute;
  bottom: 0;
  left: 62px; }
  @media (max-width: 1023px) {
    .brown-line {
      bottom: 15px;
      left: 62px;
      width: 85%; } }
  @media (max-width: 767px) {
    .brown-line {
      bottom: -10px;
      left: 55px;
      width: 80%; } }

#sorts-of-whisky {
  display: flex;
  flex-direction: row; }
  @media (max-width: 1023px) {
    #sorts-of-whisky {
      height: 404px; } }
  @media (max-width: 767px) {
    #sorts-of-whisky {
      height: 334px; } }
  #sorts-of-whisky .sorts-of-whisky {
    width: 50%;
    height: 500px;
    background-color: #a6978a;
    padding: 40px 0 0 65px;
    box-sizing: border-box;
    margin-bottom: 20px; }
    @media (max-width: 1023px) {
      #sorts-of-whisky .sorts-of-whisky {
        height: 384px; } }
    @media (max-width: 767px) {
      #sorts-of-whisky .sorts-of-whisky {
        height: 302px; } }
    #sorts-of-whisky .sorts-of-whisky h1 {
      font-size: 100px;
      line-height: 85px;
      color: #fff;
      -moz-transform: rotate(-4deg);
      -webkit-transform: rotate(-4deg);
      -o-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
      transform: rotate(-4deg);
      margin-bottom: 75px;
      font-family: 'qiber'; }
      @media (max-width: 1023px) {
        #sorts-of-whisky .sorts-of-whisky h1 {
          font-size: 76.77px;
          line-height: 65.25px; } }
      @media (max-width: 767px) {
        #sorts-of-whisky .sorts-of-whisky h1 {
          font-size: 56.84px;
          line-height: 48.31px; } }
    #sorts-of-whisky .sorts-of-whisky h5 {
      font-size: 24px;
      line-height: 31px;
      color: #fff;
      font-family: 'daxlineoffcpro','Arial','sans-serif';
      font-weight: bold;
      letter-spacing: 1.5px; }
      @media (max-width: 1023px) {
        #sorts-of-whisky .sorts-of-whisky h5 {
          font-size: 18.42px;
          line-height: 23.8px; } }
      @media (max-width: 767px) {
        #sorts-of-whisky .sorts-of-whisky h5 {
          font-size: 13.64px;
          line-height: 17.62px; } }

.whisky-wheat {
  width: 50%;
  position: relative;
  z-index: 1;
  height: 500px; }
  @media (max-width: 1023px) {
    .whisky-wheat img {
      height: 384px; } }
  @media (max-width: 767px) {
    .whisky-wheat img {
      height: 302px;
      width: 290px; } }
  .whisky-wheat .white-fone {
    position: absolute;
    top: 63%;
    right: 20px;
    z-index: 1; }
    @media (max-width: 1023px) {
      .whisky-wheat .white-fone {
        width: 286px;
        height: 281px;
        top: 50%;
        right: 25px; } }
    @media (max-width: 767px) {
      .whisky-wheat .white-fone {
        width: 212px;
        height: 210px;
        top: 40%;
        right: 8px; } }
  .whisky-wheat p {
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    padding: 20px 0;
    font-family: 'qiber';
    font-weight: 500;
    -moz-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    -o-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    transform: rotate(13deg);
    width: 190px;
    position: absolute;
    top: 73%;
    right: 100px;
    z-index: 10; }
    @media (max-width: 1023px) {
      .whisky-wheat p {
        font-size: 28px;
        line-height: 28px;
        padding: 12px 0;
        top: 58%;
        right: 75px; } }
    @media (max-width: 767px) {
      .whisky-wheat p {
        font-size: 20px;
        line-height: 20px;
        padding: 10px 0;
        top: 46%;
        right: 44px;
        width: 50%; } }

.best-sorts {
  margin: 0 61px;
  width: 100%; }
  @media (max-width: 1023px) {
    .best-sorts {
      margin: 0 44px; } }
  @media (max-width: 1023px) {
    .best-sorts {
      margin: 0 31px; } }
  .best-sorts h3 {
    font-family: 'qiber';
    font-size: 54.93px;
    line-height: 44.91px;
    letter-spasing: 1.5px;
    color: #a6978a;
    margin-bottom: 36px; }
    @media (max-width: 1023px) {
      .best-sorts h3 {
        font-size: 42.16px;
        line-height: 34.47px; } }
    @media (max-width: 1023px) {
      .best-sorts h3 {
        font-size: 35px;
        line-height: 33px; } }

.info-country {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 175px; }
  @media (max-width: 767px) {
    .info-country {
      margin-bottom: 50px; } }
  .info-country div {
    width: 25%; }
    @media (max-width: 1023px) {
      .info-country div {
        width: 26%; } }
    @media (max-width: 767px) {
      .info-country div {
        width: 28%; } }
  .info-country h5 {
    font-size: 52.97px;
    line-height: 56.28px;
    letter-spacing: 1.5px;
    font-family: 'qiber';
    margin-bottom: 25px; }
    @media (max-width: 1023px) {
      .info-country h5 {
        font-size: 33.78px;
        line-height: 35.31px; } }
    @media (max-width: 767px) {
      .info-country h5 {
        font-size: 25.01px;
        line-height: 26.15px; } }
  .info-country p {
    font-size: 16px;
    line-height: 22px;
    font-family: 'daxlineoffcpro','Arial','sans-serif'; }
    @media (max-width: 1023px) {
      .info-country p {
        font-size: 13px;
        line-height: 16px; } }
    @media (max-width: 767px) {
      .info-country p {
        font-size: 11px;
        line-height: 14px; } }
  .info-country img {
    margin-bottom: 29px; }
    @media (max-width: 1023px) {
      .info-country img {
        width: 59px;
        height: 55px; } }
    @media (max-width: 767px) {
      .info-country img {
        width: 43px;
        height: 41px; } }
  .info-country .scotland {
    margin-right: 59px; }
    @media (max-width: 1023px) {
      .info-country .scotland {
        margin-right: 47px; } }
    @media (max-width: 767px) {
      .info-country .scotland {
        margin-right: 33px; } }
  .info-country .ireland {
    margin-right: 41px; }
    @media (max-width: 1023px) {
      .info-country .ireland {
        margin-right: 33px; } }
    @media (max-width: 767px) {
      .info-country .ireland {
        margin-right: 17px; } }

.info-country-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 57px;
  position: relative;
  width: 94%; }
  .info-country-bottom div {
    width: 26%; }
  .info-country-bottom h5 {
    font-size: 52.97px;
    line-height: 56.28px;
    letter-spacing: 1.5px;
    font-family: 'qiber';
    margin-bottom: 25px; }
    @media (max-width: 1023px) {
      .info-country-bottom h5 {
        font-size: 33.78px;
        line-height: 35.31px;
        margin-bottom: 18px; } }
    @media (max-width: 767px) {
      .info-country-bottom h5 {
        font-size: 25.01px;
        line-height: 26.15px;
        margin-bottom: 12px; } }
  .info-country-bottom p {
    font-size: 16px;
    line-height: 22px;
    font-family: 'daxlineoffcpro','Arial','sans-serif'; }
    @media (max-width: 1023px) {
      .info-country-bottom p {
        font-size: 13px;
        line-height: 16px; } }
    @media (max-width: 767px) {
      .info-country-bottom p {
        font-size: 11px;
        line-height: 14px; } }
  .info-country-bottom img {
    margin-bottom: 29px; }
    @media (max-width: 1023px) {
      .info-country-bottom img {
        width: 59px;
        height: 55px;
        margin-bottom: 25px; } }
    @media (max-width: 767px) {
      .info-country-bottom img {
        width: 43px;
        height: 41px;
        margin-bottom: 20px; } }
  .info-country-bottom .japan {
    margin-right: 60px; }
    @media (max-width: 1023px) {
      .info-country-bottom .japan {
        margin-right: 37px; } }
    @media (max-width: 767px) {
      .info-country-bottom .japan {
        margin-right: 24px; } }

.info-country-wrapper {
  position: relative;
  z-index: 1; }
  .info-country-wrapper .bottle-glass {
    position: absolute;
    top: 59%;
    left: 30%;
    z-index: 10; }
    @media (max-width: 1023px) {
      .info-country-wrapper .bottle-glass {
        width: 525px;
        height: 318px;
        top: 60%;
        left: 24%; } }
    @media (max-width: 767px) {
      .info-country-wrapper .bottle-glass {
        width: 388px;
        height: 236px;
        top: 58%;
        left: 28%; } }
  .info-country-wrapper .shadow-bottle-glass {
    position: absolute;
    top: 59%;
    left: 30%;
    z-index: 5; }
    @media (max-width: 1023px) {
      .info-country-wrapper .shadow-bottle-glass {
        width: 392px;
        height: 240px;
        top: 65%;
        left: 18%; } }

.other-countries {
  margin-right: 80px; }
  @media (max-width: 1023px) {
    .other-countries {
      margin-right: 21px; } }
  @media (max-width: 767px) {
    .other-countries {
      margin-right: 2px; } }
  .other-countries img {
    position: absolute;
    top: 10px;
    left: 4%;
    z-index: 5; }
    @media (max-width: 1023px) {
      .other-countries img {
        width: 272px;
        height: 276px;
        top: 10px;
        left: 4%; } }
    @media (max-width: 767px) {
      .other-countries img {
        width: 202px;
        height: 204px;
        top: 10px;
        left: -5%; } }
  .other-countries p {
    position: absolute;
    top: 50px;
    left: 9.5%;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    font-family: 'qiber';
    font-weight: 500;
    -moz-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    transform: rotate(-11deg);
    width: 220px;
    z-index: 10; }
    @media (max-width: 1023px) {
      .other-countries p {
        top: 50px;
        left: 7.5%;
        font-size: 28px;
        line-height: 28px; } }
    @media (max-width: 767px) {
      .other-countries p {
        top: 35px;
        left: 0.5%;
        font-size: 20px;
        line-height: 20px;
        width: 26%; } }

.nearest-shops {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px; }
  .nearest-shops a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px 5px 10px;
    font-size: 24.41px;
    line-height: 29px;
    background-color: #c1d43c; }
  .nearest-shops img {
    padding: 0 0 0 10px; }

@font-face {
  font-family: 'daxlineoffcpro';
  src: url("../fonts/Daxlineoffcpro.eot");
  src: url("../fonts/Daxlineoffcpro.eot?#iefix") format("embedded-opentype"), url("../fonts/Daxlineoffcpro.woff2") format("woff2"), url("../fonts/Daxlineoffcpro.woff") format("woff"), url("../fonts/Daxlineoffcpro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'daxlineoffcprobold';
  src: url("../fonts/Daxlineoffcprobold.eot");
  src: url("../fonts/Daxlineoffcprobold.eot?#iefix") format("embedded-opentype"), url("../fonts/Daxlineoffcprobold.woff2") format("woff2"), url("../fonts/Daxlineoffcprobold.woff") format("woff"), url("../fonts/Daxlineoffcpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'daxlineoffcproblack';
  src: url("../fonts/Daxlineoffcproblack.eot");
  src: url("../fonts/Daxlineoffcproblack.eot?#iefix") format("embedded-opentype"), url("../fonts/Daxlineoffcproblack.woff2") format("woff2"), url("../fonts/Daxlineoffcproblack.woff") format("woff"), url("../fonts/Daxlineoffcproblack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DaxlineSC';
  src: url("../fonts/DaxlineScOffcPro-Black.eot");
  src: url("../fonts/DaxlineScOffcPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DaxlineScOffcPro-Black.woff2") format("woff2"), url("../fonts/DaxlineScOffcPro-Black.woff") format("woff"), url("../fonts/DaxlineScOffcPro-Black.ttf") format("truetype"), url("../fonts/DaxlineScOffcPro-Black.svg#DaxlineScOffcPro-Black") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'NarzissPro';
  src: url("../fonts/NarzissProCyrillic.eot");
  src: url("../fonts/NarzissProCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/NarzissProCyrillic.woff2") format("woff2"), url("../fonts/NarzissProCyrillic.woff") format("woff"), url("../fonts/NarzissProCyrillic.ttf") format("truetype"), url("../fonts/NarzissProCyrillic.svg#NarzissProCyrillic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pequena';
  src: url("../fonts/Pequena.eot");
  src: url("../fonts/Pequena.eot?#iefix") format("embedded-opentype"), url("../fonts/Pequena.woff2") format("woff2"), url("../fonts/Pequena.woff") format("woff"), url("../fonts/Pequena.ttf") format("truetype"), url("../fonts/Pequena.svg#Pequena") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'qiber';
  src: url("../fonts/qiber.eot");
  src: url("../fonts/qiber.eot?#iefix") format("embedded-opentype"), url("../fonts/qiber.otf") format("opentype"); }
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  background: white;
  line-height: 1;
  color: black;
  min-width: 600px; }

ol, ul {
  list-style: none; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/*# sourceMappingURL=all.css.map */
