.biograhy{
	width: 601px;
	display: block;
	overflow: hidden;
	img {
		float: left;
		margin-top: 38px;
		margin-left: 31px;
	}
	.paragraf1 {
		p {
			margin-top: 43px;
			margin-left: 249px;
			color: #a9a9a9;
			font-size: 14px;
			font-family: Myriad Pro Regular;
			width: 310px;
		}
	}
	paragraf2 {
		margin-top: 40px;
		margin-left: 249px;
		color: #cd8519;
		font-size: 14px;
		font-family: Myriad Pro Regular;
		width: 310px;
		text-transform: uppercase;
	}
	.paragraf3 {
		margin-top: 18px;
		margin-left: 249px;
		color: #f2f2f2;
		font-size: 14px;
		font-family: Myriad Pro Regular;
		width: 310px;
	}
	.paragraf4 {
		margin-top: 11px;
		margin-left: 249px;
		color: #a9a9a9;
		font-size: 14px;
		font-family: Myriad Pro Regular;
		width: 310px;
	}
}