.text{
  font-size: 30px;
  color: rgb(125, 325, 125 , 0.6);
  background:beige;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  text-shadow: 1px 1px 5px hsl(120, 60%, 64%);
}

.t-blokc{ 
  width: 300px;
  height: 500px;
  margin: 0 auto;
  margin-top: 40px;
  background:linear-gradient(to right  bottom, red 30%, green 60%, yellow 90%);
}

.currency::before, .currency::after {
  content: '$';
  width: 50px;
  height: 50px;
  display: inline-block;
}

.currency::after{
 background: green;
}

.currency::before {
  background: red;
}

.first::first-letter {
  font-size: 30px;
  color: aqua;
  font-style: italic;
}

.first-line::first-line{
  font-size: 30px;
  color: blue;
  font-style: italic;
}

.first-line::selection {
  background: rgb(255, 47, 144);
}

.container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.img-thum{
  font-size: 40px;
  color: rgb(22, 12, 20);
}

.float-img {
  float: left;
  width: 250px;
 }

.fod {
  display: block;
  width: 100%;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
