
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
*{
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Open Sans', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}




/* ----------- HEADER--------------- */

#header {
	width:100%;
	display:block;
	position: relative;
	height: 80px;
	position:relative;
	background-color:#0d0b11;	
}

#header .layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}
/*logo */

#header .logo {
	float: left;
	}
.logo .part-1, .part-2{
	display: inline-block;
	line-height: 80px;
	font-family: "Open Sans";
	font-size:24px;
	color: #efefef;
}

.logo .part-1{
	font-weight: bold;
	margin-right: -5px;
}
/*navigation*/

#header .navigation {
	height: 80px;
	float: right;

}
#header .navigation li {
	
	display: inline-block;
}
#header .navigation li a {
	padding: 0 20px;
	line-height: 80px;
	display: block;
	overflow: hidden;
	color: #efefef;
	font-size: 14px;
}
#header .navigation li:hover a{
		background-color: #120f18;
	}
/*-------------MAIN---------------*/

#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}


/*LANDING block*/

#main .landing{
	display: block;
	position: relative;
	overflow: hidden;
	/*height: 471px;*/
	width: 100%;
	background-color: #161828;
	z-index: 1;
}
.landing .layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}
.landing .bc-gray{
	display: block;
	position: absolute;
	height: 427px;
	width: 860px;
	z-index: -10;
	background-color: #212331;
	top: 46px;
	left: 45px;
	border-radius: 6px;
	/*shadow of the background block*/
	box-shadow:
  -1px 0px #1a1b2b,
  -2px 1px #1a1b2b, 
  -3px 2px #1a1b2b, 
  -4px 3px #1a1b2b, 
  -5px 4px #1a1b2b, 
  -8px 7px #1a1b2b, 
  -9px 8px #1a1b2b, 
  -10px 9px #1a1b2b,
  -11px 10px #1a1b2b,
  -12px 11px #1a1b2b, 
  -13px 12px #1a1b2b, 
  -14px 13px #1a1b2b, 
  -15px 14px #1a1b2b, 
  -16px 15px #1a1b2b, 
  -17px 16px #1a1b2b, 
  -18px 17px #1a1b2b, 
  -19px 18px #1a1b2b, 
  -20px 19px #1a1b2b, 
  -21px 20px #1a1b2b, 
  -22px 21px #1a1b2b, 
  -23px 22px #1a1b2b, 
  -24px 23px #1a1b2b,
  -25px 24px #1a1b2b,
  -26px 25px #1a1b2b,
  -27px 26px #1a1b2b,
  -28px 27px #1a1b2b,
  -29px 28px #1a1b2b,
  -30px 29px #1a1b2b,
  -31px 30px #1a1b2b,
  -32px 31px #1a1b2b,
  -33px 32px #1a1b2b,
  -34px 33px #1a1b2b,
  -35px 34px #1a1b2b,
  -36px 35px #1a1b2b,
  -37px 36px #1a1b2b,
  -38px 37px #1a1b2b,
  -39px 38px #1a1b2b,
  -40px 39px #1a1b2b;

}
/*block with more button*/

.landing .more{
	display: block;
	position: relative;
	float: left;
}
.landing .more h2{
	color: #efefef;
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	padding: 113px 0 40px 0;
	font-weight: bold;
}
.landing .more p{
	color: #efefef;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	padding: 0 0 68px 0;
}
.landing .btn-more {
	display: block;
	width:145px;
	height: 54px;
	border: 0;
	border-radius: 5px;
	background-color: #ea5b58;
	

}
.landing .btn-more a{
	display: inline-block;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #efefef;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 16px;
	}


/* slider white block*/
 .landing .slider {
	display: block;
	position: relative;
	float: right;
	width: 465px;
	height: 350px;
	margin: 55px 0 49px 0;
	background-color: #f5f5f5;
	z-index: 20;
	border-radius: 7px;
	/* shadow of the slider */
  box-shadow:
  -1px 0px rgb(101,103,112), -1px 1px rgb(101,103,112),
  -2px 1px rgb(101,103,112), -2px 2px rgb(101,103,112),
  -3px 2px rgb(99,101,110), -3px 3px rgb(99,101,110),
  -4px 3px rgb(98,100,109), -4px 4px rgb(98,100,109),
  -5px 4px rgb(97,99,108), -5px 5px rgb(97,99,108),
  -6px 5px rgb(96,98,107), -6px 6px rgb(96,98,107),
  -7px 6px rgb(95,97,106), -7px 7px rgb(95,97,106),
  -8px 7px rgb(94,96,105), -8px 8px rgb(94,96,105),
  -9px 8px rgb(93,95,104), -9px 9px rgb(93,95,104),
  -10px 9px rgb(92,94,103), -10px 10px rgb(92,94,103),
  -11px 10px rgb(91,93,102), -11px 11px rgb(91,93,102),
  -12px 11px rgb(90,92,101), -12px 12px rgb(90,92,101),
  -13px 12px rgb(89,91,100), -13px 13px rgb(89,91,100),
  -14px 13px rgb(88,90,99), -14px 14px rgb(88,90,99),
  -15px 14px rgb(87,89,98), -15px 15px rgb(87,89,98),
  -16px 15px rgb(86,88,97), -16px 16px rgb(86,88,97),
  -17px 16px rgb(85,87,96), -17px 17px rgb(85,87,96),
  -18px 17px rgb(84,86,95), -18px 18px rgb(84,86,95),
  -19px 18px rgb(83,85,94), -19px 19px rgb(83,85,94),
  -20px 19px rgb(82,84,93), -20px 20px rgb(82,84,93),
  -21px 20px rgb(81,83,92), -21px 21px rgb(81,83,92);
}


/* OUR SERVICES BLOCK */
#main .services{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	/*height: 554px;*/
	background-color: #475a85;

}

.services .layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}
.services h3{
	font-size: 30px;
	color: #efefef;
	text-transform: capitalize;
	text-align: center;
	margin: 65px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

.services p{
	font-size: 18px;
	color: #efefef;
	text-align: center;
	margin: 0 0 16px 0;
	font-family: 'Open Sans', sans-serif;
}
.services .separator{
	text-align: center;
	margin: 0 0 65px 0;
}
.services .advantages{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.services .advantages .advantages-block{
	display: flex;
	flex-wrap: wrap;
   justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 223px;
	overflow: hidden;
	align-items: center;
}

/*content of blocks of our services */
.advantages .title{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #efefef;
	font-weight: bold;
	margin: 0 0 15px 0;
}

.advantages .description{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #efefef;
	margin: 0 0 32px 0;

}
.advantages .icons{
	margin: 0 0 33px 0;
}

/*buttom more */
.services .advantages .more{
	width: 88px;
	height: 25px;
	background-color: #ea5b58;
	color: #efefef;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	border-radius: 2px;
	padding: 8px 0 0 0;
}
.services .advantages .more a{

	color: #efefef;
	width: 100%;
}

/* OUR WORKS */

.works .layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
	height: 425px;
}

#main .works{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 420px;
	background-image: url(../images/bg-pattern.png);
	background-color: #7b7b7b;

}

.works h3{
	font-size: 48px;
	color: #efefef;
	text-transform: capitalize;
	text-align: center;
	margin: 175px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
}
.works p{
	font-size: 24px;
	color:  #efefef;
	text-align: center;
	padding:  0;
	vertical-align: middle;
	
}

/* PORTFLOIO BLOCK */

#main .portfolio {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 0 90px 0;
}

.portfolio .layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}
.portfolio h3{
	font-size: 30px;
	color: #323232;
	text-transform: capitalize;
	text-align: center;
	margin-top: 84px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

.portfolio p{
	font-size: 18px;
	color: #323232;
	text-align: center;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.portfolio .separator{
	text-align: center;
	margin-bottom: 65px;
}
/* links to portfolio*/
.portfolio .tags{
	display: block;
	text-align: center;
	margin-bottom: 45px;
}
.tags a{
font-size: 18px;
color: #323232;
font-family: 'Open Sans', sans-serif;
}
.tags a:hover{
color: #a7a7a7;
}

.tags span{
font-size: 18px;
color: #323232;
font-family: 'Open Sans', sans-serif;
}

/* gallery */

/* flipper cards */
.portfolio .flip-container{
	perspective: 1000px;
}

/* when hover the cards are shifting */
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

	/* speed */

.flipper{
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
}

/* style of blocks */

.portfolio .photos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
    }

    /* gray front side */

.photos .inactive{
	display: block;
	position: relative;
	width: 370px;
	height: 291px;
	background-color: #7b7b7b;
	margin-bottom: 38px;

	/* rotation */

	z-index: 2;
	transform: rotateY(0deg);

}

/* blue back side */
.photos .active{
	display: flex;
    justify-content: center;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	align-items: center;
	width: 370px;
	height: 291px;
	background-color: #506083;
	margin-bottom: 38px;
	/* rotation */
	transform: rotateY(180deg);
}

.active, .inactive {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}


.photos .active h4{
font-size: 18px;
color: #ffffff;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
text-align: center;
margin-bottom: 20px;

}
.photos .active p{
font-size: 14px;
color: #ffffff;
font-family: 'Open Sans', sans-serif;
padding: 0 50px;

}
/*browse all block*/

.portfolio .browse-all a{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.portfolio .browse-all span{
font-size: 18px;
color: #323232;
font-family: 'Open Sans', sans-serif;
font-weight: bold;

}
.portfolio .browse-all img{
	padding: 10px 0;

}

/* FEEDBACK BLOCK */


#main .feedback{
	display: block;
	width: 100%;
	/*height: 610px;*/
}
.feedback .layout{
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;

}
.feedback h3{
	font-size: 30px;
	color: #323232;
	text-transform: capitalize;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;

}

.feedback .description{
	font-size: 18px;
	color: #323232;
	text-align: center;
	margin: 0 0 15px 0;
	font-family: 'Open Sans', sans-serif;
}
.feedback .separator{
	text-align: center;
	margin: 0 0 55px 0;
}

.feedback .feedback-slider{
	display: flex;
	flex-wrap: wrap;

	overflow: hidden;
	margin: 0 0 0 56px;

}

.feedback-slider .avatar{
	display: block;
	border-radius: 50%;
	background-color: #7b7b7b;
	height: 260px;
	width: 260px;
	border: 5px solid #ebebeb;
	margin: 0 120px 0 50px;
	
}
.feedback-slider .comment{
	display: block;
	max-width: 60%;


	
}
.feedback-slider .comment .post{
	font-size: 18px;
	word-wrap: break-word;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	line-height: 30px;
	padding: 60px 0 20px 0;
	word-spacing: -2px;
}

.feedback-slider .comment .post:before{
	content: "";
	display: block;
	background-image: url(../images/icn-quotes.png);
	background-repeat: no-repeat;
	width: 22px;
    height: 22px;
    float: left;
    margin: 0 0 0 -30px;
}
.feedback-slider .comment .name{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;

}
/* four dots*/
.feedback .option{
	display: block;
	text-align: center;
	margin:  25px 0 40px 0;
}
.feedback .option div{
	display: inline-block;
	background-color: #7b7b7b;
	height: 23px; 
	width: 23px;
	border-radius: 50%;
	margin-right: 7px;

}
	
.feedback .option div:active{
	background-color: #323232;
}
.feedback .option div:hover{
	background-color: #323232;
}

/* get in touch block */

#main .banner{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 420px;
	background-image: url(../images/bg-pattern.png);
	background-color: #7b7b7b;
}

.banner .layout{
margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}
.banner h3{
	font-size: 48px;
	color: #efefef;
	text-transform: capitalize;
	text-align: center;
	margin-top: 155px;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
}
.banner p{
	font-size: 24px;
	color:  #efefef;
	text-align: center;
	padding: 0;
	
}

/* MAP BLOCK */
#main .map {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 515px;
}

.map iframe {
	width: 100%;
	height: 100%;
}

/* CONTACT BLOCK */
#main .contact{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	/*height: 670px;*/
	background-color: #475a85;

}

.services .layout {
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}
.contact h3{
	font-size: 30px;
	color: #efefef;
	text-transform: capitalize;
	text-align: center;
	margin: 83px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

.contact p{
	font-size: 18px;
	color: #efefef;
	text-align: center;
	margin-bottom: 16px;
	font-family: 'Open Sans', sans-serif;
}
.contact .separator{
	text-align: center;
	margin: 0 0 65px 0;
}

/* contact block 'office hours' */

.contact .contact-info{
	display: block;
	float: left;
	overflow: hidden;
}

.contact-info h5, .contact-info .schedule, .contact-info .address, 
.contact-info .phone-number,.contact-info .email{
	text-align: left;
	margin-bottom: 16px;
}

.contact .contact-info h5{
color: #efefef;
font-weight: bold;
}

.contact .contact-info .schedule{
	margin-bottom: 26px;
}

.contact-info .address:before{
	content: "";
	display: block;
	background-image: url(../images/icn-location.png);
	background-repeat: no-repeat;
	width: 22px;
    height: 22px;
    float: left;
    margin: 5px 5px 0 0;

}

.contact-info .phone-number:before{
	content: "";
	display: block;
	background-image: url(../images/icn-phone.png);
	background-repeat: no-repeat;
	width: 22px;
    height: 22px;
    float: left;
    margin: 5px 5px 0 0;

}

.contact-info .email:before{
	content: "";
	display: block;
	background-image: url(../images/icn-mail.png);
	background-repeat: no-repeat;
	width: 22px;
    height: 22px;
    float: left;
    margin: 8px 5px 0 0;

}

/* social icons */

.contact-info .socials{

	display: block;
	overflow: hidden;
}

.socials .twitter{
display: inline-block;
overflow: hidden;
width: 35px ;
height: 35px;
margin: 0 18px 0 0;
background-image: url(../images/icn-twitter-gray.png);
}

.socials .facebook{
display: inline-block;
overflow: hidden;
width: 35px;
height: 35px;
margin: 0 18px 0 0;
background-image: url(../images/icn-fb-gray.png);

}

.socials .google{
display: inline-block;
width: 35px ;
height: 35px;
margin: 0 18px 0 0;
background-image: url(../images/icn-google-gray.png);
}

.socials .twitter a{
display: block;
height: 100%;
width: 100%;
}

.socials .facebook a{
display: block;
height: 100%;
width: 100%;
}

.socials .google a{
display: block;
height: 100%;
width: 100%;
}

.socials .twitter:hover{
background-image: url(../images/icn-twitter-white.png);
}

.socials .facebook:hover{
	background-image: url(../images/icn-fb-white.png);

}

.socials .google:hover{
	background-image: url(../images/icn-google-white.png);

}

/* contact form  block */

.contact .contact-form{
	display: block;
	float: right;
	overflow: hidden;

}

.contact-form .separator-2{
	display: none;
}
.contact-form .name, .mail{
	height:60px;
	width: 255px;
	background-color: #eeeeee;
	border-radius: 4px;
	border: none;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #747474;
	padding: 0 0 0 20px;
	margin: 0 0 19px 0;
}

.contact-form .name{
	margin: 0 22px 20px 0;
}

.contact-form .message{
	width: calc(100% - 20px);
	height: 145px;
	resize: none;
	border-radius: 4px;
	border: none;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #747474;
	background-color: #eeeeee;
	padding: 20px 0 0 20px;
	margin: 0 0 19px 0;
}


.contact-form .submit-button {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 156px;
	height: 57px;
	border: 0;
	border-radius: 5px;
	background-color: #ea5b58;
	color: #efefef;
	margin: 0 0 19px 0;
	
}

/* buttnon UP */

.contact .btn-up{
	display: block;
	position: absolute;
	width: 58px;
	height: 58px;
	background: #c2c2c2;
	background-image: url(../images/btn-up-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	bottom: 40px;
	right: 25px;
	border-radius: 5px;
}

.contact .btn-up a{
	display: block;
	width: 100%;
	height: 100%;
}

/* FOOTER */

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	height: 175px;
	margin:0 0 0;
	padding:0 0;
	background-color: #161828;
}

#footer .layout{
	margin: 0 auto 0 auto;
	position:relative;
	width:1170px;
}

#footer .copyright{
	display: block;
	text-align: center;
	padding: 58px 0 0 0;
}
.copyright .part-1, .part-2{
	display: inline-block;
	font-family: "Open Sans";
	font-size:24px;
	color: #76777f;
	line-height: 80px;
}

.copyright .part-1{
	font-weight: bold;
	margin-right: -5px;
}

.copyright p{
	font-size:14px;
	color: #76777f;
	font-family: "Open Sans";
}




/****************************************************************              PC              ***************************************************/
@media (min-width: 1190px) and (max-width: 1359px) {

#header .layout{
		width: 90%;
		padding: 0 5%;
}

.landing .layout{
	width: 90%;
		padding: 0 5%;
}

.services .layout{
	width: 90%;
	padding: 0 5%;
}
.feedback .layout{
	width: 100%;
}
.feedback-slider .comment .post{
	padding: 65px 50px 10px 0;
	}

/* GET IN TOUCH BLOCK */

.banner .layout{
	width: 90%;
	padding: 0 5%;
}

/* CONTACT BLOCK */ 
.contact .layout{
	width: 87%;
	padding: 0 9% 0 4%;
}

/* FOOTER */

#footer .layout{
	width: 90%;
	padding: 0 5%;
}
}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 1189px) {
	
	/* HEADER */
	#header .layout{
		width: 90%;
		padding: 0 5%;
	}
	/* LANDING SLIDER BLOCK */
	.landing .layout {
		width: 90%;
		padding: 0 5%;
	}

	.landing .bc-gray{
		width: 100%;
		height: 100%;
		top: 10px;
	}
	.landing .slider {
	float: none;
	margin: 40px auto 30px auto;
	}
	.landing .more{
	text-align: center;
	float: none;
	margin: auto 0 auto 0;
	}
	.landing .more h2{
		padding: 50px 0 25px 0;
	}
	.landing .more p{
		padding: 0 0 40px 0;
	}
	.landing .btn-more {
		margin: 0 auto 20px auto;
	}

		/* OUR SERVICES BLOCK */

	.services .layout {
	padding: 0 5%;
	width: 90%;
}
 .services h3{
 	margin: 40px 0 0 0;
 	font-size: 28px;
 }
.services .advantages{
	
	justify-content: space-around;
	margin: 0 0 20px 0;
}
.services .advantages .advantages-block{
	width: 50%;
	
} 
.services .separator {
    text-align: center;
    margin: 0 0 50px 0;
}
.advantages .icons{
margin: 10px 0;
}
.advantages .title{
	text-align: justify;
	margin: 0 0 15px 0;

}
.advantages .description{
	margin: 0 0 10px 0;
	width: 60%;
}

.services .advantages .more{
	width: 38px;
	height: 23px;
	font-size: 12px;
	line-height: 23px;
	margin: 0 auto 20px auto;
	padding: 5px 20px;
}

/* OUR WORKS */
.works .layout {
	width: 90%;
	padding: 0 5%;
}

#main .works{
	height: 350px;
}

.works h3{
	font-size: 44px;
	margin: 120px 0 0 0;
}
.works p{
	font-size: 22px;
}
/*PORTFOLIO BLOCK */
	.portfolio .layout {
		width: 90%;
		padding: 0 5%;
	}

	.portfolio .photos {
	margin: 0 0 15px 0;
	justify-content: space-around;
	}
.photos .inactive{
	width: 300px;
	height: 236px;
}
.photos .active{
	width: 300px;
	height: 236px;
}


/*FEEDBACK BLOCK*/

.feedback .layout{
	padding: 0 5%;
	width: 90%;
}
.feedback h3{
	font-size: 28px;
	}

.feedback .separator{
	margin: 0 0 25px 0;
}

.feedback .feedback-slider{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	margin: 0 0 0 40px;

}

.feedback-slider .avatar{
	display: block;
	border-radius: 50%;
	background-color: #7b7b7b;
	height: 200px;
	width: 200px;
	border: 5px solid #ebebeb;
	margin: 0 50px 0 0;
}
.feedback-slider .comment{
	display: block;
	max-width: 60%;

	
}
.feedback-slider .comment .post{
	font-size: 16px;
	line-height: 26px;
	padding: 40px 0 10px 0;
	
}

.feedback-slider .comment .name{
	font-size: 20px;
}

.feedback .option div{
	height: 20px; 
	width: 20px;
	margin-right: 5px;

}


/* GET IN TOUCH BLOCK */
.banner .layout {
	width: 90%;
	padding: 0 5%;
}

#main .banner{
	height: 350px;
}
.banner h3{
	font-size: 44px;
	margin: 120px 0 0 0;
}
.banner p{
	font-size: 22px;
}
/* MAP BLOCK */
#main .map {
	height: 400px;
}
/* CONTACT US BLOC */

.contact .layout {
	width: 90%;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-info .socials{
	float: right;
	margin: 20px 18px 20px 50px;
}

.contact h3{
	font-size: 28px;
	margin: 40px 0 0 0;
}
.contact .separator{
	text-align: center;
	margin: 0 0 50px 0;
	}
.contact-form .separator-2{
	display: block;
	text-align: center;
	margin: 0 0 30px 0;
	}
.contact .contact-info .schedule{
	margin: 0 0 10px 0;
}

.contact .contact-form{
	float: none;
}

.contact-form .submit-button {
	width: 120px;
	height: 45px;

}

.contact .btn-up{
	bottom: 15px;
	}

	/* FOOTER */

#footer {
	height: 160px;
}

#footer .layout{
	width: 90%;
	padding: 0 5% 0 5%;
}

#footer .copyright{
padding: 60px  0 0 0;
}
.copyright .part-1, .part-2{
line-height: 40px;
}

}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {

	/* HEADER */
	#header .layout {
		width: 90%;
		padding: 0 5%;
	}

	#header {
	display:block;
	height: 250px;
		
}
	#header .logo {
	float: none;
	text-align: center;
	}
	#header .navigation {
	height: 150px;
	float: none;
	display: block;

}
	#header .navigation li {
	width: 100%;
	display: block;
}
	#header .navigation li a {
	padding: 0;
	line-height: 30px;
	display: block;
	text-align: center;
}

/* LANDING BLOCK */


.landing .layout {
	width: 90%;
	padding: 0 5% 0 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.landing .bc-gray{
	height: 100%;
	width: 100%;
	top: 17px; 
	left: 70px;
	border-radius: 6px;
	/*shadow of the background block*/
	box-shadow:
  -1px 0px #1a1b2b,
  -2px 1px #1a1b2b, 
  -3px 2px #1a1b2b, 
  -4px 3px #1a1b2b, 
  
}

/* white block of slider */
	.landing  .slider {
	float: none;
	height: 225px;
	width: 300px;
	margin: 20px auto 15px auto;
	border-radius: 3px;
  box-shadow:
  -1px 0px rgb(101,103,112), -1px 1px rgb(101,103,112),
  -2px 1px rgb(101,103,112), -2px 2px rgb(101,103,112),
  -3px 2px rgb(99,101,110), -3px 3px rgb(99,101,110),
  -4px 3px rgb(98,100,109), -4px 4px rgb(98,100,109),
  -5px 4px rgb(97,99,108), -5px 5px rgb(97,99,108),
  -6px 5px rgb(96,98,107), -6px 6px rgb(96,98,107),
  -7px 6px rgb(95,97,106), -7px 7px rgb(95,97,106),
  -8px 7px rgb(94,96,105), -8px 8px rgb(94,96,105),
  -9px 8px rgb(93,95,104), -9px 9px rgb(93,95,104),
  -10px 9px rgb(92,94,103), -10px 10px rgb(92,94,103)
	}
.landing .more{
	width: 80%;
	text-align: center;
	float: none;
	margin: auto 0 auto 0;
}

.landing .more h2{
	font-size: 25px;
	padding: 10px 0 20px 0;
	
}
.landing .more p{
	color: #efefef;
	font-size: 15px;
	padding: 0 0 20px 0;
}
.landing .btn-more {

	width: 80px;
	height: 34px;
	border: 0;
	border-radius: 3px;
	background-color: #ea5b58;
	margin: 0 auto 20px auto;
}

.landing .btn-more a{
	padding: 8px 0 20px 0;
	font-size: 14px;
	}

/* SERVICES BLOCK */ 
.services .layout {
	padding: 0 5%;
	width: 90%;
}
 .services h3{
 	margin: 25px 0 0 0;
 	font-size: 26px;
 }
.services .advantages{
	flex-direction: column;
	align-items: center;
	margin: 0 0 20px 0;
}
.services .advantages .advantages-block{
	width: 70%;
	display: block;
	padding: 0 5%;
}
.services .separator {
    text-align: center;
    margin: 0 0 25px 0;
}
.advantages .icons{
float: left;
margin: 10px 20px 20px 0;
}
.advantages .title{
	text-align: justify;
	margin: 0 0 15px 0;
}
.advantages .description{
	text-align: justify;
	margin: 0 0 10px 0;
}

.services .advantages .more{
	width: 38px;
	height: 23px;
	font-size: 12px;
	line-height: 23px;
	margin: 0 0 20px 0;
	float: right;
	padding: 3px 16px;


}

/* OUR WORKS */
.works .layout {
	width: 90%;
	padding: 0 5%;
}

#main .works{
	height: 250px;
}

.works h3{
	font-size: 34px;
	margin: 90px 0 0 0;
}
.works p{
	font-size: 20px;
}

/* PORTFLOIO BLOCK */
#main .portfolio {
	margin: 0 0 0 0;
}
.portfolio .layout {
	width: 90%;
	padding: 0 5%;
}

.portfolio h3{
	font-size: 26px;
	margin: 30px 0 0 0;

}

.portfolio .separator{
	margin: 0 0 25px 0;
}

.portfolio .tags{
	margin: 0 0 25px 0;
}
.portfolio .photos {
	margin: 0 0 15px 0;

	justify-content: space-around;
	}
.photos .inactive{
	width: 300px;
	height: 236px;
}
.photos .active{
	width: 300px;
	height: 236px;
}
/* FEEDBACK BLOCK */


#main .feedback{
	display: block;
	width: 100%;
}
.feedback .layout{
	width: 90%;
	padding: 0 5%;

}

.feedback h3{
	font-size: 26px;
}

.feedback .separator{
	text-align: center;
	margin: 0 0 25px 0;
}

.feedback .feedback-slider{
	flex-direction: column;
	align-items: center;
	margin: 0 0 20px 0;
	}

.feedback-slider .avatar{
	
	height: 130px;
	width: 130px;
	border: 4px solid #ebebeb;
	margin: 0;
}

.feedback-slider .comment{
	max-width: 80%;	


}

.feedback-slider .comment .post{
	font-size: 14px;
	padding: 30px 0 12px 0;
	word-spacing: -2px;
	line-height: 24px;
}

.feedback-slider .comment .name{
	font-size: 18px;
	float: right;
	padding: 0 25px 0 0;

}

.feedback .option div{
	height: 17px; 
	width: 17px;
	margin: 0 5px 15px 0; 
}

/* get in touch block */

.banner .layout{
	width: 90%;
	padding: 0 5%;
}

#main .banner{
	height: 250px;
}

.banner h3{
	font-size: 34px;
	margin: 90px 0 0 0;
}
.banner p{
	font-size: 20px;
}

/* MAP BLOCK */
#main .map {
	height: 300px;
}
/* CONTACT US BLOC */

.contact .layout {
	width: 90%;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-info .socials{
	float: right;
	margin: 20px 18px 20px 50px;
}

.contact h3{
	font-size: 26px;
	margin: 30px 0 0 0;
}
.contact .separator{
	text-align: center;
	margin: 0 0 30px 0;
	}
.contact-form .separator-2{
	display: block;
	text-align: center;
	margin: 0 0 30px 0;
	}
.contact .contact-info .schedule{
	margin: 0 0 10px 0;
}

.contact .contact-form{
	float: none;
}

.contact-form .name{
	width: calc(100% - 20px);
}
.contact-form .mail{
	width: calc(100% - 20px);
}
.contact-form .submit-button {
	width: 120px;
	height: 45px;

}

.contact .btn-up{
	bottom: 15px;
	}

	/* FOOTER */

#footer {
	height: 100px;
}

#footer .layout{
	width: 100%;
	padding: 0 5% 0 5%;
}

#footer .copyright{
padding: 25px  0 0 0;
}
.copyright .part-1, .part-2{
line-height: 40px;
}

}
