@charset "UTF-8";
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/source-sans-pro.regular-webfont.eot');
    src: url('../fonts/source-sans-pro.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/source-sans-pro.regular-webfont.woff') format('woff'),
         url('../fonts/source-sans-pro.regular-webfont.ttf') format('truetype'),
         url('../fonts/source-sans-pro.regular-webfont.svg#source-sans-pro.regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('../fonts/SourceSansPro-Semibold.eot');
    src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
         url('../fonts/SourceSansPro-Semibold.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "matchsquared";
  src:url("../fonts/matchsquared.eot");
  src:url("../fonts/matchsquared.eot?#iefix") format("embedded-opentype"),
    url("../fonts/matchsquared.woff") format("woff"),
    url("../fonts/matchsquared.ttf") format("truetype"),
    url("../fonts/matchsquared.svg#matchsquared") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "matchsquared" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "matchsquared" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-arrow-down:before {
  content: "a";
}
.icon-ico-arrow-send:before {
  content: "b";
}
.icon-ico-create-profile:before {
  content: "c";
}
.icon-ico-customize-search:before {
  content: "d";
}
.icon-ico-email:before {
  content: "e";
}
.icon-ico-facebook:before {
  content: "f";
}
.icon-ico-google:before {
  content: "g";
}
.icon-ico-linkedin:before {
  content: "h";
}
.icon-ico-login:before {
  content: "i";
}
.icon-ico-login-side:before {
  content: "j";
}
.icon-ico-logo:before {
  content: "k";
}
.icon-ico-logo-short:before {
  content: "l";
}
.icon-ico-logo-straight:before {
  content: "m";
}
.icon-ico-name:before {
  content: "n";
}
.icon-ico-register:before {
  content: "o";
}
.icon-ico-share:before {
  content: "p";
}
.icon-ico-social-exit:before {
  content: "q";
}
.icon-ico-twitter:before {
  content: "r";
}
