
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
@media (min-width: 1218px) and (max-width: 10000px) {
/* wrapper */
#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
	/*background-color: #282828; */
}

.layout {
	margin:0 auto;
	position:relative;
	width: 768px;
}

#header {
	width:100%;
	display:block;
	position:relative;
	height: 63px;
	background-color: #2d2d2d; 
}


#header .hamburger{
	display: none;
}

#header .cross{
	display: none;
}

#header .menu{
	float: left;
	overflow:hidden;
	
	
}

#header .menu ul{
	display:block;
	overflow:hidden;
	padding-top: 36px; 
	
}

#header .menu ul a{
	display:inline-block;
	overflow:hidden;
	
	
}

#header .menu ul a li {
	display:inline-block;
	overflow:hidden;
	padding-right: 30px; 
	font-size: 14px;
	font-weight: 400;
	color: #d5d5d5;
	cursor: pointer;
	font-family: Open Sans;
}


#header .menu ul a:hover li {
        color: #63baa9;
}



#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}

#content {
	overflow:hidden;
	display:block;
	width:100%;
}

#content .picture{
	overflow:hidden;
	display:block;
	height: 463px;
	padding: 0;
	margin: 0;
	width:100%;
	
}

#content .picture img{
	overflow:hidden;
	display:block;
	padding: 0;
	margin: 0;
	width:100%;

}
#content .portfolio{
	overflow:hidden;
	display:block;
	width:100%;
	height: 880px;
	background-color: #63baa9; 
	 
	border-color: transparent 1.3; 
}

#content .portfolio h3{
	overflow:hidden;
	float: left;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff; 
	margin: 61px 0 0 0; 
	font-family: Roboto;
} 

#content .portfolio .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 562px;
	background-color: #ffffff;
	margin: 78px 0 84px 46px; 

	  
}




#content .portfolio ul{
	overflow:hidden;
	display:block;
	padding: 0 0 74px 0;
}

#content .portfolio ul li{
	float: left;
	overflow:hidden;
}

#content .portfolio ul li.text{
	overflow:hidden;
	display:block;
	width: 458px;
	height: 206px;
	background-color: #f7671d; 
	padding: 38px 30px 0 19px;
}

#content .portfolio ul li.text h3{
	overflow:hidden;
	display:block;
	font-size: 16px;
	font-weight: 600;
	color: #feeeea;
	padding-bottom: 25px;  
	line-height: 22px;
	margin: 0;
	text-transform: uppercase;
	font-family: Open Sans;
}

#content .portfolio ul li.text p{
	float: left;
	display:block;
	font-size: 14px;
	font-weight: 400;
	color: #fdddd3;
	padding: 0;
	margin: 0;
	line-height: 17px;
	font-family: 
	font-family: Open Sans;
}

#content .portfolio ul li.white{
	float: right;
	overflow:hidden;
	height: 244px;
	width: 248px;
	background-color: #ffffff; 

}

#content .portfolio ul li.white p.number{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 175px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}

#content .portfolio ul li.white p{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little{
	float: left;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px 0 0 0;
}

#content .portfolio ul li.little p.no{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little p.words{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little1{
	float: left;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px 12px 0 12px;
}

#content .portfolio ul li.little1 p.no{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little1 p.words{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	height: 392px;
	background-color: #303646; 
	z-index: 10;
	position: relative;
}

#footer img.nout {
	
	display:block;
	overflow:hidden;
	margin:0 0 0;
	padding:0 0;
	z-index: 50;
	position: absolute;
	right: 0;
	top: 0;
}

#footer .contacts{
	display: block;
	overflow:hidden;
}

#footer .contacts h3{
	overflow:hidden;
	float: left;
	padding: 66px 0 0 0;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
	font-family: Roboto;
}

#footer .contacts .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 562px;
	background-color: #ffffff;
	margin: 85px 0 23px 58px;
}

#footer .contacts ul{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li{
	float: left;
	overflow:hidden;
	
	
}

#footer .contacts ul li.write{
	display: block;
	overflow:hidden;
	width: 485px;
	padding: 0 28px 0 0;
}

#footer .contacts ul li.write h4{
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #a3612d;
	padding: 3px 0 0 3px; 
	font-family: Roboto;
	
}

#footer .contacts ul li.write .line1{
	float: right;
	overflow:hidden;
	height: 1px;
	width: 361px;
	background-color: #4e4d4d;
	margin: 11px 0px 31px 23px;
}

#footer .contacts ul li.write form{
	float: left;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname label{
	display: block;
	overflow:hidden;
	font-size: 12px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 0 5px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text1{
	display: block;
	overflow:hidden;
	width: 226px;
	height: 20px;
	background-color: #ffffff; 
	padding-bottom: 5px; 
}

#footer .contacts ul li.write form .email{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .email label{
	display: block;
	overflow:hidden;
	font-size: 12px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 0 5px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text2{
	display: block;
	overflow:hidden;
	width: 226px;
	height: 20px;
	background-color: #ffffff; 

}

#footer .contacts ul li.write form .message{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .message label{
	display: block;
	overflow:hidden;
	font-size: 12px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 0 5px; 
	font-family: Roboto;
}
#footer .contacts ul li.write form .message #textarea{
	display: block;
	overflow: hidden;
	width: 457px;
	height: 66px;
	background-color: #ffffff; 
	color: #000000;
	margin-bottom: 10px; 
}

#footer .contacts ul li.write form .submit{
	float: right;
	overflow: hidden;
	width: 72px;
	height: 18px;
	background-color: #f7671d;
	border-radius: 4px 5px 4px 5px;
	border: none;
	padding: 0;
	margin: 0 22px 0 388px;
	color: #ffffff;
	cursor: pointer;
	font-family: Roboto;
}

#footer .contacts ul li.social{
	display: block;
	overflow:hidden;
	width: 255px;
	
}

#footer .contacts ul li.social h4{
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 0; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social h5{
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 0; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social .line2{
	float: left;
	overflow:hidden;
	height: 2px;
	width: 130px;
	background-color: #4e4d4d;
	margin: 10px 0 25px 0;


}


#footer .contacts ul li.social p {
	float: left;
	overflow:hidden;
	width: 100%;
}

#footer .contacts ul li.social p.ico {
	float: left;
	overflow:hidden;
	

}
#footer .contacts ul li.social p.ico a{
	float: left;
	overflow:hidden;
	width: 27px;
	height: 28px;
	margin: 0 11px 26px 0;
}

#footer .contacts ul li.social p.ico a img{
	float: left;
	overflow:hidden;
	width: 27px;
	height: 29px;
	
}

#footer .contacts ul li.social .line3{
	float: left;
	overflow:hidden;
	height: 1px;
	width: 72px;
	background-color: #4e4d4d;
	margin: 11px 0 0 0;


}

#footer .contacts ul li.social ul{
	float: right;
	overflow:hidden;
}

#footer .contacts ul li.social ul li{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.social ul li.info{
	float: left;
	overflow:hidden;
	width: 100%;
}

#footer .contacts ul li.social ul li.info img{
	float: left;
	overflow:hidden;
	margin: 0 7px 6px 0; 
}

#footer .contacts ul li.social ul li.info p{
	float: left;
	overflow:hidden;
}

#footer .contacts ul li.social ul li.info p.address{
	
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #4e4d4d;
	line-height: 26px;
	width: 85%;
	font-family: Roboto;
}

}
/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {
	#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
	/*background-color: #282828; */
}

.layout {
	margin:0 auto;
	position:relative;
	width: 768px;
}

#header {
	width:100%;
	display:block;
	position:relative;
	height: 63px;
	background-color: #2d2d2d; 
}

#header .hamburger{
	display: none;
}

#header .cross{
	display: none;
}

#header .menu{
	float: left;
	overflow:hidden;
	
	
}

#header .menu ul{
	display:block;
	overflow:hidden;
	padding-top: 36px; 
	
}

#header .menu ul a{
	display:inline-block;
	overflow:hidden;
	
	
}

#header .menu ul a li {
	display:inline-block;
	overflow:hidden;
	padding-right: 30px; 
	font-size: 14px;
	font-weight: 400;
	color: #d5d5d5;
	cursor: pointer;
	font-family: Open Sans;
}


#header .menu ul a:hover li {
        color: #63baa9;
}



#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}

#content {
	overflow:hidden;
	display:block;
	width:100%;
}

#content .picture{
	overflow:hidden;
	display:block;
	height: 463px;
	padding: 0;
	margin: 0;
	width:100%;
	
}

#content .picture img{
	overflow:hidden;
	display:block;
	padding: 0;
	margin: 0;
	width:100%;

}
#content .portfolio{
	overflow:hidden;
	display:block;
	width:100%;
	height: 880px;
	background-color: #63baa9; 
	 
	border-color: transparent 1.3; 
}

#content .portfolio h3{
	overflow:hidden;
	float: left;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff; 
	margin: 61px 0 0 0; 
	font-family: Roboto;
} 

#content .portfolio .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 562px;
	background-color: #ffffff;
	margin: 78px 0 84px 46px; 

	  
}




#content .portfolio ul{
	overflow:hidden;
	display:block;
	padding: 0 0 74px 0;
}

#content .portfolio ul li{
	float: left;
	overflow:hidden;
}

#content .portfolio ul li.text{
	overflow:hidden;
	display:block;
	width: 458px;
	height: 206px;
	background-color: #f7671d; 
	padding: 38px 30px 0 19px;
}

#content .portfolio ul li.text h3{
	overflow:hidden;
	display:block;
	font-size: 16px;
	font-weight: 600;
	color: #feeeea;
	padding-bottom: 25px;  
	line-height: 22px;
	margin: 0;
	text-transform: uppercase;
	font-family: Open Sans;
}

#content .portfolio ul li.text p{
	float: left;
	display:block;
	font-size: 14px;
	font-weight: 400;
	color: #fdddd3;
	padding: 0;
	margin: 0;
	line-height: 17px;
	font-family: 
	font-family: Open Sans;
}

#content .portfolio ul li.white{
	float: right;
	overflow:hidden;
	height: 244px;
	width: 248px;
	background-color: #ffffff; 

}

#content .portfolio ul li.white p.number{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 175px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}

#content .portfolio ul li.white p{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little{
	float: left;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px 0 0 0;
}

#content .portfolio ul li.little p.no{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little p.words{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little1{
	float: left;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px 12px 0 12px;
}

#content .portfolio ul li.little1 p.no{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little1 p.words{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	height: 392px;
	background-color: #303646; 
	z-index: 10;
	position: relative;
}

#footer img.nout {
	
	display:block;
	overflow:hidden;
	margin:0 0 0;
	padding:0 0;
	z-index: 50;
	position: absolute;
	right: 0;
	top: 0;
}

#footer .contacts{
	display: block;
	overflow:hidden;
}

#footer .contacts h3{
	overflow:hidden;
	float: left;
	padding: 66px 0 0 0;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
	font-family: Roboto;
}

#footer .contacts .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 562px;
	background-color: #ffffff;
	margin: 85px 0 23px 58px;
}

#footer .contacts ul{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li{
	float: left;
	overflow:hidden;
	
	
}

#footer .contacts ul li.write{
	display: block;
	overflow:hidden;
	width: 485px;
	padding: 0 28px 0 0;
}

#footer .contacts ul li.write h4{
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #a3612d;
	padding: 3px 0 0 3px; 
	font-family: Roboto;
	
}

#footer .contacts ul li.write .line1{
	float: right;
	overflow:hidden;
	height: 1px;
	width: 361px;
	background-color: #4e4d4d;
	margin: 11px 0px 31px 23px;
}

#footer .contacts ul li.write form{
	float: left;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname label{
	display: block;
	overflow:hidden;
	font-size: 12px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 0 5px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text1{
	display: block;
	overflow:hidden;
	width: 226px;
	height: 20px;
	background-color: #ffffff; 
	padding-bottom: 5px; 
}

#footer .contacts ul li.write form .email{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .email label{
	display: block;
	overflow:hidden;
	font-size: 12px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 0 5px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text2{
	display: block;
	overflow:hidden;
	width: 226px;
	height: 20px;
	background-color: #ffffff; 

}

#footer .contacts ul li.write form .message{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .message label{
	display: block;
	overflow:hidden;
	font-size: 12px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 0 5px; 
	font-family: Roboto;
}
#footer .contacts ul li.write form .message #textarea{
	display: block;
	overflow: hidden;
	width: 457px;
	height: 66px;
	background-color: #ffffff; 
	color: #000000;
	margin-bottom: 10px; 
}

#footer .contacts ul li.write form .submit{
	float: right;
	overflow: hidden;
	width: 72px;
	height: 18px;
	background-color: #f7671d;
	border-radius: 4px 5px 4px 5px;
	border: none;
	padding: 0;
	margin: 0 22px 0 388px;
	color: #ffffff;
	cursor: pointer;
	font-family: Roboto;
}

#footer .contacts ul li.social{
	display: block;
	overflow:hidden;
	width: 255px;
	
}

#footer .contacts ul li.social h4{
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 0; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social h5{
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 0; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social .line2{
	float: left;
	overflow:hidden;
	height: 2px;
	width: 130px;
	background-color: #4e4d4d;
	margin: 10px 0 25px 0;


}


#footer .contacts ul li.social p {
	float: left;
	overflow:hidden;
	width: 100%;
}

#footer .contacts ul li.social p.ico {
	float: left;
	overflow:hidden;
	

}
#footer .contacts ul li.social p.ico a{
	float: left;
	overflow:hidden;
	width: 27px;
	height: 28px;
	margin: 0 11px 26px 0;
}

#footer .contacts ul li.social p.ico a img{
	float: left;
	overflow:hidden;
	width: 27px;
	height: 29px;
	
}

#footer .contacts ul li.social .line3{
	float: left;
	overflow:hidden;
	height: 1px;
	width: 72px;
	background-color: #4e4d4d;
	margin: 11px 0 0 0;


}

#footer .contacts ul li.social ul{
	float: right;
	overflow:hidden;
}

#footer .contacts ul li.social ul li{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.social ul li.info{
	float: left;
	overflow:hidden;
	width: 100%;
}

#footer .contacts ul li.social ul li.info img{
	float: left;
	overflow:hidden;
	margin: 0 7px 6px 0; 
}

#footer .contacts ul li.social ul li.info p{
	float: left;
	overflow:hidden;
}

#footer .contacts ul li.social ul li.info p.address{
	
	float: left;
	overflow:hidden;
	font-size: 14px;
	font-weight: 400;
	color: #4e4d4d;
	line-height: 26px;
	width: 85%;
	font-family: Roboto;
}
}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	#wrapper {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
	/*background-color: #282828; */
}

.layout {
	margin:0 auto;
	position:relative;
	width: 744px;

}

#header {
	width:100%;
	display:block;
	position:relative;
	height: 65px;
	background-color: #2d2d2d; 
}

#header .hamburger{
	display: none;
}

#header .cross{
	display: none;
}

#header .menu{
	display: block;
	overflow:hidden;
	text-align: center;
	
}

#header .menu ul{
	display:block;
	overflow:hidden;
	padding-top: 20px; 
	
}

#header .menu ul a{
	display:inline-block;
	overflow:hidden;
	
	
}

#header .menu ul a li {
	display:inline-block;
	overflow:hidden;
	padding-right: 30px; 
	font-size: 26px;
	font-weight: 400;
	color: #d5d5d5;
	cursor: pointer;
	font-family: Open Sans;
}


#header .menu ul a:hover li {
        color: #63baa9;
}



#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}

#content {
	overflow:hidden;
	display:block;
	width:100%;
}

#content .picture{
	overflow:hidden;
	display:block;
	
	padding: 0;
	margin: 0;
	width:100%;
	
}

#content .picture img{
	overflow:hidden;
	display:block;
	padding: 0;
	margin: 0;
	width:100%;


}
#content .portfolio{
	overflow:hidden;
	display:block;
	width:100%;
	
	background-color: #63baa9; 
	
	border-color: transparent 1.3; 
}

#content .portfolio h3{
	overflow:hidden;
	float: left;
	font-size: 50px;
	font-weight: 500;
	color: #ffffff; 
	margin: 48px 0 0 15px; 
	font-family: Roboto;
} 

#content .portfolio .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 400px;
	background-color: #ffffff;
	margin: 78px 0 84px 31px; 

	  
}




#content .portfolio ul{
	overflow:hidden;
	display:block;
	padding: 0 5px 74px 5px;
}

#content .portfolio ul li{
	float: left;
	overflow:hidden;
}

#content .portfolio ul li.text{
	overflow:hidden;
	display:block;
	width: 59.7%;
	height: 206px;
	background-color: #f7671d; 
	padding: 38px 30px 0 19px;
}

#content .portfolio ul li.text h3{
	overflow:hidden;
	display:block;
	font-size: 30px;
	font-weight: 600;
	color: #feeeea;
	padding-bottom: 25px;  
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
	font-family: Open Sans;
}

#content .portfolio ul li.text p{
	float: left;
	display:none;
	font-size: 18px;
	font-weight: 400;
	color: #fdddd3;
	padding: 0;
	margin: 0;
	line-height: 17px;
	font-family: 
	font-family: Open Sans;
}

#content .portfolio ul li.white{
	float: right;
	overflow:hidden;
	height: 244px;
	width: 32.8%;
	background-color: #ffffff; 

}

#content .portfolio ul li.white p.number{
	overflow:hidden;
	display:block;
	font-size: 32px;
	font-weight: 400;
	color: #d1751a;
	padding: 35px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}

#content .portfolio ul li.white p{
	overflow:hidden;
	display:block;
	font-size: 32px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little{
	float: left;
	overflow:hidden;
	height: 121px;
	width: 32.7%;
	background-color: #ffffff; 
	margin: 10px 0 0 0;
}

#content .portfolio ul li.little p.no{
	overflow:hidden;
	display:block;
	font-size: 32px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little p.words{
	overflow:hidden;
	display:none;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little1{
	float: left;
	overflow:hidden;
	height: 121px;
	width: 32.7%;
	background-color: #ffffff; 
	margin: 10px 6.7px 0 6.7px;
}

#content .portfolio ul li.little1 p.no{
	overflow:hidden;
	display:block;
	font-size: 32px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little1 p.words{
	overflow:hidden;
	display:none;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	
	background-color: #303646; 
	z-index: 10;
	position: relative;
}

#footer img.nout {
	
	display:none;
	overflow:hidden;
	margin:0 0 0;
	padding:0 0;
	z-index: 50;
	position: absolute;
	right: 0;
	top: 0;
}

#footer .contacts{
	display: block;
	overflow:hidden;
}

#footer .contacts h3{
	overflow:hidden;
	float: left;
	padding: 55px 0 0 15px;
	font-size: 50px;
	font-weight: 500;
	color: #ffffff;
	font-family: Roboto;
}

#footer .contacts .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 460px;
	background-color: #ffffff;
	margin: 85px 0 23px 43px;
}

#footer .contacts ul{
	display: block;
	overflow:hidden;
	width: 100%;
}

#footer .contacts ul li{
	float: left;
	overflow:hidden;
	
	
}

#footer .contacts ul li.write{
	display: block;
	overflow:hidden;
	width: 55%;
	padding: 0 13px 0 15px;
	margin: 20px 0 0 0;

}

#footer .contacts ul li.write h4{
	float: left;
	overflow:hidden;
	font-size: 34px;
	font-weight: 400;
	color: #a3612d;
	padding: 3px 0 0 3px; 
	font-family: Roboto;
	
}

#footer .contacts ul li.write .line1{
	float: right;
	overflow:hidden;
	height: 1px;
	width: 180px;
	background-color: #4e4d4d;
	margin: 25px 0px 31px 23px;
}

#footer .contacts ul li.write form{
	float: left;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname label{
	display: block;
	overflow:hidden;
	font-size: 32px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 15px 5px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text1{
	display: block;
	overflow:hidden;
	width: 60%;
	height: 40px;
	background-color: #ffffff; 
	padding-bottom: 5px; 
	font-size: 32px;
	font-weight: 400;
}

#footer .contacts ul li.write form .email{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .email label{
	display: block;
	overflow:hidden;
	font-size: 32px;
	font-weight: 400;
	color: #868686;
	padding: 15px 0 15px 5px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text2{
	display: block;
	overflow:hidden;
	width: 60%;
	height: 40px;
	background-color: #ffffff; 
	font-size: 32px;
	font-weight: 400;

}

#footer .contacts ul li.write form .message{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .message label{
	display: block;
	overflow:hidden;
	font-size: 32px;
	font-weight: 400;
	color: #868686;
	padding: 15px 0 15px 5px; 
	font-family: Roboto;
}
#footer .contacts ul li.write form .message #textarea{
	display: block;
	overflow: hidden;
	width: 95%;
	height: 178px;
	background-color: #ffffff; 
	color: #000000;
	margin-bottom: 10px; 
	font-size: 32px;
	font-weight: 400;
}

#footer .contacts ul li.write form .submit{
	float: right;
	overflow: hidden;
	width: 50%;
	height: 48px;
	background-color: #f7671d;
	border-radius: 4px 5px 4px 5px;
	border: none;
	padding: 0;
	margin: 20px 22px 30px 250px;
	color: #ffffff;
	cursor: pointer;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 400;
}

#footer .contacts ul li.social{
	display: block;
	overflow:hidden;
	width: 38.5%;
	margin: 0 0 45px 0;
	
}

#footer .contacts ul li.social h4{
	float: left;
	overflow:hidden;
	font-size: 34px;
	font-weight: 400;
	color: #000000;
	padding: 25px 12px 16px 0; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social h5{
	float: left;
	overflow:hidden;
	font-size: 34px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 0; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social .line2{
	float: left;
	overflow:hidden;
	height: 2px;
	width: 28px;
	background-color: #4e4d4d;
	margin: 45px 0 25px 0;


}


#footer .contacts ul li.social p {
	float: left;
	overflow:hidden;
	width: 150%;
}

#footer .contacts ul li.social p.ico {
	float: left;
	overflow:hidden;
	

}
#footer .contacts ul li.social p.ico a{
	float: left;
	overflow:hidden;
	width: 15%;
	height: 15%;
	margin: 0 15px 26px 0;
}

#footer .contacts ul li.social p.ico a img{
	float: left;
	overflow:hidden;
	width: 130%;
	height: 130%;
	
}

#footer .contacts ul li.social .line3{
	float: left;
	overflow:hidden;
	height: 1px;
	width: 95%;
	background-color: #4e4d4d;
	margin: 5px 0 20px 0;


}

#footer .contacts ul li.social ul{
	float: right;
	overflow:hidden;
}

#footer .contacts ul li.social ul li{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.social ul li.info{
	float: left;
	overflow:hidden;
	width: 100%;
	margin: 0 0 15px 0;

}

#footer .contacts ul li.social ul li.info img{
	float: left;
	overflow:hidden;
	margin: 0 10px 6px 0; 
	width: 20%;
	height: 20%;
}

#footer .contacts ul li.social ul li.info p{
	float: left;
	overflow:hidden;
}

#footer .contacts ul li.social ul li.info p.address{
	
	float: left;
	overflow:hidden;
	font-size: 31px;
	font-weight: 400;
	color: #4e4d4d;
	line-height: 31px;
	width: 75%;
	font-family: Roboto;
	line-height: 31px;
	vertical-align: middle;
	margin: auto 0;
}

}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}

	#header {
	width:100%;
	display:block;
	position:relative;
	height: 68px;
	background-color: #2d2d2d; 
}






.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#63baa9;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#d5d5d5;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:300;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{top: 58px; left: 225px; z-index:1000000; font-weight:bold; font-size:0.8em; width:30%; background:rgba( 45, 45, 45, 0.6);  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#63baa9 1px solid;}
.menu li:hover{display: block;    background:rgba( 99, 186, 169, 0.6); padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#63baa9;}
.menu ul li a:hover {  color: #63baa9; text-decoration:none;}
.menu a{text-decoration:none; color:#63baa9;*1.2}
.menu a:hover{text-decoration:none; color:#d5d5d5;*1.2}



 
    


#main {
	overflow:hidden;
	display:block;
	width:100%;
	position: relative;
	z-index: 0;
}

#content {
	overflow:hidden;
	display:block;
	width:100%;
}

#content .picture{
	overflow:hidden;
	display:block;
	position: relative;
	padding: 0;
	margin: 0;
	width:100%;
	
}

#content .picture img{
	overflow:hidden;
	display:block;
	padding: 0;
	margin: 0;
	width:100%;

}
#content .portfolio{
	overflow:hidden;
	display:block;
	width:100%;
	
	background-color: #63baa9; 
	 
	border-color: transparent 1.3; 
}

#content .portfolio h3{
	overflow:hidden;
	float: left;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff; 
	margin: 61px 0 0 10px; 
	font-family: Roboto;
} 

#content .portfolio .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 110px;
	background-color: #ffffff;
	margin: 78px 0 84px 46px; 

	  
}




#content .portfolio ul{
	overflow:hidden;
	display:block;
	padding: 0 0 74px 0;
}

#content .portfolio ul li{
	display: block;
	overflow:hidden;
}

#content .portfolio ul li.text{
	overflow:hidden;
	display:block;
	width: 100%;
	height: auto;
	background-color: #f7671d; 
	
}

#content .portfolio ul li.text h3{
	overflow:hidden;
	display:block;
	font-size: 17px;
	font-weight: 600;
	color: #feeeea;
	padding-bottom: 25px;  
	line-height: 22px;
	margin: 0;
	text-transform: uppercase;
	font-family: Open Sans;
	padding: 38px 19px 38px 19px;
}

#content .portfolio ul li.text p{
	float: left;
	display:block;
	font-size: 17px;
	font-weight: 400;
	color: #fdddd3;
	padding: 0;
	
	line-height: 22px;
	font-family: 
	font-family: Open Sans;
	padding: 0 19px 38px 19px;

}

#content .portfolio ul li.white{
	display: block;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px auto 0 auto;
	

}

#content .portfolio ul li.white p.number{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}

#content .portfolio ul li.white p{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little{
	display: block;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px auto 0 auto;
}

#content .portfolio ul li.little p.no{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little p.words{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#content .portfolio ul li.little1{
	display: block;
	overflow:hidden;
	height: 121px;
	width: 248px;
	background-color: #ffffff; 
	margin: 10px auto 0 auto;
}

#content .portfolio ul li.little1 p.no{
	overflow:hidden;
	display:block;
	font-size: 24px;
	font-weight: 400;
	color: #d1751a;
	padding: 52px 206px 0 19px;
	margin: 0px;
	font-family: Open Sans;
}


#content .portfolio ul li.little1 p.words{
	overflow:hidden;
	display:block;
	font-size: 12px;
	font-weight: 400;
	color: #4e4d4d;
	margin: 0px;
	padding: 0 0 0 19px;
	font-family: Roboto;
}

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
	
	background-color: #303646; 
	
}

#footer img.nout {
	
	display: none;
	
}

#footer .contacts{
	display: block;
	overflow:hidden;
}

#footer .contacts h3{
	overflow:hidden;
	display: inline-block;
	padding: 36px 0 0 10px;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
	font-family: Roboto;
}

#footer .contacts .line{
	display: inline-block;
	overflow:hidden;
	height: 3px;
	width: 162px;
	background-color: #ffffff;
	margin: 85px 0 15px 5px;
}

#footer .contacts ul{
	display: block;
	overflow:hidden;
	width: 100%;
}

#footer .contacts ul li{
	display: block;
	overflow:hidden;
	
	
}

#footer .contacts ul li.write{
	display: block;
	overflow:hidden;
	width: 100%;
	padding: 0 28px 0 0;
}

#footer .contacts ul li.write h4{
	display: inline-block;
	overflow:hidden;
	font-size: 16px;
	font-weight: 400;
	color: #a3612d;
	padding: 13px 0 15px 13px; 
	font-family: Roboto;
	
}

#footer .contacts ul li.write .line1{
	display: inline-block;
	overflow:hidden;
	height: 1px;
	width: 180px;
	background-color: #4e4d4d;
	margin: 0 0px 20px 15px;
}

#footer .contacts ul li.write form{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .yourname label{
	display: block;
	overflow:hidden;
	font-size: 15px;
	font-weight: 400;
	color: #868686;
	padding: 5px 0 10px 15px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text1{
	display: block;
	overflow:hidden;
	width: 226px;
	height: 20px;
	background-color: #ffffff; 
	padding-bottom: 5px; 
	margin: 0 auto;
	font-size: 15px;
	font-weight: 400;
}

#footer .contacts ul li.write form .email{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .email label{
	display: block;
	overflow:hidden;
	font-size: 15px;
	font-weight: 400;
	color: #868686;
	padding: 15px 0 10px 15px; 
	font-family: Roboto;
}

#footer .contacts ul li.write form #text2{
	display: block;
	overflow:hidden;
	width: 226px;
	height: 25px;
	background-color: #ffffff; 
	margin: 0 auto;
	font-size: 15px;
	font-weight: 400;
}

#footer .contacts ul li.write form .message{
	display: block;
	overflow:hidden;
}

#footer .contacts ul li.write form .message label{
	display: block;
	overflow:hidden;
	font-size: 15px;
	font-weight: 400;
	color: #868686;
	padding: 15px 0 10px 15px; 
	font-family: Roboto;
}
#footer .contacts ul li.write form .message #textarea{
	display: block;
	overflow: hidden;
	width: 300px;
	height: 66px;
	background-color: #ffffff; 
	color: #000000;
	margin: 0 auto 10px auto; 
	font-size: 15px;
	font-weight: 400;
}

#footer .contacts ul li.write form .submit{
	float: right;
	overflow: hidden;
	width: 80px;
	height: 20px;
	background-color: #f7671d;
	border-radius: 4px 5px 4px 5px;
	border: none;
	padding: 0;
	margin: 10px 48px 0 308px;
	color: #ffffff;
	cursor: pointer;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
}

#footer .contacts ul li.social{
	display: block;
	overflow:hidden;
	width: 100%;
	text-align: center;
	
}

#footer .contacts ul li.social h4{
	display: inline-block;
	overflow:hidden;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 0; 
	font-family: Roboto;
	margin: 15px 0 0 15px;
}

#footer .contacts ul li.social h5{
	float: left;
	overflow:hidden;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	padding: 3px 12px 16px 50px; 
	font-family: Roboto;
	
}

#footer .contacts ul li.social .line2{
	display: inline-block;
	overflow:hidden;
	height: 2px;
	width: 130px;
	background-color: #4e4d4d;
	margin: 10px 0 22px 0;


}




#footer .contacts ul li.social p.ico {
	display: block;
	overflow:hidden;
	
	margin: 0 auto;
	width: 80%;


}
#footer .contacts ul li.social p.ico a{
	float: left;
	overflow:hidden;
	width: 15%;
	margin: 0 0 26px 0;
	text-align: center;
	padding: 0 0 0 35px;
}

#footer .contacts ul li.social p.ico a img{
	display: block;
	overflow:hidden;
	width: 200%;
	height: 200%;
	
}

#footer .contacts ul li.social .line3{
	float: left;
	overflow:hidden;
	height: 1px;
	width: 57px;
	background-color: #4e4d4d;
	margin: 11px 0 0 0;


}

#footer .contacts ul li.social ul{
	display: block;
	overflow:hidden;
	width: 80%;
	margin: 0 auto 20px auto;
}

#footer .contacts ul li.social ul li{
	display: block;
	overflow:hidden;
	text-align: center;
}

#footer .contacts ul li.social ul li.info{
	display: block;
	overflow:hidden;
	width: 100%;
	margin: 0 0 10px 0;

}

#footer .contacts ul li.social ul li.info img{
	float: left;
	overflow:hidden;
	margin: 0 7px 6px 0; 
	width: 15%;
	height:15%;
}

#footer .contacts ul li.social ul li.info p{
	float: left;
	overflow:hidden;
	margin: 10px 0 0 0;
}

#footer .contacts ul li.social ul li.info p.address{
	
	float: left;
	overflow:hidden;
	font-size: 16px;
	font-weight: 400;
	color: #4e4d4d;
	
	width: 70%;
	font-family: Roboto;
	line-height: 16px;
}
}