@font-face {
    font-family: 'blairmditcttmedium';
    src: url('../fonts/blairmditcttmedium.eot');
    src: url('../fonts/blairmditcttmedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blairmditcttmedium.woff') format('woff'),
         url('../fonts/blairmditcttmedium.ttf') format('truetype'),
         url('../fonts/blairmditcttmedium.svg#blairmditcttmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blairitc-tt-light';
    src: url('../fonts/blairitc-tt-light.eot');
    src: url('../fonts/blairitc-tt-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blairitc-tt-light.woff') format('woff'),
         url('../fonts/blairitc-tt-light.ttf') format('truetype'),
         url('../fonts/blairitc-tt-light.svg#blairitc-tt-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BlairITC-TT-Bold';
    src: url('../fonts/BlairITC-TT-Bold.eot');
    src: url('../fonts/BlairITC-TT-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BlairITC-TT-Bold.woff') format('woff'),
         url('../fonts/BlairITC-TT-Bold.ttf') format('truetype'),
         url('../fonts/BlairITC-TT-Bold.svg#BlairITC-TT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CastleType-StCT-RegExt';
    src: url('../fonts/CastleType-StCT-RegExt.eot');
    src: url('../fonts/CastleType-StCT-RegExt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CastleType-StCT-RegExt.woff') format('woff'),
         url('../fonts/CastleType-StCT-RegExt.ttf') format('truetype'),
         url('../fonts/CastleType-StCT-RegExt.svg#CastleType-StCT-RegExt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CastleType-StCT-MedExt';
    src: url('../fonts/CastleType-StCT-MedExt.eot');
    src: url('../fonts/CastleType-StCT-MedExt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CastleType-StCT-MedExt.woff') format('woff'),
         url('../fonts/CastleType-StCT-MedExt.ttf') format('truetype'),
         url('../fonts/CastleType-StCT-MedExt.svg#CastleType-StCT-MedExt') format('svg');
    font-weight: normal;
    font-style: normal;
}
